<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
        <title>Vedantu - Student</title>
    </head>
    <body>
        <div style="font-family: 'Arial'; font-size: 13px; color: #332e2b; margin: 20px auto 20px;">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td style="padding: 15px 0 ;border: 1px solid #332e2b; width: 50%; vertical-align: top">
                            <img style="width: 120px; padding: 10px 8px 5px" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/feb/Vedantu_logo.png" alt="Logo"></img>
                            <div style="font-size: 18px; font-weight: bold; padding-left: 20px">Vedantu Innovations Pvt.Ltd</div>
                            <div style="padding-top: 5px">
                                <div style="display: inline-block; width: 70px; vertical-align: top;  padding-left: 20px">Address :</div>
                                <div style="display: inline-block">Vedantu Innovations Pvt Ltd, <br></br>
                                    # 1081, Vistar Arcade, 2nd-3rd-4th Floor, <br></br>
                                    14th Main Road, Sector - 3, HSR Layout, <br></br>
                                    Bangalore-560102, Karnataka, India</div>
                            </div>
                            <div style="padding-top: 25px">
                                <div style="display: inline-block; width: 140px; vertical-align: top;  padding-left: 20px"><strong>Customer Name</strong></div>
                                <div style="display: inline-block"><strong>: {{name}}</strong></div>
                            </div>
                            <div>
                                <div style="display: inline-block; width: 140px; vertical-align: top;  padding-left: 20px"><strong>Customer Address</strong></div>
                                <div style="display: inline-block">: {{address}}</div>
                            </div>
                            <div>
                                <div style="display: inline-block; width: 140px; vertical-align: top;  padding-left: 20px"><strong>Customer email id</strong></div>
                                <div style="display: inline-block">: {{email}}</div>
                            </div>
                            <div>
                                <div style="display: inline-block; width: 140px; vertical-align: top;  padding-left: 20px"><strong>Customer Contact No.</strong></div>
                                <div style="display: inline-block">: {{contactNo}}</div>
                            </div>
                            <div>
                                <div style="display: inline-block; width: 140px; vertical-align: top;  padding-left: 20px"><strong>Customer User Id</strong></div>
                                <div style="display: inline-block">: {{userId}}</div>
                            </div>
                        </td>
                        <td style="padding: 0;width: 40%; vertical-align: bottom"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                    <tr>
                                        <td style="width: 48%"><div style="border: 1px solid #332e2b; padding: 5px 10px;">Invoice No.</div></td>
                                        <td style="width: 52%;"><div style="border: 1px solid #332e2b; padding: 5px 10px; font-weight: bold">{{invoiceNo}}</div></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 30%"><div style="border: 1px solid #332e2b; padding: 5px 10px;">Invoice Date</div></td>
                                        <td style="width: 70%;"><div style="border: 1px solid #332e2b; padding: 5px 10px; font-weight: bold">{{invoiceDate}}</div></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 30%"><div style="border: 1px solid #332e2b; padding: 5px 10px;">Invoice Type</div></td>
                                        <td style="width: 70%;"><div style="border: 1px solid #332e2b; padding: 5px 10px; font-weight: bold">Service</div></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 44%"><div style="border: 1px solid #332e2b; padding: 5px 10px;">Place of supply (State)</div></td>
                                        <td style="width: 70%;"><div style="border: 1px solid #332e2b; padding: 5px 10px;">{{state}}</div></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 30%"><div style="border: 1px solid #332e2b; padding: 5px 10px;">Place of supply (State Code)</div></td>
                                        <td style="width: 70%;"><div style="border: 1px solid #332e2b; padding: 5px 10px;">{{stateCode}}</div></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 30%"><div style="border: 1px solid #332e2b; padding: 5px 10px;">GST No.</div></td>
                                        <td style="width: 70%;"><div style="border: 1px solid #332e2b; padding: 5px 10px;">29AADCV8346G1ZX</div></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 30%"><div style="border: 1px solid #332e2b; padding: 5px 10px;">PAN No.</div></td>
                                        <td style="width: 70%;"><div style="border: 1px solid #332e2b; padding: 5px 10px;">AADCV8346G</div></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 30%"><div style="border: 1px solid #332e2b; padding: 5px 10px;">TAN No.</div></td>
                                        <td style="width: 70%;"><div style="border: 1px solid #332e2b; padding: 5px 10px;">BLRV10774B</div></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 30%"><div style="border: 1px solid #332e2b; padding: 5px 10px;">CIN No.</div></td>
                                        <td style="width: 70%;"><div style="border: 1px solid #332e2b; padding: 5px 10px;">U72900KA2011PTC060958</div></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 30%"><div style="border: 1px solid #332e2b; padding: 5px 10px;">Service Accounting Code</div></td>
                                        <td style="width: 70%;"><div style="border: 1px solid #332e2b; padding: 5px 10px;">999293</div></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 30%"><div style="border: 1px solid #332e2b; padding: 5px 10px;">Service Category</div></td>
                                        <td style="width: 70%;"><div style="border: 1px solid #332e2b; padding: 5px 10px;">Business Auxiliary Services</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table style="border: 1px solid #332e2b;" width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td style="font-weight: bold; background-color: #f5f5f5; font-size: 16px; padding: 10px 10px; width: 8%">Sl No.</td>
                        <td style="font-weight: bold; background-color: #f5f5f5; font-size: 16px; padding: 10px 20px; border-left: 1px solid #332e2b">Descriptions</td>
                        <td style="width: 18%; font-weight: bold; background-color: #f5f5f5; font-size: 16px; text-align: center; border-left: 1px solid #332e2b">Amount</td>
                    </tr>
                    <tr>
                        <td style="border-top: 1px solid #332e2b; text-align: center">1</td>
                        <td style="padding: 10px 20px; border-top: 1px solid #332e2b; border-left: 1px solid #332e2b">Fees for Online Tutoring</td>
                        <td style="text-align: right; padding: 10px; border-left: 1px solid #332e2b; border-top: 1px solid #332e2b; vertical-align: top">{{taxableAmount}}</td>
                    </tr>

                </tbody>
            </table>
            <table style="border-right: 1px solid #332e2b" width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td style="padding: 10px 20px; border-left: 1px solid #332e2b; vertical-align: bottom"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                    <tr>
                                        <td style="width: 20%; vertical-align: top">Payment Terms</td>
                                        <td>: Immediate / within 5 days</td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align: top">Amt in Words</td>
                                        <td>: {{amountWords}} Only.</td>
                                    </tr>
                                </tbody>
                            </table></td>
                        <td style="text-align: right; border-left: 1px solid #332e2b;  vertical-align: top; width: 36%;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                    <tr>
                                        <td style="width: 50%; padding: 10px;"><strong>Pre Tax Total</strong></td>
                                        <td style="padding: 10px;  border-left: 1px solid #332e2b">{{taxableAmount}}</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 50%; padding: 10px;border-top: 1px solid #332e2b">IGST @ 18.00%</td>
                                        <td style="padding: 10px;  border-left: 1px solid #332e2b; border-top: 1px solid #332e2b">{{igstAmount}}</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 50%; padding: 10px;border-top: 1px solid #332e2b">CGST @ 09.00%</td>
                                        <td style="padding: 10px;  border-left: 1px solid #332e2b; border-top: 1px solid #332e2b">{{cgstAmount}}</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 50%; padding: 10px;border-top: 1px solid #332e2b">SGST @ 09.00%</td>
                                        <td style="padding: 10px;  border-left: 1px solid #332e2b; border-top: 1px solid #332e2b">{{sgstAmount}}</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 50%; padding: 10px;border-top: 1px solid #332e2b; font-weight: bold">Total Amount</td>
                                        <td style="padding: 10px;  border-left: 1px solid #332e2b; border-top: 1px solid #332e2b; font-weight: bold">{{totalAmount}}</td>
                                    </tr>
                                </tbody>
                            </table></td>
                    </tr>
                </tbody>
            </table>


            <table style="padding: 20px; border-top: 1px solid #332e2b;border-left: 1px solid #332e2b; border-right:1px solid #332e2b; " width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td style="vertical-align: top"><div style="font-size: 16px; font-weight: bold; padding-bottom: 10px"> Make all Payment through NEFT/ONLINE to: </div>
                            <table  width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                    <tr>
                                        <td style="width: 200px"><div>Beneficiary Name</div>
                                            <div>Beneficiary Account Number</div>
                                            <div>Name of Beneficiary’s Bank</div>
                                            <div>Branch of Beneficiary’s Bank</div>
                                            <div>IFSC Code</div></td>
                                        <td ><div style="font-weight: bold">-  Vedantu Innovations Private Limited</div>
                                            <div style="font-weight: bold">-  107505001263</div>
                                            <div style="font-weight: bold">-  ICICI Bank Limited</div>
                                            <div style="font-weight: bold">-  Bellandur Sarjapur</div>
                                            <div style="font-weight: bold">-  ICIC0001075</div></td>
                                    </tr>
                                </tbody>
                            </table></td>

                        <td style="vertical-align: top"><div style="font-size: 16px; font-weight: bold; padding-bottom: 10px"> Direct all enquiries to: </div>
                            <table  width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                    <tr>
                                        <td style="width: 60px"><div>Phone</div>
                                            <div>Email</div>
                                            <div>CIN No.</div></td>
                                        <td ><div style="font-weight: bold">-  9879458939 </div>
                                            <div style="font-weight: bold">-  accounts@vedantu.com</div>
                                            <div style="font-weight: bold">-  U72900KA2011PTC060958</div></td>
                                    </tr>
                                </tbody>
                            </table></td>
                    </tr>
                </tbody>
            </table>

            <div style="border-left: 1px solid #332e2b; border-right:1px solid #332e2b;  padding: 10px 20px; color: #999999">*This is a system generated invoice on Vedantu Platform and does not require signature <br></br>
                **Unless otherwise stated, tax on this invoice is not payable under reverse charge basis.</div>
            <div style="border: 1px solid #332e2b; padding: 10px 20px; background-color: #bfe7f7">All Transactions / Disputes are subject to the Bangalore Jurisdiction.</div>

        </div>
    </body>
</html>
