<div style="line-height: 1.5em;">
	<b>Dear Parent, </b> <br>
	<div style="margin: 10px 0px 15px; padding-bottom: 10px">Your kid
		{{fromName}} has successfully completed the scheduled learning session
		with teacher {{teacherFullName}}. We hope {{fromName}} experienced the
		difference of 1-to-1 tuition.</div>
	<div style="margin: 10px 0px 15px;">
		<b>{{fromName}}</b>, has rated teacher, {{name}}
	</div>
	<div style="margin: 10px 0px 15px;">
		<b>Rating:</b> {{rating}}
	</div>
	{{#isReasonSet}}
	<div style="margin: 10px 0px 15px;">
		<b>Reason:</b> {{reason}}
	</div>
	{{/isReasonSet}} {{#review}}
	<div style="margin: 10px 0px 15px;">
		<b>Review:</b> <span style="font-style: italic">{{{review}}}</span>
	</div>
	{{/review}}
	<div style="margin: 15px 0px 15px">Happy Knowledge Sharing!</div>
	<div style="margin: 20px 0px 0px">Academically Yours,</div>
	<div style="margin: 5px 0px 40px">V</div>
</div>