<div style="line-height: 1.5em;">
	<b>Hey {{name}}, </b> <br>
	<div style="margin: 10px 0px 15px; padding-bottom: 10px">
		You have successfully completed your scheduled learning session with
		student <b>{{fromName}}</b>. We hope you are a step closer to bringing
		in a positive change in your student's life with live online tutoring
		and made the student realize the difference of 1-to-1 tuition.
	</div>
	<div style="margin: 10px 0px 15px;">
		<b>{{fromName}}</b>, your student on Vedantu, has rated you.
	</div>
	<div style="margin: 10px 0px 15px;">
		<b>Rating:</b> {{rating}}
	</div>
	{{#isReasonSet}}
	<div style="margin: 10px 0px 15px;">
		<b>Reason:</b> {{reason}}
	</div>
	{{/isReasonSet}} {{#review}}
	<div style="margin: 10px 0px 15px;">
		<b>Review:</b> <span style="font-style: italic">{{{review}}}</span>
	</div>
	{{/review}} {{#isLowRating}}
	<div
		style="margin: 10px 0px 20px; background-color: #eee; padding: 10px 17px 15px;">Student
		ratings and reviews are true motivator, let's pull up our socks and
		show the world the difference of great teaching to transform a
		student's life. View this rating on your profile page.</div>
	{{/isLowRating}} {{#isHighRating}}
	<div
		style="margin: 10px 0px 20px; background-color: #eee; padding: 10px 17px 15px;">Student's
		rating and review for you is the true indicator of how much a student
		has gained academically through your teaching. View this rating on
		your profile page.</div>
	{{/isHighRating}}


	<div style="margin: 15px 0px 15px">Happy Knowledge Sharing!</div>
	<div style="margin: 20px 0px 0px">Academically Yours,</div>
	<div style="margin: 5px 0px 40px">V</div>
</div>