<html>
<head></head>
<body>This is to notify that for batch {{batchId}}, <br><br>
    {{#sectionFillingInfos}}
        <b>{{sectionName}}</b> with Id <b>{{sectionId}}</b> of type <b>{{sectionType}}</b> is <b style="color:red;"> {{enrollmentCount}}% </b>  full ! <br><br>
    {{/sectionFillingInfos}}
</body>
</html>