<html>
<head></head>
<body>This is to notify that, <br><br>

    {{#emailInfos}}
        For student {{userId}}, {{message_1}} for batch {{batchId}} <b style="color:red;"> FAILED </b> {{message_2}}
    {{/emailInfos}}

</body>
</html>