<b>Hey {{name}}!</b>
<div style="margin: 20px 0px;">
	We have received new request for session. Following are the details:
</div>
<div style="margin: 20px 0px;">
	<div><span style="font-weight: bold;">Student Name</span>:{{studentName}}</div>
	<div><span style="font-weight: bold;">Student Email</span>:{{studentEmail}}</div>
	<div><span style="font-weight: bold;">Looking For</span>:{{lookingFor}}</div>
	<div><span style="font-weight: bold;">Subject</span>:{{subjectName}}</div>
	<div><span style="font-weight: bold;">Grade</span>:{{grade}}</div>
	<div><span style="font-weight: bold;">Target</span>:{{target}}</div>
	<div><span style="font-weight: bold;">Start Date</span>:{{startDate}}</div>
</div>
<div style="margin: 20px 0px;padding: 20px 15px;background-color: #F4F4F4;">
	<div>Click here to view complete details</div>
    <div style="padding-top: 20px;text-align: center;">
    	<a style="font-weight: bold;text-decoration: none;padding: 8px 25px;background-color: #E6632F;color: #FFF;font-size: 16px;" 
    		href="{{urlBase}}/tools#/arm-form-details/{{ARMformId}}">Click here</a>
    </div>
</div>
<div style="margin: 20px 0px;">
	<strong>In case you have any academic feedback, please share it with us <a href="mailto:academics@vedantu.com">academics@vedantu.com</a></strong>. 
And for any assistance with payment process, please feel free to contact us at <strong>1800-120-456-456</strong> and <a href="mailto:vcare@vedantu.com">vcare@vedantu.com</a>. 
</div>
<div style="margin: 20px 0px;"></div>
<div style="margin: 20px 0px;">Happy Learning :-)</div>
<div style="margin-top: 10px;">Vedantu</div>