<div style="margin: 20px 0px;">
	We have received new comment by admin on ARM form: {{comment}}
</div>


<div style="margin: 20px 0px;padding: 20px 15px;background-color: #F4F4F4;">
	<div>Click here to view complete details</div>
    <div style="padding-top: 20px;text-align: center;">
    	<a style="font-weight: bold;text-decoration: none;padding: 8px 25px;background-color: #E6632F;color: #FFF;font-size: 16px;" 
    		href="{{urlBase}}/tools#/arm-form-details/{{ARMformId}}">Click here</a>
    </div>
</div>
