<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">	
<meta charset="UTF-8">
<title>New assignment</title>
</head>

<body style="margin: 0">
	
	<div style="background-color: #eeeeee; text-align: center; margin: 0 auto; padding:2%">
		<div style="max-width: 600px; font-size: 14px; color: #5f5f5f; line-height: 1.75em; font-family: Arial; margin: 0 auto; background-color: #ffffff; text-align: left">
		<img style="width: 100%" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/feb/Banner_NewAssignment.jpg" alt="New Assignment">
		<!--<div style="background-image: url(https://storage.googleapis.com/vedantu-fos-qa-public-media/feb/Banner_SessionReport.jpg); height: 100px; background-size: 100%; text-align: left; background-repeat: no-repeat; background-position: right top">
		</div>-->
		<div style="padding: 30px 8% 5px">
			<div style="font-weight: bold">Hi {{UserName}},</div>
			<div style="margin-top: 16px; color: #5f5f5f;">Hope your classes are going well at Vedantu.<br>We have sent you this email to share the assignment with you.</div>
			
			<div style="border: 1px solid #eeeeee; padding: 20px 10px; line-height: 20px; text-align: center; margin-top: 20px;">
			<div style="font-size: 20px; line-height:1.5;font-weight:bold; margin-top:8px">{{Assignment Title}}</div>
			<div style="font-size: 13px; margin-top:8px;margin-bottom:16px;">{{Course title}}</div>
			<div style="margin-top: 8px">
			<a style="width: 180px; background-color: #ff7043; padding: 15px; color: #ffffff; text-decoration: none; display: inline-block; text-align: center; border-radius: 4px; margin: 8px 4px 0px" href="{{link}}">Attempt Now</a>
			</div>
			</div>
			
			<div style="margin-top: 24px; color: #5f5f5f;">It's a self-evaluative assignment i.e. you can attempt this assignment in your own time and can view the solutions attached with the assignment for better understanding. These assignments are an essential part of your Vedantu curriculum. And, we highly recommend you to take these assignments seriously and attempt them before the start of your next class.</div>

			<div style="margin-top: 24px; color: #5f5f5f;">You can also view/attempt these assignments on your Vedantu portal by following the simple steps:</div>
			<ol>
				<li>Log in to your registered Vedantu account</li>
				<li>The last shared assignment will be there on your post login page itself</li>
				<li>To view all assignments you can go inside your respective courses by clicking on the 'view detail' button on the course card</li>
				<li>You will see a content tab inside your course detail page, click on it to view all the content shared with you in that course</li>
			</ol>
				
			
			
			<div style="margin-top: 24px; color: #5f5f5f;">If you have any questions you write back to us on <a style="color: #ff7043; text-decoration: underline" href="mailto:vcare@vedantu.com">vcare@vedantu.com</a> <br>or call us on <a style="color: #ff7043;  text-decoration: underline" href="callto:1800120456456">1800 120 456 456</a> or <a style="color: #ff7043;  text-decoration: underline" href="callto:08039511577">080 3951 1577</a>.</div>
			<div style="margin-top: 24px; color: #5f5f5f;">Happy Learning! :)</div>
			<div style="margin-top: 24px">Academic team,<br>Vedantu</div>
			<div style="text-align: center; color: #999999; font-size: 10px; margin-top: 60px">This is a system generated mail. Please do not reply.</div>
		</div>
		</div>
		
		<div style="max-width: 600px; text-align: center; font-size: 14px; color: #999999; line-height: 1.75em; font-family: Arial; margin: 0 auto;margin-top: 28px">
			<div style="font-weight: bold">Any Queries?</div>
			<a style="color: #999999; text-decoration: none; font-size: 13px" href="mailto:vcare@vedantu.com">Mail us at: vcare@vedantu.com</a>
			<div style="height: 1px; background-color: #999999; max-width: 100px; text-align: center; display: block; margin: 12px auto"></div>
			<div style="">
			<a style="" href="https://www.facebook.com/VedantuInnovations/"><img style="max-width: 20px; padding: 10px; max-height: 20px" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/feb/Icon_FB.png" alt=""></a>
			<a style="" href="https://twitter.com/vedantu_learn?lang=en"><img style="width: 22px; padding: 10px" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/feb/Icon_TW.png" alt=""></a>
			<a style="" href="https://www.youtube.com/user/VedantuInnovations"><img style="width: 24px; padding: 10px" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/feb/Icon_Yt.png" alt=""></a>
			<a style="" href="https://blog.vedantu.com/"><img style="width: 18px; padding: 10px" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/feb/Icon_BL.png" alt=""></a>
			
			
			</div>
		</div>
		
	</div>
	
</body>
</html>
