<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Untitled Document</title>
</head>

<body style="background: #f5f5f5">
<div style=" max-width: 600px;  margin: 0 auto; background: #fff; font-family: Arial,sans-serif; font-size: 14px; line-height: 1.8em; color: #333;">
    <table style="padding-top: 40px;" width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
            <td style="width: 24px; padding-right: 20px;">
                <div style="width: 24px; height: 3px; background-color: #ff6200;"></div>
            </td>
            <td style="width: 110px; padding-right: 20px;"><img style="width: 110px;"
                                                                src="https://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/vedantu-newlogo.png"
                                                                alt=""></td>
            <td>
                <div style=" width: 100%; height: 3px; background: linear-gradient(45deg, #ff6200, #863E85);">
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <div style=" max-width: 85%; margin: 40px auto 0">
        <div style="font-size: 16px; font-weight: bold; margin-bottom: 8px;">Hi {{userName}}</div>
        <div style="margin-bottom: 24px;">Thanks for purchasing <strong>{{bundleTitle}}</strong> for
            <strong>Grade{{grade}}</strong> valid till <strong>{{validTill}}</strong>. Access your subscription
            using {{userEmail}} or {{userPhone}} at Vedantu.
        </div>

        <div style="background: #eee; height: 2px; width: 100%; margin-bottom: 24px;"></div>

        <div style="font-size: 16px; font-weight: bold; margin-bottom: 8px;">Subscription includes</div>
        <table style="margin-bottom: 32px;" width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody>
            <tr>
                <td style="border: 1px solid #FFD3B7;border-radius: 37px;width: 25px; height: 24px;font-size: 12px;line-height: 24px;text-align: center;">
                    1
                </td>
                <td style="padding-left: 12px;">Unlimited LIVE Classes</td>
                {{#isLiveClass}}
                <td><img width="20px;" height="20px;"
                         src="https://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/tick-fill.png"
                         alt=""></td>
                {{/isLiveClass}}
                {{^isLiveClass}}
                <td><img width="20px;" height="20px;"
                         src="https://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/cross-fill.png"
                         alt=""></td>
                {{/isLiveClass}}
            </tr>
            <tr>
                <td height="8px;" colspan="3"></td>
            </tr>
            <tr>
                <td style="border: 1px solid #FFD3B7;border-radius: 37px;width: 25px; height: 24px;font-size: 12px;line-height: 24px;text-align: center;">
                    2
                </td>
                <td style="padding-left: 12px;">Unlimited Doubts Solving</td>
                {{#isDoubtSolving}}
                <td><img width="20px;" height="20px;"
                         src="https://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/tick-fill.png"
                         alt=""></td>
                {{/isDoubtSolving}}
                {{^isDoubtSolving}}
                <td><img width="20px;" height="20px;"
                         src="https://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/cross-fill.png"
                         alt=""></td>
                {{/isDoubtSolving}}
            </tr>
            <tr>
                <td height="8px;" colspan="3"></td>
            </tr>
            <tr>
                <td style="border: 1px solid #FFD3B7;border-radius: 37px;width: 25px; height: 24px;font-size: 12px;line-height: 24px;text-align: center;">
                    3
                </td>
                <td style="padding-left: 12px;">Unlimited Access</td>

                {{#isUnlimitedAccess}}
                <td><img width="20px;" height="20px;"
                         src="https://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/tick-fill.png"
                         alt=""></td>
                {{/isUnlimitedAccess}}
                {{^isUnlimitedAccess}}
                <td><img width="20px;" height="20px;"
                         src="https://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/cross-fill.png"
                         alt=""></td>
                {{/isUnlimitedAccess}}
            </tr>
            <tr>
                <td height="8px;" colspan="3"></td>
            </tr>
            <tr>
                <td style="border: 1px solid #FFD3B7;border-radius: 37px;width: 25px; height: 24px;font-size: 12px;line-height: 24px;text-align: center;">
                    4
                </td>
                <td style="padding-left: 12px;">Unlimited Performance Improvement</td>
                {{#isUnlimitedPerformanceImprovement}}
                <td><img width="20px;" height="20px;"
                         src="https://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/tick-fill.png"
                         alt=""></td>
                {{/isUnlimitedPerformanceImprovement}}
                {{^isUnlimitedPerformanceImprovement}}
                <td><img width="20px;" height="20px;"
                         src="https://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/cross-fill.png"
                         alt=""></td>
                {{/isUnlimitedPerformanceImprovement}}
            </tr>
            <tr>
                <td height="8px;" colspan="3"></td>
            </tr>
            <tr>
                <td style="border: 1px solid #FFD3B7;border-radius: 37px;width: 25px;height: 24px;font-size: 12px;line-height: 24px;text-align: center;">
                    5
                </td>
                <td style="padding-left: 12px;">Dedicated Personal Teacher</td>
                {{#isPersonalTeacherIncluded}}
                <td><img width="20px;" height="20px;"
                         src="https://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/tick-fill.png"
                         alt=""></td>
                {{/isPersonalTeacherIncluded}}
                {{^isPersonalTeacherIncluded}}
                <td><img width="20px;" height="20px;"
                         src="https://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/cross-fill.png"
                         alt=""></td>
                {{/isPersonalTeacherIncluded}}
            </tr>
            </tbody>
        </table>

        <div style="background: #eee; height: 2px; width: 100%; margin-bottom: 24px;"></div>
        <div style="font-size: 16px; font-weight: bold; margin-bottom: 8px;">Subscription includes</div>
        {{#isFirstClass}}
        <div style="background-color: #FFECBA;background-image: url(https://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/dots1.png);background-repeat: no-repeat;background-position: right 24px;background-size: 100px;padding: 16px 0 0;border-radius: 4px;">
            <div style="background: #fff; color: #F19600; padding: 6px 16px; display: inline-block">Your
                <strong>first class</strong></div>
            <table style="padding:16px" width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td valign="top" style="text-align: center; padding-right: 12px;">
                        <div
                                style="font-size: 12px; text-transform: uppercase; line-height: 14px; font-weight: bold">
                            {{firstClassMonth}}
                        </div>
                        <div style="font-size: 20px; font-weight: bold; line-height: 24px;">
                            {{firstClassDayValue}}
                        </div>
                        <div style="font-size: 12px; text-transform: uppercase; line-height: 14px;">
                            {{firstClassDayName}}
                        </div>
                    </td>
                    <td valign="top">
                        <div style="width: 1px; height: 60px; background: #DAB65A;"></div>
                    </td>
                    <td valign="top" style="padding:0 12px;">
                        <div
                                style="font-size: 12px ; font-weight: bold; line-height: 18px; width: 90%; margin-bottom: 4px;">
                            {{firstClassTitle}}
                        </div>
                        <div style="font-size: 11px; line-height: 16px;">{{firstClassBundleTitle}} -
                            {{firstClassSubject}}
                        </div>
                    </td>
                    <td valign="top" style="text-transform: uppercase; padding-left: 12px; font-weight: bold">
                        {{firstClassStartTime}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        {{/isFirstClass}}
    </div>
    <div style="text-align: center">
        <div style="vertical-align: top; margin: 8px 4px 0; display: inline-block; width: 250px; background-color: #B2DEFF;background-image: url(https://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/dots2.png);background-repeat: no-repeat;background-position: right 30px; background-size: 55px;padding: 16px 0 0;border-radius: 4px; text-align: left">
            <div style="background: #fff; color: #3F8DC8; padding: 6px 16px; display: inline-block">Enrolled
                <strong>courses</strong></div>
            <div style="padding:16px">
                <ul style="margin: 0; padding: 0;">
                    {{#courseTitles}}
                    <li style="font-size: 12px; list-style: none;">
                        <img style="width:10px; margin-right: 6px;"
                             src="https://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/check.png"
                             alt="">
                        {{.}}
                    </li>
                    {{/courseTitles}}
                </ul>
            </div>
        </div>
        <div style="vertical-align: top; margin: 8px 4px 0; display: inline-block; width: 250px; background-color: #FFACAC; background-image: url(https://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/dots3.png);background-repeat: no-repeat;background-position: right 30px; background-size: 55px;padding: 16px 0 0;border-radius: 4px; text-align: left">
            <div style="background: #fff; color: #F28484; padding: 6px 16px; display: inline-block">Course
                <strong>experts</strong></div>
            <div style="padding:16px">
                <ul style="margin: 0; padding: 0;">
                    {{#teacherSubjectList}}
                    <li style="font-size: 12px; list-style: none;">
                        <img style="width:10px; margin-right: 6px;"
                             src="https://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/check.png"
                             alt="">
                        <strong>{{teacherName}}</strong> {{subject}}
                    </li>
                    {{/teacherSubjectList}}
                </ul>
            </div>
        </div>
    </div>

    <div style=" max-width: 85%; margin: 40px auto 0; padding-bottom: 64px;">

        <div style="background: #eee; height: 2px; width: 100%; margin-bottom: 24px;"></div>
        {{#isPaymentInfo}}
        <div style="font-size: 16px; font-weight: bold; margin-bottom: 8px;">Payment details</div>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody>
            <tr>
                <td style="padding-bottom: 4px;">Subscription Price</td>
                <td align="right">₹{{subscriptionFee}}</td>
            </tr>
            {{#isVEMI}}
            <tr>
                <td style="padding-bottom: 4px;">Amount paid</td>
                <td align="right">₹{{amountPaid}}</td>
            </tr>
            <tr>
                <td style="padding-bottom: 4px;">Remaining amount to be paid as EMI</td>
                <td align="right">₹{{remainingAmount}}</td>
            </tr>
            <tr>
                <td style="padding-bottom: 4px;">Amount per EMI</td>
                <td align="right">₹{{installmentAmount}}</td>
            </tr>
            <tr>
                <td style="padding-bottom: 4px;">Remaining number of EMIs</td>
                <td align="right">{{remainingInstallment}}</td>
            </tr>
            {{/isVEMI}}
            </tbody>
        </table>
        {{/isPaymentInfo}}
    </div>
</div>


<div style="font-family:Arial, 'sans-serif'; font-size: 14px; text-align: center">
    <p style="color:#999; text-decoration: none; margin: 30px 0; line-height: 20px">To know more reach out to our
        care team at <a style="color:#666; text-decoration: none"
                        href="mailto:vcare@vedantu.com">vcare@vedantu.com</a></p>
    <div style=" max-width: 252px; margin: 0 auto;  border-top: 1px solid #ddd; padding: 30px 0">
        <div style="text-transform: uppercase; letter-spacing: 1px; color: #999; padding-bottom: 5px">Stay Connected
        </div>

        <a href="http://www.facebook.com/VedantuInnovations"><img style="width: 34px; margin: 0 2px"
                                                                  src="https://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/facebook-icon.png"
                                                                  alt=""></a>

        <a href="https://twitter.com/vedantu_learn"><img style="width: 34px; margin: 0 2px"
                                                         src="https://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/twitter-icon.png"
                                                         alt=""></a>

        <a href="https://www.instagram.com/vedantu_learns/"><img style="width: 34px; margin: 0 2px"
                                                                 src="https://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/insta-icon.png"
                                                                 alt=""></a>

    </div>
</div>

</body>

</html>