<b>Great news!</b>
<div style="margin: 20px 0px;">Teachers available for all the
	slots: {{{availableTeachers}}}</div>
<div style="margin: 20px 0px;">Total available hours:
	{{{totalAvailableHours}}}</div>
<div style="margin: 20px 0px;">Total unavailable hours:
	{{{totalUnavailableHours}}}</div>
<div style="margin: 20px 0px;">Total booked hours: slots:
	{{{totalBookedHours}}}</div>

</br>
</br>
</br>
<div>Please find attachment of details availability of teachers</div>
<div style="margin-top: 40px;">Academically Yours,</div>
<div style="margin-bottom: 70px;">Team Vedantu</div>