<div style="padding: 35px 8% 25px; min-height: 300px;line-height:1.4em;">
    <b>Hi Admin,</b><br>
    <div style="margin: 10px 0px 10px; padding-bottom: 5px">
        This is to notify you that,
        <b>{{blockedUserRole}}: {{blockedUserName}} [{{blockedUserId}}]</b> has been blocked from using Vedantu
        by <b>{{callerUserRole}}: {{callerUserName}} [{{callerUserId}}]</b>.
    </div>
    
    <div style="margin:10px 0px 15px">
        {{#reason}}
            Here is the reason stated: <b>{{reason}}</b>
        {{/reason}}
        {{^reason}}
            No reason stated
        {{/reason}}
    </div>

    <div style="margin: 10px 0px 10px; padding-bottom: 5px">
        <div style="margin: 20px 0px 10px">Yours,</div>
        <div style="margin: 10px 0px 40px">Team RDX</div>
    </div>
</div>