<b>Dear {{studentName}}!</b>
<div style="margin: 20px 0px;">
    Thank you for enrolling in {{packageName}}. This course will help you boost your JEE preparation and will give you an extra edge by making you stay on top of what you have learned and strengthening your core so that you are able to crack the exam.
</div>
<div style="margin: 38px 0px;">
    <div style="font-size:14px;font-weight: bold;">What is included in these courses:</div>
    <ul>
        <li>LIVE classes on Solutions and Discussion of all major JEE books</li>
        <li>LIVE classes on NCERT solutions and Discussions</li>
        <li>LIVE sessions on time/stress management, Tips/Tricks</li>
        <li>Video lectures of all topics of 11th and 12th JEE</li>
        <li>Practice and mock tests for JEE and Boards</li>
    </ul>
</div>
<div style="padding: 20px 15px;background-color: #F4F4F4 ;">
    <div>So go ahead, Start learning!</div>
			{{#packageCourses}}
			    <div style="padding-top: 20px;text-align: center;">
			        <a style="font-weight: bold;text-decoration: none;padding: 8px 23px;background-color: #E6632F ;color: #FFF;font-size: 16px;min-width:330px;display:inline-block;"
			            href="{{webBaseUrl}}/validate/userSession/login?redirect={{encodedUrl}}">{{courseName}}</a>
			    </div>
			{{/packageCourses}}
</div>
<!--<div style="padding: 30px 0; text-align: center;">
    <img alt="course plan how to join image">
</div>-->
<div style="margin: 38px 0px;">
    <div style="font-size:14px;font-weight: bold;">Steps to ensure seamless Live Online Sessions:</div>
    <ul>
        <li>Have <strong>Good quality Headset with Microphone</strong> - any good quality mobile handsfree earphone with mic should work.</li>
        <li>Have <strong>Good internet connectivity</strong> to ensure seamless learning sessions.</li>
        <li><strong>Try Vedantu's Live Learning Tool</strong> and see how easy and fun learning can be. Try it here: <a href="{{vWebBaseUrl}}/trywhiteboard">https://www.vedantu.com/v/trywhiteboard</a></strong></li>
        <li>
            <div><strong>Test your System's Audio / Video</strong>. for taking Live Sessions. Click on <strong>'Run System Check'</strong> after logging to <a href="https://www.vedantu.com">www.vedantu.com</a> (as shown in image below).</div>
            <div>
                <img style="max-width:100%;padding-top: 5px;" alt="System Health Check Tab" 
                    src="https://storage.googleapis.com/vedantu-fos-public-media/SystemHealthCheckImag.png">
            </div>
        </li>
    </ul>
</div>
<div style="margin: 20px 0px;">
    We wish you a great learning experience. For any further assistance, you can call us on <strong>1800-120-456-456</strong>, or e-mail us at <a href="mailto:vcare@vedantu.com">vcare@vedantu.com</a>.
</div>
<div style="margin: 20px 0px;"></div>
<div style="margin: 20px 0px;">Thank You</div>
<div style="margin-top: 10px;">Team Vedantu</div>
