<b>Hi {{teacherName}}, </b>
<br>
<div style="margin: 13px 0px 13px;">Hope you had an awesome week
	teaching on vedantu.</div>
<div style="margin: 13px 0px 13px;">This email is to remind you to
	mark your availability to teach for next week. Please mark, review and
	confirm your calendar availability for the week.</div>

<div style="margin: 13px 0px 13px;">Please make sure your calendar
	is marked correctly, as the students decide to schedule sessions based
	on this.</div>
<div style="margin: 30px 0px 10px; text-align: center">
	<a
		style="text-decoration: none; display: inline-block; color: #fff; background-color: #e6632f; border-radius: 4px; padding: 14px 30px; margin-bottom: 20px; font-weight: bold; font-size: 16px;"
		href="{{calendarLink}}">Take me to My Calendar</a>
</div>
<div style="margin: 13px 0px 40px;">P.S. – Please ignore, if you
	have already marked your calendar.</div>

<div style="margin: 20px 0px 0px">Happy Knowledge Sharing,</div>
<div style="margin: 20px 0px 0px">Academically Yours,</div>
<div style="margin: 5px 0px 40px">Team V</div>
