<!DOCTYPE html>
<html>
  <head>
    <style>
      @media only screen and (max-device-width: 480px) {
        /* mobile-specific CSS styles go here */
      }
    </style>
  </head>
  <body>
    <div class="main">
      <div style="background-color: #ffffff;">
        <div style="margin: 0px auto; font-family: arial; padding-bottom: 30px; padding-top: 45px; background-color: #f5f5f5;">
          <div style="margin: 0px auto; font-family: arial; max-width: 600px; background-color: #ffffff;">
            <div style="text-align: center; color: #ffffff; font-size: 40px;"><img width="100%" alt="International School League" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/feb/ISL_17_letter_header.jpg"/></div>
            <div style="font-size: 14px; line-height: 22px; background-color: #ffffff; color: #444444;">
              <div style="padding: 35px 7% 25px; min-height: 300px;"><b>Hi There,</b>
                <div style="margin-top: 10px;">You are one step closer to Win a kindle, keep attempting daily challenges to top the leaderboard.</div>
                <div style="margin-top: 30px; text-align: center">New challenges are up</div>
                <a style="margin: 5px auto 45px;width: 180px; display: block; background-color: #e6632f; color: #ffffff; text-decoration: none; border-radius: 4px; padding: 10px; text-align: center" href="https://isl.vedantu.com/login">View Today’s Challenges</a>
                <div style="margin-top: 15px;">
                	You have scored {{points}} for the challenges attempted on {{date}}.  You can check out the complete solution and discussion <a href="https://isl.vedantu.com/login">click here</a>
                </div>
                <div style="margin-top: 15px;">
                	So what are you waiting for? Get your Kindle right away.
                </div>
                <div style="margin-top: 15px;">In case of any queries, you can write to me at <a style="text-decoration: none" href="mailto:isl@vedantu.com">isl@vedantu.com</a> </div>
                <div style="margin-top: 30px;">
                	Good Luck!
                </div>
                <div><b>Pulkit Jain</b></div>
                <div style="margin: 15px 0px 30px;">With lots of best wishes from - Team ISL and Times of India</div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
