<div style="padding: 35px 8% 25px; min-height: 300px">
	<b>Hi {{studentName}},</b><br>
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">
		Your request for change of teacher is accepted. We have assigned a new
		teacher, <b>{{teacherName}}, {{teacherMobileNumber}}</b> of <b>{{courseName}}</b> for
		you. Please note all the scheduled session(s) under the previous subscription are canceled.
                <p style="margin: 10px 0">We strongly recommend you to get in touch with your new teacher to share your requirements clearly before scheduling a session.</p>
                <p style="margin: 10px 0">Here are the details once again for you –</p>
	</div>
	<div
		style="margin: 10px 0px 5px; border-bottom: 1px dashed #ccc; padding: 0 0 25px;">
		<ul style="margin: 0; padding: 0; line-height: 25px">
			<li style="list-style: none"><b>Previous Teacher –</b>{{previousTeacherFullName}}</li>
			<li style="list-style: none"><b>New Teacher –</b> {{teacherFullName}}</li>
			<li style="list-style: none"><b>Course –</b> {{courseName}}</li>
			<li style="list-style: none"><b>Change request date –</b>
				{{lastUpdatedTime}}</li>
		</ul>
	</div>
	<div style="margin: 15px 0px 40px;">
		V are here for you. Let us know if you need anything else. You can
		catch us on {{displayMobileNumber}} or email us at <a
			href="mailto:{{displayEmailId}}">{{displayEmailId}}</a>
	</div>

	<div style="margin: 20px 0px 0px">Happy Learning!</div>
	<div style="margin: 5px 0px 0px">Academically Yours,</div>
	<div style="margin: 5px 0px 40px">V</div>
</div>
