<div style="padding: 35px 8% 25px; min-height: 300px">
	<b>Hey Team,</b><br>
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">
		<b>{{studentFullName}}</b> has raised a request for changing the
		teacher, <b>{{teacherFullName}}</b> for <b>{{courseName}}.</b> <br />
		<br />Here is the reason mentioned for the request -
	</div>
	<div
		style="margin: 10px 0px 5px; border-top: 1px dashed #ccc; border-bottom: 1px dashed #ccc; padding: 25px 0; text-align: center; font-family: Georgia, serif, 'DejaVu Serif'; font-style: italic; font-size: 20px; line-height: 25px;">
		{{{reason}}}</div>
	<div style="margin: 15px 0px 50px;">
		Please review the request and assign a new teacher for <b>{{studentName}}</b>
		within next 24-hrs (max).
	</div>


	<div style="margin: 20px 0px 0px">Academically Yours,</div>
	<div style="margin: 5px 0px 40px">Team Vedantu.</div>
</div>