<div style="padding: 35px 8% 25px; min-height: 300px">
	<b>Hi {{previousTeacherFirstName}},</b><br>
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">
		Unfortunately <b>{{studentFullName}}</b> has unsubscribed with you and
		has requested for the change of teacher. Please note all the scheduled session(s) under the subscription are canceled.
<br /> <br />Here is the reason
		mentioned for the request by the student
	</div>
	<div
		style="margin: 10px 0px 5px; border-top: 1px dashed #ccc; border-bottom: 1px dashed #ccc; padding: 25px 0; text-align: center; font-family: Georgia, serif, 'DejaVu Serif'; font-style: italic; font-size: 20px; line-height: 25px;">
		{{{reason}}}
        </div>
        <p style="margin: 10px 0px;">Please note all your scheduled session(s) under the subscription will be canceled.</p>
	<div style="margin: 15px 0px 40px;">
		Change is quite inevitable at times. Don't lose hope, more students
		are waiting for you! <br />V are here for you. Let us know if you
		need anything else. You can catch us on {{displayMobileNumber}} or
		email us at <a href="mailto:{{displayEmailId}}">{{displayEmailId}}</a>
	</div>

	<div style="margin: 20px 0px 0px">Happy Knowledge Sharing!</div>
	<div style="margin: 5px 0px 0px">Academically Yours,</div>
	<div style="margin: 5px 0px 40px">V</div>
</div>
