<div style="padding: 35px 8% 25px; min-height: 300px">
	<b>Dear Parent,</b><br>
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">
		Teacher <b>{{teacherName}}</b> has been assigned for <b>{{studnetName}}</b>
		to take up <b>{{courseName}}.</b> <b>{{studentName}}</b> requested for
		the change of teacher on <b>{{lastUpdatedTime}}.</b> Please note all the scheduled session(s) under the subscription are canceled.
<br /> <br />Here
		are the details once again for you –
	</div>
	<div
		style="margin: 10px 0px 5px; border-bottom: 1px dashed #ccc; padding: 0 0 25px;">
		<ul style="margin: 0; padding: 0; line-height: 25px">
			<li style="list-style: none"><b>Previous Teacher –</b>
				{{previousTeacherFullName}}</li>
			<li style="list-style: none"><b>New Teacher –</b>
				{{teacherFullName}}</li>
			<li style="list-style: none"><b>Course –</b> {{courseName}}</li>
			<li style="list-style: none"><b>Change request date –</b>
				{{lastUpdatedTime}}</li>
		</ul>
	</div>
	<div style="margin: 15px 0px 40px;">
		V are here for you. Let us know if you need anything else. You can
		catch us on {{displayMobileNumber}} or email us at <a
			href="mailto:{{displayEmailId}}">{{displayEmailId}}</a>
	</div>

	<div style="margin: 5px 0px 0px">Academically Yours,</div>
	<div style="margin: 5px 0px 40px">V</div>
</div>
