<div style="padding: 35px 8% 25px; min-height: 300px">
	<b>Dear Parent,</b><br>
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">
		<b>{{studentName}}</b> has raised a request for changing the teacher,
		<b>{{teacherName}}</b> for <b>{{courseName}}.</b> <br /> <br />Here
		is the reason mentioned for the request -
	</div>
	<div
		style="margin: 10px 0px 5px; border-top: 1px dashed #ccc; border-bottom: 1px dashed #ccc; padding: 25px 0; text-align: center; font-family: Georgia, serif, 'DejaVu Serif'; font-style: italic; font-size: 20px; line-height: 25px;">
		{{reason}}</div>
	<div style="margin: 15px 0px;">
		We are working on the request and will assign a new teacher for <b>{{studentName}}</b>
		within next 24-hrs.
	</div>


	<div style="margin: 15px 0px 40px;">
		V are here for you. Let us know if you need anything else. You can
		catch us on {{displayMobileNumber}} or email us at <a
			href="mailto:{{displayEmailId}}">{{displayEmailId}}</a>
	</div>
	<div style="margin: 20px 0px 0px">Academically Yours,</div>
	<div style="margin: 5px 0px 40px">V</div>
</div>