<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="shortcut icon" href="https://alpha.vedantu.com/static/images/favicon.ico" type="image/x-icon">
<title>Vedantu</title>
</head>
<body>
<div style="background-color:#FFFFFF;">
  <div style="margin:0px auto;font-family:arial;padding-bottom:30px;padding-top:45px; background-color: #F5f5f5">
  <div style="margin:0px auto;font-family:arial;max-width:600px; background-color: #FFFFFF">
    <div style="">
      <div style="text-align:center;color:rgb(255,255,255);font-size:40px;"> 
      <img width="100%" alt="International School League" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/feb/ISL_17_letter_header.jpg">
      </div>
      
      <div style="font-size:14px; line-height:22px; background-color:rgb(255,255,255);color:rgb(68,68,68)">
        <div style="padding:55px 7% 50px;min-height:300px"> 
        
          <div style="max-width:600px; margin: 0 auto; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:14px; background-color:white; line-height:1.5;">
        <div style="margin-top:15px;">
          Hi {{studentName}}, 
        </div>
           
        <div style="margin-top:15px;">
          Your ISL Clan - {{clanName}} has been created successfully. You are the Clan Leader. 
        </div>
          
        <div style="margin-top:15px;">
          You can now start inviting your friends to join your Clan - Click this link to get sharing options: <a href={{shareUrl}} target="_blank">link</a>   
        </div>
        <div style="margin-top:15px;">
          And here is what you need to do to take your CLAN towards victory: 
        </div>
        <ul style="font-weight:bold; margin-top:0;">
          <li>Invite more students: 
            <ul style="font-weight:normal">
              <li>
                More the number of people in your Clan - more the Bonus Points your Clan earns 
              </li>
            </ul>
          </li>
          <li>Invite smart students:
            <ul style="font-weight:normal">
              <li>
                Points earned by top 10 students in your Clan gets added to your Clan Points.  
              </li>
            </ul>
          </li>
          <li>Attempt Daily Challenges:
            <ul style="font-weight:normal">
              <li>
                All your clan member’s challenges attempts  adds up to your Clan points - new challenges open every day. 
              </li>
            </ul>
          </li>
          <li>Attempt Clan only picture challenge: 
            <ul style="font-weight:normal">
              <li>
                Lookout for special Clan only Picture Challenge that will be launched soon - super boost your Clans Points by attempting that. 
              </li>
            </ul>
          </li>
        </ul>
        <div style="margin-top:15px;">
          So - the Leader - go make your Clan win \m/.
        </div>
        <div style="margin-top:15px;">
          Best wishes<br>
          Team ISL
        </div>
      </div>
      </div>
      </div>

    <div style=" width: 96%; color:#fff; font-size:12px; display:inline-block;padding: 3% 2%; background-color: #f5f5f5"> <span style="  float:left;  width:50%">
      <p style="font-size:12px; padding:0px;margin: 0; color: #777; font-weight:bold; ">Any Queries?<br>
        <a target="_blank" style="text-decoration:none; color:#a39a95; font-weight:normal;margin-top: 5px;display: inline-block;" href="mailto:vcare@vedantu.com"> Mail us at: vcare@vedantu.com</a></p>
      </span> <span style="  float:right; ">
      <p style="font-size:12px; padding:0px;margin: 0; color: #777; font-weight:bold; ">Follow Us on<br>
        <a href="https://twitter.com/vedantu_learn" style="text-decoration: none;color:#e6632f;"><img src="http://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/twitter.png"></a> <a style="text-decoration: none; color:#e6632f;;" href="http://www.facebook.com/VedantuInnovations"><img src="http://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/facebook.png"></a> <a style="text-decoration: none; color:#e6632f;" href="https://www.youtube.com/user/VedantuInnovations"><img src="http://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/youtube.png"></a> <a href="http://blog.vedantu.com/" style="text-decoration: none;color:#e6632f;"><img src="http://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/blog.png"></a></p>
      </span> </div>
      </div>
  </div>
</div>
</body>
</html>