<div style="padding: 35px 8% 25px; min-height: 300px;line-height:1.4em;">
	<b>Hey {{studentName}},</b><br>
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">
		Your teacher, {{teacherName}}, has shared {{contentTypeText}} for you on {{topicName}}, {{subjectName}}. We encourage you to view the {{contentType}} today through your <a href="{{domain}}/shared-contents/{{contentType}}">dashboard</a>.
	</div>
	<div style="margin: 20px 0px 10px">All the best!</div>
	<div style="margin: 10px 0px 10px">Keep Learning!</div>
	<div style="margin: 10px 0px 10px">Academically Yours,</div>
	<div style="margin: 10px 0px 40px">Team V</div>
</div>
