<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">


            <div style="padding:10px 7% 25px;min-height:300px; line-height: 1.6em; color: #666666 ; font-size:12px; background-color:rgb(255,255,255); margin:0px auto;font-family:arial;padding-bottom:30px; max-width:580px;">

                <div style="margin-top: 25px; font-weight: bold; color: #666666">Hey {{studentName}},</div>
                <div style="margin-top: 15px; color: #666666"><span style="font-weight: bold; ">Welcome aboard! </span>- You’ve successfully purchased our package - {{courseName}}.</div>

                <div style="margin-top: 5px;color: #666666">In the light of the Corona outbreak, Vedantu is happy to provide you free access to Vedantu Pro and help you learn LIVE uninterrupted from the safety of your home.</div>
                <div style="margin-top: 5px;color: #666666">#StaySafe #FightCOVID19</div>
                <div style="margin-top: 5px;color: #666666">As a part of the package you would have access to our following modules:</div>

                <table style="margin-top: 10px" width="100%">
                    <tbody>
                    {{#hasCourse}}
                    <tr>
                        <td style="vertical-align: top; padding-top: 18px; width: 32px"><img style="max-width: 32px;" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/feb/W-Icons_1.png" alt=""></td>
                        {{#hasRecordedCourses}}
                        <td style="vertical-align: top; padding-top: 15px"><div style="display: inline-block; color: #666666; font-weight: bold;">Recorded Courses</div>
                            <div style="color: #666666">Recordings of LIVE sessions taught by India’s best teachers, give you an in-depth explanation about the concept and also clear major doubts that are frequently asked by the students. You can access these sessions anytime during & after the course period. You also get corresponding assignments to help you gauge your understanding of the concept.
                            </div>
                        </td>

                        {{/hasRecordedCourses}}
                        {{^hasRecordedCourses}}
                        <td style="vertical-align: top; padding-top: 15px"><div style="display: inline-block; color: #666666; font-weight: bold;">Live Interactive Courses</div>
                            <div style="color: #666666">This is the most important and valuable part of your Vedantu learning package. You will get access to all LIVE courses that relevant to your grade. To check your courses and related details <a style="font-size: 11px; color: #e6632f; text-decoration: underline;" href="https://www.vedantu.com/">click here</a>.
                                <div style="margin-top: 8px">These courses are taken by Vedantu Master Teachers - India’s best teachers. We highly recommend you to take these courses seriously and attend all LIVE classes for better learning outcome in your school exams, boards and competitive exams.</div></div>
                        </td>
                        {{/hasRecordedCourses}}
                    </tr>
                    {{/hasCourse}}
                    {{#hasVideo}}
                    <tr>
                        <td style="vertical-align: top; padding-top: 18px; width: 32px"><img style="max-width: 32px; height: 32px;margin-right: 10px; " src="https://storage.googleapis.com/vedantu-fos-qa-public-media/feb/W-Icons_2.png" alt=""></td>
                        <td style="vertical-align: top; padding-top: 15px"><div style="display: inline-block; color: #666666; font-weight: bold;">Concept Videos</div>
                            <div style="color: #666666">Concept videos are an integral part of your learning cycle at Vedantu. These are different from your LIVE courses. You can access to concept videos on topic and subtopic level for all the chapters that are part of your curriculum, anytime & anywhere. To check out the videos <a style="font-size: 11px; color: #e6632f; text-decoration: underline;" href="https://www.vedantu.com/">click here</a>.</div></td>
                    </tr>
                    {{/hasVideo}}
                    {{#hasTest}}
                    <tr>
                        <td style="vertical-align: top; padding-top: 18px; width: 32px"><img style="max-width: 32px;height: 32px;margin-right: 10px;" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/feb/W-Icons_3.png" alt=""></td>
                        <td style="vertical-align: top; padding-top: 15px"><div style="display: inline-block; color: #666666; font-weight: bold;">Practice Tests</div>
                            <div style="color: #666666">Practice tests are time-bound self-assessment tests designed in a quiz format. These tests will help you in measuring your understanding of the chapter, topic and subtopic level. We highly recommend that you give proper time to attempt and analyze these tests. To check out these tests <a style="font-size: 11px; color: #e6632f; text-decoration: underline;" href="https://www.vedantu.com/">click here</a>.</div></td>
                    </tr>
                    {{/hasTest}}
                    {{#hasDoubt}}
                    <tr>
                        <td style="vertical-align: top; padding-top: 18px; width: 32px"><img style="max-width: 32px;margin-right: 10px;" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/feb/W-Icons_4.png" alt=""></td>
                        <td style="vertical-align: top; padding-top: 15px"><div style="display: inline-block; color: #666666; font-weight: bold;">Unlimited Doubts</div>
                            <div style="color: #666666">As educationists, we do understand that doubt solving is an essential part of the learning journey of a student. And, as a part of this package, you will get premium access to ask unlimited doubts from our doubt experts. Our experts will solve your doubts in real time via LIVE chatting medium. After logging in on Vedantu website you will see a doubt asking card on your homepage, click on the card to ask doubts!</div></td>
                    </tr>
                    {{/hasDoubt}}
                    </tbody>
                </table>


                <div style="margin-top: 30px;color: #666666">If you have any questions you write back to us on <a style="color: #33cccc" href="mailto:vcare@vedantu.com">vcare@vedantu.com</a> or call us on <br>1800-120-456-456 or +91 988-660-2456.</div>
                <div style="margin-top: 10px;color: #666666">Hope you have a great learning experience at Vedantu :)</div>
                <div style="margin:20px 0px 26px; color: #666666">Academic Team, Vedantu</div>


        </div>

