<b>Hi !</b>
<div style="margin: 20px 0px;">
    New Course Plan request form arrived. Below are the details
</div>
<div style="margin: 20px 0px;">
    <b>Student Name:</b> {{studentName}} ({{studentId}})<br>
    <b>Student Email: </b> {{studentEmail}}<br>
    <b>Grade: </b> {{grade}}<br>
    <b>Board: </b> {{board}}<br>
    {{#teacherName}}
    <b>Teacher Name:</b> {{teacherName}} ({{teacherId}})<br>
    {{/teacherName}}
    <b>Requirement:</b> {{requirement}}    
</div>
<div style="margin: 20px 0px;">
    {{#dates}}
        {{.}}<br>
    {{/dates}}    
</div>
<div style="margin: 20px 0px;">
    Request Sent on: {{requestSentOn}}
</div>

