<b>Hi !</b>
<div style="margin: 20px 0px;">
    Trial Sessions done for a course. Please take action
</div>
<div style="margin: 20px 0px;">
    {{#trialCoursePlanInfo}}
    <div>
        {{#student}}
        <b>Student Name:</b> {{fullName}} <br>
        <b>Student Email: </b> {{email}}<br>        
        {{/student}}
    </div>
    <div>
        {{#teacher}}
        <b>Teacher Name:</b> {{fullName}}<br>
        <b>Teacher Email: </b> {{email}}<br>        
        {{/teacher}}
    </div>
    <b>Course Plan:  </b> {{title}}<br>
    <b>Course Plan Link :  </b> {{description}}<br>
    {{/trialCoursePlanInfo}}
</div>
<table style="border:1px solid #ccc; border-bottom:0; margin:25px 0 0 ; color:#555; font-size:13px" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td style="padding:10px 3%; border-bottom:1px solid #ddd; color:#333; background:#f2f2f2; " >SessionId</td>
            <td style="padding:10px 3%; border-bottom:1px solid #ddd; color:#333;  background:#f2f2f2;" >Date</td>
            <td style="padding:10px 3%; border-bottom:1px solid #ddd; color:#333;  background:#f2f2f2;" >Billing Period</td>
            <td style="padding:10px 3%; border-bottom:1px solid #ddd; color:#333;  background:#f2f2f2;" >State</td>
        </tr>
        {{#trailDoneSessions}}
        <tr>
            <td style="padding:10px 3%; border-bottom:1px solid #ccc; font-weight:bold;" >{{sessionId}}</td>
            <td style="padding:10px 3%; border-bottom:1px solid #ccc; font-weight:bold;" >{{remark}}</td>
            <td style="padding:10px 3%; border-bottom:1px solid #ccc; font-weight:bold;" >{{description}}</td>
            <td style="padding:10px 3%; border-bottom:1px solid #ccc; font-weight:bold;" >{{state}}</td>
        </tr>
        {{/trailDoneSessions}}
    </tbody>
</table>
