<b>Hi {{teacherName}}!</b>
<div style="margin: 20px 0px;">
	Student {{studentName}} contacted Vedantu with specific academic requirement. After carefully analyzing the requirement, we have created a Course Plan for the child. And we believe you are best suited to teach this student. 
</div>
<div style="padding: 20px 15px;background-color: #F4F4F4;">
	<div style="text-align: center;font-size: 19px;padding-bottom: 10px;">You can view the Course Plan shared with the student here:</div>
    <div style="padding-top: 20px;text-align: center;">
    	<a style="font-weight: bold;text-decoration: none;padding: 8px 25px;background-color: #E6632F;color: #FFF;font-size: 16px;" 
    		href="{{urlBase}}/courseplan/{{coursePlanId}}">View Course Plan</a>
    </div>
</div>
<!--<div style="padding: 30px 0; text-align: center;">
	<img alt="course plan how to join image">
</div>-->
<div style="margin: 38px 0px;">
	<div style="font-size:14px;font-weight: bold;">Next Steps:</div>
	<ul>
		<li>Student needs to accept the Course Plan for planned sessions to get scheduled</li>
		<li>We will notify you as soon as student has accepted the plan</li>
		<li>You can check the status here: <a style="font-weight: bold;font-size: 16px;" 
    		href="{{urlBase}}/courseplan/{{coursePlanId}}">View Course Plan</a></li>
	</ul>
</div>
<div style="margin: 20px 0px;">
	<strong>Please feel free to connect with Vedantu Academics Team for any discussion at <a href="mailto:academics@vedantu.com">academics@vedantu.com</a> or <a href="mailto:sridhar.rotnadigikar@vedantu.com">sridhar.rotnadigikar@vedantu.com</a>
	</strong>. 
	<div style="padding-top: 15px;">And for any assistance in general, please feel free to contact us at 1800-120-456-456 and <a href="mailto:vcare@vedantu.com">vcare@vedantu.com.</div>
</div>
<div style="margin: 20px 0px;"></div>
<div style="margin: 20px 0px;">Happy Teaching!</div>
<div style="margin-top: 10px;">Academically Yours,</div>
<div style="margin-top: 10px;">Team Vedantu</div>