<b>Hi !</b>
<div style="margin: 20px 0px;">
    Trial sessions are scheduled, but the reg fee is not paid yet. Please take action.
</div>
<div style="margin: 20px 0px;">

</div>
<table style="border:1px solid #ccc; border-bottom:0; margin:25px 0 0 ; color:#555; font-size:13px" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td style="padding:10px 3%; border-bottom:1px solid #ddd; color:#333; background:#f2f2f2; " >Course</td>
            <td style="padding:10px 3%; border-bottom:1px solid #ddd; color:#333;  background:#f2f2f2;" >First Trial Date</td>
            <td style="padding:10px 3%; border-bottom:1px solid #ddd; color:#333;  background:#f2f2f2;" >Student</td>
            <td style="padding:10px 3%; border-bottom:1px solid #ddd; color:#333;  background:#f2f2f2;" >Teacher</td>
        </tr>
        {{#coursePlanInfos}}
        <tr>
            <td style="padding:10px 3%; border-bottom:1px solid #ccc; font-weight:bold;" >{{description}}</td>
            <td style="padding:10px 3%; border-bottom:1px solid #ccc; font-weight:bold;" >{{demoVideoUrl}}</td>
            <td style="padding:10px 3%; border-bottom:1px solid #ccc; font-weight:bold;" >
                {{#student}}
                {{fullName}}<br>
                {{email}}<br>
                {{userId}}
                {{/student}}
            </td>
            <td style="padding:10px 3%; border-bottom:1px solid #ccc; font-weight:bold;" >
                {{#teacher}}
                {{fullName}}<br>
                {{email}}<br>
                {{userId}}
                {{/teacher}}
            </td>
        </tr>
        {{/coursePlanInfos}}
    </tbody>
</table>