
</br>
</br>
<div>Course plan consistency report - Execution time from {{calculatedStartTime}} to {{calculatedEndTime}}!</div>
</br>
<div>Course plan status : {{reportStatus}}</div>
</br>
<div>Inconsistent course plan details : {{reportStatus}}</div>
	<div
		style="border: 1px solid #ccc; border-bottom: 0px; text-align: center">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tbody>
				<tr>
					<th
						style="border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; padding: 10px 0;"
						scope="col">Course plan id</th>
					<th
						style="border-bottom: 1px solid #ccc; padding: 10px 0; color: #e6632f;"
						scope="col">Existing Consumer hours</th>
					<th
						style="border-bottom: 1px solid #ccc; padding: 10px 0; color: #e6632f;"
						scope="col">Existing Locked hours</th>
					<th
						style="border-bottom: 1px solid #ccc; padding: 10px 0; color: #e6632f;"
						scope="col">Actual consumed hours</th>
					<th
						style="border-bottom: 1px solid #ccc; padding: 10px 0; color: #e6632f;"
						scope="col">Actual locked hours</th>
					<th
						style="border-bottom: 1px solid #ccc; padding: 10px 0; color: #e6632f;"
						scope="col">Actual active hours</th>
				</tr>
				{{#errorCoursePlanEntries}}
				<tr>
					<td
						style="font-size: 20px; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; padding: 20px 0;">{{coursePlanId}}<br />
					<td
						style="font-size: 20px; border-bottom: 1px solid #ccc; padding: 20px 0; color: #e6632f">{{existingConsumedHours}}</td>
					<td
						style="font-size: 20px; border-bottom: 1px solid #ccc; padding: 20px 0; color: #e6632f">{{existingLockedHours}}</td>
					<td
						style="font-size: 20px; border-bottom: 1px solid #ccc; padding: 20px 0; color: #e6632f">{{actualEndedSessionDuration}}</td>
					<td
						style="font-size: 20px; border-bottom: 1px solid #ccc; padding: 20px 0; color: #e6632f">{{actualLockedHours}}</td>
					<td
						style="font-size: 20px; border-bottom: 1px solid #ccc; padding: 20px 0; color: #e6632f">{{actualActiveSessionDuration}}</td>
				</tr>
				{{/errorCoursePlanEntries}}
			</tbody>
		</table>
	</div>

<div style="margin-top: 40px;">Academically Yours,</div>
<div style="margin-bottom: 70px;">Team Vedantu</div>