<b>Hi {{name}}!</b>
<div style="margin: 20px 0px;">
	After carefully analyzing your academic requirement, we have created a Course Plan for you with a teacher who we think is best suited to teach you.
</div>
<div style="padding: 20px 15px;background-color: #F4F4F4;">
	<div style="text-align: center;font-size: 19px;padding-bottom: 10px;">Your teacher: {{teacherName}}</div>
	<div>View your Course Plan and click on 'Join Course' to start learning.</div>
	<div style="padding-top: 20px;text-align: center;">
		<a style="font-weight: bold;text-decoration: none;padding: 8px 25px;background-color: #E6632F;color: #FFF;font-size: 16px;"
		   href="{{urlBase}}/courseplan/{{coursePlanId}}">View Course Plan</a>
	</div>
</div>
<!--<div style="padding: 30px 0; text-align: center;">
	<img alt="course plan how to join image">
</div>-->
<div style="margin: 38px 0px;">
	<div style="font-size:14px;font-weight: bold;">Steps to ensure seamless Live Online Sessions:</div>
	<ul>
		<li>Have <strong>Good quality Headset with Microphone</strong> - any good quality mobile handsfree earphone with mic should work.</li>
		<li>Have <strong>Good internet connectivity</strong> to ensure seamless learning sessions.</li>
		<li><strong>Try Vedantu's Live Learning Tool</strong> and see how easy and fun learning can be. Try it here: <a href="{{urlBase}}/trywhiteboard">https://www.vedantu.com/v/trywhiteboard</a></strong></li>
		<li>
			<div><strong>Test your System's Audio / Video</strong>. for taking Live Sessions. Click on <strong>'Run System Check'</strong> after logging to <a href="https://www.vedantu.com">www.vedantu.com</a> (as shown in image below).</div>
			<div>
				<img style="max-width:100%;padding-top: 5px;" alt="System Health Check Tab"
					 src="https://storage.googleapis.com/vedantu-fos-public-media/SystemHealthCheckImag.png">
			</div>
		</li>
	</ul>
</div>
<div style="margin: 20px 0px;">
	<strong>In case you have any academic feedback, please share it with us <a href="mailto:academics@vedantu.com">academics@vedantu.com</a></strong>.
	And for any assistance with payment process, please feel free to contact us at <strong>1800-120-456-456</strong> and <a href="mailto:vcare@vedantu.com">vcare@vedantu.com</a>.
</div>
<div style="margin: 20px 0px;"></div>
<div style="margin: 20px 0px;">Thank You</div>
<div style="margin-top: 10px;">Team Vedantu</div>