<b>Hi {{name}}!</b>
<br>
<div style="margin:10px 0px;line-height:20px">
	<b>Thank you for registering on Vedantu</b>&nbsp;- Your Personal Teacher Online.
</div>
<div style="margin:10px 0px;line-height:20px">
	Take our&nbsp;<b>FREE DIAGNOSTIC TESTS</b> on JEE(Main) to know your strong and weak topics in Physics, Chemistry and Mathematics.
</div>
<div style="margin:20px 0px;text-align:center">
	<a href="{{domainUrl}}/landingpages/jee-mains-2015-crash-course.html" 
		style="color:rgb(255,255,255);font-weight:bold;line-height:10px;text-decoration:none;word-wrap:break-word;display:inline-block;padding:20px 25px;border-radius:3px;font-size:17px;background-color:rgb(230,99,47)" 
		target="_blank">TAKE TEST NOW</a>
</div>
<div style="margin:10px 0px;line-height:20px">On Submission of all tests, 
	you will receive a call from one of our <b>Expert Counsellor</b>
	&nbsp;to guide you to maximise your performance in JEE Mains.</div>
<div style="margin:10px 0px;display:inline-block"></div>
<div style="margin:20px 0px 10px">Academically Yours,</div>
<div style="margin:5px 0px 40px">Team Vedantu</div>