<!DOCTYPE html>
<html>

<head>
    <title>Certificate</title>
    <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet' />
    <style type="text/css">
        @page {
            size: landscape;
            margin: 0;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-image: url('https://vsk-superkid.s3-ap-southeast-1.amazonaws.com/Certificate-v1.png');
        }
        .certificate {
            padding: 200px 0 0 0;
        }
        .name {
            text-decoration: none;
            position: relative;
        }
        .vamis-krishna-sign {
            position: relative;
            margin-top: -20px;
            bottom: 116px;
            margin-left: 18px;
            top: -45px;
            width: 143px;
        }
    </style>
</head>

<body style="margin:0; padding:0;">
<div>
    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin-top: 70px;">
        <tr>
            <td width="100%" colspan="2" style="text-align: center;" align="center" class="certificate">
                <div style="margin-top:10px;font-size:20px;font-family: 'Rubik';">
                    The certificate of participation is presented to
                </div>
            </td>
        </tr>
        <tr>
            <td width="100%" colspan="2" style="text-align: center; padding-top:5px" align="center">
                <div class="name" style="font-size: 50px; color: #F26322; font-weight:900;font-family: 'Rubik';">
                    {{studentName}}
                </div>
            </td>
        </tr>
        <tr>
            <td width="100%" colspan="2" style="text-align: center; padding-top:20px" align="center">
                <div style="font-size: 20px;color: #F26322;font-weight: 900; font-family: 'Rubik';">
                    of grade {{studentGrade}}
                </div>
            </td>
        </tr>
        <tr>
            <td width="100%" colspan="2" style="text-align: center; padding-top:20px" align="center">
                <div style="font-size: 20px;font-family: 'Rubik';">
                    {{studentName}} has exhibited a <br /> fundamental understanding of Coding during the workshop.
                </div>
            </td>
        </tr>
        <tr>
            <td width="50%">
                <div
                        style="background-color: transparent;float: right;width: 150px;border-top: 1px solid gray;margin-top: 60px;margin-right: 85px;">
                    <div id="studetn-demo-date" style="
                                 position: relative;
                                 margin-top: -17px;
                                 bottom: 116px;
                                 text-align: center;
                                 top: -4px;">
                        {{sessionDate}}</div>
                    <center>
                        <table border="0" cellpadding="0" cellspacing="0" style="">
                            <tr>
                                <td style="padding-top: 5px; text-align:center; width: 150px;">
                                        <span
                                                style="font-size: 15px; text-align:center; font-family: 'Rubik';">Date</span>
                                </td>
                            </tr>
                        </table>
                    </center>
                </div>
            </td>
            <td width="60%" style="text-align: center;">
                <div style="background-color: transparent;float: left;width: 150px;border-top: 1px solid gray;margin-top: 105px;margin-left: 90px;">
                    <img src='https://vsk-superkid.s3-ap-southeast-1.amazonaws.com/vami_krishna.png' class="vamis-krishna-sign" alt="" />
                    <center>
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td style="padding-top:5px; text-align: center;">
                                    <span style="font-size: 14px; font-family: 'Rubik';"><b>Vamsi Krishna</b></span>
                                    <br />
                                    <span style="font-size: 14px; font-family: 'Rubik';">
                                            CEO / Co-Founder Vedantu</span>
                                </td>
                            </tr>
                        </table>
                    </center>
                </div>
            </td>
        </tr>
    </table>
</div>
</body>
</html>