<b>Hi!</b>

<div style="margin: 20px 0px;">We got a help support message from a user from doubts app. Have
	a look:</div>

<div style="margin-top: 20px;">Username : {{fullName}}</div>
<div style="margin-top: 20px;">Phone no : {{phoneNumber}}</div>
<div style="margin-top: 20px;">Email-Id : {{emailId}}</div>
<div style="margin-top: 20px;">Grade : {{grade}}</div>
<div style="margin-top: 20px;">Board : {{board}}</div>
<div style="margin-top: 20px;">Target : {{target}}</div>
<div style="margin-top: 22px;">Message : {{{message}}}</div>

<div style="margin-top: 40px;">Academically Yours,</div>
<div style="margin-bottom: 70px;">Team Vedantu</div>
