<div style="margin: 20px 0px;"><b>Doubts not picked till now:</b></div>
<table style="width:100%;border-collapse: collapse;font-size: 11px;word-wrap: break-word;">
	<thead>
	    <tr>
	    	<th style="max-width: 50px;border: 1px solid #ccc;">Doubt Id</th>
	        <th style="max-width: 50px;border: 1px solid #ccc;">Doubt Text</th>
	        <th style="max-width: 50px;border: 1px solid #ccc;">User</th>
	        <th style="max-width: 50px;border: 1px solid #ccc;">Grade</th>
	        <th style="max-width: 50px;border: 1px solid #ccc;">Subject</th>
	        <th style="max-width: 50px;border: 1px solid #ccc;">Creation Time</th>				
	    </tr>
	</thead>
	<tbody>
	{{#doubts}}
		<tr> <!-- Loop Here -->                    
			<td style="max-width: 50px;border: 1px solid #ccc;">
                            {{doubtId}}
                        </td>
			<td style="max-width: 50px;border: 1px solid #ccc;">{{doubtText}}</td>			
			<td style="max-width: 50px;border: 1px solid #ccc;">
				<div>{{userId}}</div>
				<div>{{userName}}</div>
			</td>
			<td style="max-width: 50px;border: 1px solid #ccc;">{{grade}}</td>	
			<td style="max-width: 50px;border: 1px solid #ccc;">{{subject}}</td>	
			<td style="max-width: 50px;border: 1px solid #ccc;">{{creationTime}}</td>
		</tr>
		{{/doubts}}
	</tbody>
</table>

<div style="margin-top: 40px;">Academically Yours,</div>
<div style="margin-bottom: 70px;">Team Vedantu</div>

