<div style="background-color: #eeeeee; text-align: center; margin: 0 auto; padding:0 0 2%">
    <div style="max-width: 600px; font-size: 14px; color: #5f5f5f; line-height: 1.75em; font-family: Arial; margin: 0 auto; background-color: #ffffff; text-align: left">
        <div style="padding: 40px 8% 5px">
            <div style="font-weight: bold">Dear {{userName}},</div>
            <div style="margin-top: 16px">Use OTP <b>{{OTP}} </b> to start the counselling session. This OTP is valid for 5 minutes.</div>

            <div style="margin-top: 24px">Happy Counselling!
                <br>Vedantu</div>
            <div style="text-align: center; color: #999999; font-size: 10px; margin-top: 60px">If you did not make this request, please write to us at vcare@vedantu.com.</div>
        </div>
    </div>
</div>