<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<div style="background-color: rgb(238, 238, 238);">
  <div style="margin: 0px auto; font-family: arial; padding-bottom: 30px; padding-top: 45px; max-width: 520px;">
    <div style="border: 1px solid rgb(204, 204, 204);">
      <div style="text-align: center; min-height: 115px; background-image:url(https://storage.googleapis.com/vedantu-fos-qa/email-marketing/common/email-template-pattern.png); color: rgb(255, 255, 255); font-size: 40px; line-height: 100px; background-color: rgb(230, 99, 47);"> 
      <img alt="vedantu" src="https://storage.googleapis.com/vedantu-fos-qa/email-marketing/common/logo.png" style="margin-top: 35px; width:120px;"> </div>
      <div style="font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);">
      <div style="padding:40px 8% 25px; min-height: 300px; line-height:1.5em"> 
       
       {{{body}}}
       
       </div>
        <div style="text-align: center; border-top: 1px solid #eee; padding: 25px 0px 32px;">
          <div style="color:#aaaaaa; font-size: 11px; margin: 10px 0px;">This is a system generated email. Please do not reply.</div>
        </div>
      </div>
    </div>
    <div style="width: 96%; color: #fff; font-size: 12px; display: inline-block; padding: 3% 2%;"> <span style="float: left; width: 50%">
      <p style="font-size: 12px; padding: 0px; margin: 0; color: #777; font-weight: bold;"> Any Queries?<br>
        <a target="_blank" style="text-decoration: none; color: #a39a95; font-weight: normal; margin-top: 5px; display: inline-block;" href="mailto:{{displayEmailFooter}}"> Mail us at: {{displayEmailFooter}}</a>
        {{#includeUnsubscribeLink}}
        <span style="font-size: 10px; margin-left: 10px;font-weight: normal;"><a style="color: #888888;" href={{unsubscribeLink}}>Unsubscribe</a></span>
        {{/includeUnsubscribeLink}}
      </p>        
      </span> <span style="float: right;">
      <p style="font-size: 12px; padding: 0px; margin: 0; color: #777; font-weight: bold;"> Follow Us on<br>
        <a href="https://twitter.com/vedantu_learn" style="text-decoration: none; color: #e6632f;">
        <img src="http://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/twitter.png"></a> 
        <a style="text-decoration: none; color: #e6632f;" href="http://www.facebook.com/VedantuInnovations">
         <img src="http://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/facebook.png"></a>
         <a style="text-decoration: none; color: #e6632f;" href="https://www.youtube.com/user/VedantuInnovations">
         <img src="http://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/youtube.png"></a> 
          <a href="http://blog.vedantu.com/" style="text-decoration: none; color: #e6632f;">
          <img src="http://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/blog.png"></a> </p>
      </span> 
      </div>
  </div>
</div>
</body>
</html>