<div style="padding: 35px 8% 25px; min-height: 300px">
	<b>Hi {{teacherName}},</b><br>
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">
		We have received <b>{{studentFullName}}'s</b> request for ending the
		subscription for <b>{{courseName}}</b> with you. <br /> <br />Here
		are the details for you -
	</div>
	<div
		style="margin: 10px 0px 5px; border-bottom: 1px dashed #ccc; padding: 0 0 25px;">
		<ul style="margin: 0; padding: 0; line-height: 25px">
			<li style="list-style: none"><b>Course -</b> {{courseName}}</li>
			<li style="list-style: none"><b>Teacher -</b> {{teacherName}}</li>
			<li style="list-style: none"><b>Purchase Date -</b>
				{{purchaseTime}}</li>
		</ul>
	</div>
	<div style="margin: 15px 0px 40px;">
		V are here for you. Let us know if you need anything else. You can
		catch us on {{displayMobileNumber}} or email us at <a
			href="mailto:{{displayEmailId}}">{{displayEmailId}}</a>
	</div>

	<div style="margin: 20px 0px 0px">Happy Knowledge Sharing!</div>
	<div style="margin: 5px 0px 0px">Academically Yours,</div>
	<div style="margin: 5px 0px 40px">V</div>
</div>