<div style="padding: 35px 8% 25px; min-height: 300px">
	<b>Hey Team, </b><br>
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">
		We have received <b>{{studentFullName}}'s</b> request for ending the
		subscription for <b>{{courseName}}</b> with the teacher, <b>{{teacherFullName}}.</b>
	</div>
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">Please
		review the request and approve same for refund in not more than
		24-hours from date of receiving the request.</div>

	<div style="margin: 5px 0px 0px">Academically Yours,</div>
	<div style="margin: 5px 0px 40px">V</div>
</div>