<div style="padding: 35px 8% 25px; min-height: 300px">
	<b>Hi {{teacherName}},</b><br>
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">We have
		received {{studentName}}'s request for ending the subscription of
		teacher Hours. Please note all the scheduled session(s) under the subscription are canceled.
 Here are the details for you –</div>
	<div
		style="margin: 10px 0px 5px; border-bottom: 1px dashed #ccc; padding: 0 0 25px;">
		<ul style="margin: 0; padding: 0; line-height: 25px">
			<li style="list-style: none"><b>Teacher –</b> {{teacherName}}</li>
			<li style="list-style: none"><b>Total duration purchased –</b>
				{{totalDuration}}</li>
			<li style="list-style: none"><b>Duration utilized –</b>
				{{hoursConsumed}}</li>
			<li style="list-style: none"><b>Duration Left in the Pack –</b>
				{{hoursRemaining}}</li>
		</ul>
	</div>
	<div style="margin: 15px 0px 40px;">
		V are here for you. Let us know if you need anything else. You can
		catch us on {{displayMobileNumber}} or email us at <a
			href="mailto:{{displayEmailId}}">{{displayEmailId}}</a>
	</div>

	<div style="margin: 20px 0px 0px">Happy Knowledge Sharing!</div>
	<div style="margin: 5px 0px 0px">Academically Yours,</div>
	<div style="margin: 5px 0px 40px">V</div>
</div>