<div style="padding: 35px 8% 25px; min-height: 300px">
	<b>Dear Parent,</b><br>
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">
		We have received {{studentName}}'s request for ending the subscription
		for purchased teacher hours of teacher, <b>{{teacherName}}</b>.
	</div>
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">Once the
		request is accepted, you will receive refund notification. This
		usually takes 24-hours from date of receiving the request.</div>
	<div style="margin: 15px 0px 40px;">
		V are here for you. Let us know if you need anything else. You can
		catch us on {{displayMobileNumber}} or email us at <a
			href="mailto:{{displayEmailId}}">{{displayEmailId}}</a>
	</div>

	<div style="margin: 5px 0px 0px">Academically Yours,</div>
	<div style="margin: 5px 0px 40px">V</div>
</div>
