<div style="padding: 35px 8% 25px; min-height: 300px">
	<b>Dear Parent,</b><br>
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">
		We have accepted {{studentName}}'s request for ending the subscription
		of teacher hours for teacher <b>{{teacherFullName}}</b>. Please note all the scheduled session(s) under the subscription are canceled.

	</div>
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">
		<b>{{studentName}}</b> will receive refund in Vedantu wallet. Please
		note that the refund will be made after deducting the value of the
		consumed hours on pro-rata basis. Here are more details on refund
		calculation and amount.
	</div>
	<div
		style="border: 1px solid #ccc; border-bottom: 0px; text-align: center">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tbody>
				<tr>
					<th
						style="border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; padding: 10px 0;"
						scope="col">Purchased Plan</th>
					<th
						style="border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; padding: 10px 0;"
						scope="col">Purchased Hours</th>
					<th
						style="border-bottom: 1px solid #ccc; padding: 10px 0; color: #e6632f;"
						scope="col">Consumed</th>
				</tr>
				{{#refundInfos}}
				<tr>
					<td
						style="font-size: 20px; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; padding: 20px 0;">
&#x20B9; {{purchasedAmount}}<br />
						<span style="font-size: 12px; color: #999; margin: 0; padding: 0;">{{planString}}</span></td>
					<td
						style="font-size: 20px; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; padding: 20px 0;">{{hoursPurchased}}
						hrs</td>
					<td
						style="font-size: 20px; border-bottom: 1px solid #ccc; padding: 20px 0; color: #e6632f">{{hoursConsumed}}hrs</td>
				</tr>
				{{/refundInfos}}
			</tbody>
		</table>
	</div>
	<p style="margin: 10px 0 0; padding: 0; text-align: center">
		Base price <b>{{basePrice}}/hr</b>
	</p>
	<p
		style="margin: 30px 0 0; padding: 0; text-align: center; font-size: 20px;">Refund</p>
	<p
		style="margin: 3px 0 0; padding: 0; text-align: center; color: #999;">Purchase
		cost - (hours consumed x Base price)</p>
	<p
		style="margin: 20px 0 50px; padding: 0; text-align: center; font-size: 20px">
		{{totalPurchasedAmount}} - (<font style="color: #e6632f;">{{totalHoursConsumed}}</font>
		x {{basePrice}})=<font
			style="color: #1ec82e; font-weight: bold; font-size: 22px;">{{totalRefundAmount}}</font>
	</p>

	<div style="margin: 15px 0px 40px;">
		V are here for you. Let us know if you need anything else. You can
		catch us on {{displayMobileNumber}} or email us at <a
			href="mailto:{{displayEmailId}}">{{displayEmailId}}</a>
	</div>
	<div style="margin: 5px 0px 0px">Academically Yours,</div>
	<div style="margin: 5px 0px 40px">V</div>
</div>