<div style="padding: 35px 8% 25px; min-height: 300px">
	<b>Hey {{studentName}},</b><br>
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">
		You have successfully enrolled for <b>{{courseName}}</b> course.
	</div>
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">
		Course start date : <b>{{courseStartDate}}</b>
	</div>
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">
		Registration fees paid : <b>INR {{registrationFeesPaid}}</b>
	</div>

	<table style="border:1px solid #ccc; border-bottom:0; margin:25px 0 0 ; color:#555; font-size:13px" width="100%" border="0" cellspacing="0" cellpadding="0">
		<tbody>
		<tr>
			<td style="padding:10px 3%; border-bottom:1px solid #ddd; color:#333; background:#f2f2f2; " >Payment Due date</td>
			<td style="padding:10px 3%; border-bottom:1px solid #ddd; color:#333;  background:#f2f2f2;" >Amount</td>
		</tr>
		{{#instalments}}
		<tr>
			<td style="padding:10px 3%; border-bottom:1px solid #ccc; font-weight:bold;" >{{dueDate}}</td>
			<td style="padding:10px 3%; border-bottom:1px solid #ccc; font-weight:bold;" >INR {{totalAmount}}</td>
		</tr>
		{{/instalments}}
		</tbody>
	</table>

	<div style="margin: 10px 0px 10px; padding-bottom: 5px">
		Total course fees : <b>INR {{courseTotalFees}}</b>
	</div>

	<div style="margin:20px 0px 10px;">You can also see your entire payment schedule under <a href="{{subscriptionLink}}" style="color:#0099cc; text-decoration:none">{{courseName}}</a> section once you login to your account on Vedantu.</div>

	<div style="margin: 15px 0px 40px;">
		Let us know if you need anything else. You can
		catch us on {{displayMobileNumber}} or email us at <a
			href="mailto:{{displayEmailId}}">{{displayEmailId}}</a>
	</div>
	<div style="margin: 20px 0px 0px">Happy Learning!</div>
	<div style="margin: 5px 0px 40px">Team V</div>
</div>