<p>Hey {{studentName}}, </p>
<p>You have successfully enrolled for {{courseName}}.</p>
<p>You can access your Course Batch Page with details about Payment, Course Curriculum and Lecture Schedule here:  <a href="{{batchLink}}">{{batchLink}}</a></p>
<p>
	<img style="max-width: 100%;" src="https://storage.googleapis.com/vedantu-fos-qa/email-marketing/OTF-details.jpg"/>
</p>
<!--<p>Your <b>first session is scheduled on {day}, {date} at {time}.</b></p>-->
<p>
	<b>Ensure readiness for taking Live Online Session:</b>
<ul>
	<li>Please make sure that you are ready with a Headset with Microphone (any good quality mobile handsfree earphone with mic should be good enough) and have good internet connectivity to ensure seamless learning sessions.</li>
	<li>
		<b>Following document details the steps you need to follow to set up your system for Live Online Learning:</b> <a href="http://courses.vedantu.com/how-to-join-otf-session/">How to join OTF Session</a>
	</li>
</ul>
</p>
<p>
	Happy Learning!<br/>
	Academically Yours,<br/>
	Team Vedantu
</p>
<p>
	<b>PS:</b> At any point if you have questions or feedback please call us at <a href="tel:1800-120-456-456">1800-120-456-456</a>. Alternatively, email us at <a href="mailto:vcare@vedantu.com">vcare@vedantu.com</a>.
</p>