<div>Hi {{userName}}</div>
             <div style="margin-top: 15px;">We hope your studies are going well. We need your help in improving the learning experience at Vedantu. </div>

             <div style="margin-top: 15px;">As a part of the process, we are sharing a small feedback form with you. Filling this form should not take you more than 10 mins. The responses of the feedback form would be anonymous, so you can be as candid & honest as possible :) </div>

             <a href="{{feedbackFormLink}}" style="display: block;width: 260px;height: 54px;border-radius: 100px;text-decoration: none;background-color: #e6632f;color: #fff;font-size: 18px;font-weight: bold;margin: 25px auto 6px;text-align: center;line-height: 53px;">Share Your Feedback!</a>
             <div style="text-align: center; font-size: 11px; color: #999; line-height: 14px;">Please ignore the email, if you have already filled this form</div>


             <div style="margin-top: 25px;">Getting your honest feedback & valuable suggestions is really important to us, in order to improve your & other students experience on Vedantu. </div>



             <div style="margin-top: 15px;">Happy Learning!</div>
             <div style="margin-bottom: 30px;">Academic Team, Vedantu</div>
			
			
          

