<b>Great news!</b>

<div style="margin: 20px 0px;">One of the FMAT session has just
	been {{sessionState}}. Below are the details:</div>
<div>Session Title: {{title}}</div>
<div>Session start time: {{sessionStartTime}}</div>
<div>Session end time: {{sessionEndTime}}</div>
<div>Student name: {{studentName}}</div>
<div>Student email: {{studentEmail}}</div>
<div>Student contact number: {{studentPhoneNumber}}</div>

<div>Teacher name: {{teacherName}}</div>
<div>Teacher email: {{teacherEmail}}</div>
<div>Teacher contact number: {{teacherPhoneNumber}}</div>

<div style="margin: 20px 0px;">Below are the session details</div>
<div>Subject: {{subject}}</div>
<div>Scheduled at: {{scheduledAt}}</div>
<div>Session source: {{sessionSource}}</div>
<div>Session model: {{sessionModel}}</div>
<div>Session request source: {{sessionRequestSource}}</div>
<div style="margin-top: 40px;">Academically Yours,</div>
<div style="margin-bottom: 70px;">Team Vedantu</div>

