 <b>Hi!,</b>

                    <div style="margin: 20px 0px;">Knock Knock,</div>
                    <div style="margin: 20px 0px;">Who's There... {{name}}</div>
                    <div style="margin: 20px 0px;">{{name}} Who... {{name}} who forgot {{gender}} password. </div>
                    <div style="margin: 20px 0px;">(Don`t worry we won`t Passs-the-Word :P)</div>
                    <div style="margin: 20px 0px;"></div>
                    <div style="margin: 20px 0px;">Jussst kidding! Click on the link given below and set up your self a new password. And login in using your new password. 
                    And you are In.  <a href="{{link}}" target="_blank" style="color: rgb(230, 99, 47);">{{link}}</a> </div>                      
                    <div>V are here for you, let us know if you need anything else. You can call us on
{{displayMobileNumber}} or email us at {{displayEmailId}}</div>
                    <div style="margin: 20px 0px;">Have Fun Learning :)</div>
                    <div style="margin-top: 40px;">Academically Yours,</div>
                    <div style="margin-bottom: 70px;">V</div>