 <b>Hi {{name}},</b>

                    <div style="margin: 20px 0px;">Looks like the old password disappeared in the neurons of your brain, no worries. 
                     </div>
                     <div style="margin: 20px 0px;">
                    Click on the link given below and setup your self a new password. And walk right in using your new password. 
                      </div>
                     <a href="{{link}}" target="_blank" style="color: rgb(230, 99, 47);">{{link}}</a>    
                   
        <div>V are here for you, let us know if you need anything else. You can call us on
{{displayMobileNumber}} or email us at {{displayEmailId}}</div>
                    <div style="margin: 20px 0px;">Happy Knowledge Sharing</div>
                    <div style="margin-top: 40px;">Academically Yours,</div>
                    <div style="margin-bottom: 70px;">V</div>