 <b>Hey {{name}}!</b>
 <div style="margin-bottom: 18px;">
 	Congratulations! a top up of INR {{rupees}} has been added to your wallet on Vedantu.
 </div>
 <div style="margin: 20px 0px;">
 	Go ahead and use it to take Live 1-to-1 sessions with awesome teachers on Vedantu. 
 </div>
 <div style="margin: 20px 0px;">Have Fun Learning :)</div>
 <div style="margin-top: 40px;">Academically Yours,</div>
 <div style="margin-bottom: 70px;">V</div>