<div style="margin-top:15px;">
    We have generated a new password for you
</div>
<div style="margin-top:15px;">
    <span style=" border:1px solid #d1d1d1; padding: 5px 10px;"><b>New password :</b> {{password}}</span>
</div>
<div style="margin-top:35px;">
    You can now login to Vedantu website with following credentials:
</div>
<div style="margin-top:15px;">
    <b>Website :</b> <a href="{{baseUrl}}/login" target="_blank">{{baseUrl}}</a>
</div>
<div style="margin-top:5px;">
    <b>Login ID :</b> {{email}}
</div>
<div style="margin-top:5px;">
    <b>Password :</b> {{password}}
</div>
<div style="margin-top:15px;">
    For any query, <b>email</b> us at <a href="mailto:vcare@vedantu.com">vcare@vedantu.com</a>
    <div style="margin-top:15px;">
        Best Wishes<br>
        Team Vedantu
    </div>
</div>