
<div style="text-align: left; margin-bottom: 15px">Hi {{name}},</div>
<div style="margin-bottom: 20px">
	Congratulation! You have been subscribed for a Plan by <a
		href="{{studentLink}}" target="_blank"
		style="text-decoration: underline; color: rgb(230, 99, 47);">{{studentName}}</a>
</div>

<div style="margin-bottom: 20px">The transaction details are as
	follows:</div>
<table
	style="width: 100%; border: 1px solid rgb(204, 204, 204); border-collapse: collapse; margin-bottom: 20px;">
	<tbody>
		<tr>
			<td
				style="width: 160px; padding: 12px 12px 10px; border-bottom: 1px solid rgb(204, 204, 204);">
				<div style="font-size: 16px; margin-bottom: 2px;">
					{{#packageName}}
					<div style="margin: 10px 0px;">Course : {{packageName}}</div>
					{{/packageName}}
					<div style="margin: 10px 0px;">
						Student : <a href="{{studentLink}}" target="_blank"
							style="text-decoration: underline; color: rgb(230, 99, 47);">{{studentName}}</a>
					</div>
					<div style="margin: 10px 0px;">Order Date : {{date}}</div>
					{{#packageName}}
					<div style="margin: 10px 0px;">Schedule : {{schedule}}</div>
					{{/packageName}}
					<div style="margin: 10px 0px;">Hours : {{hours}}</div>
				</div>
			</td>
		</tr>
	</tbody>
</table>
<div>
	Next Steps:
	<ul>
		<li>You can now connect with {{studentName}} and plan the
			learning sessions</li>
	</ul>
</div>
<div>V are here for you. Let us know if you need anything else.
	You can call us on {{displayMobileNumber}} or email us at
	{{displayEmailId}}.</div>
<div style="margin-top: 40px;">Happy Knowledge Sharing!</div>
<div style="margin-top: 20px;">Academically Yours,</div>
<div style="margin-bottom: 30px;">V</div>