
<div style="text-align: left; margin-bottom: 15px">Dear Parent!</div>
<div style="margin-bottom: 17px">
	Thank you for subscribing to a Plan for {{offeringType}}
	{{planContextText}}: <b>{{planContextValue}}</b>.
</div>

<table
	style="width: 100%; border: 1px solid rgb(204, 204, 204); border-collapse: collapse; margin-bottom: 20px;">
	<tbody>
		<tr>
			<td
				style="width: 160px; padding: 12px 12px 10px; border-bottom: 1px solid rgb(204, 204, 204);">
				<div style="font-size: 16px; margin-bottom: 2px;">
					{{#packageName}}
					<div style="margin: 10px 0px;">Course : {{packageName}}</div>
					{{/packageName}} {{#teacherName}}
					<div style="margin: 10px 0px;">Teacher : {{teacherName}}</div>
					{{/teacherName}}
					<div style="margin: 10px 0px;">
						Order Number : <b>{{refNo}} </b>
					</div>
					<div style="margin: 10px 0px;">Order Date : {{date}}</div>
					<div style="margin: 10px 0px;">Paid Amount :
						{{amountCharged}}</div>
					{{#packageName}}
					<div style="margin: 10px 0px;">Schedule : {{schedule}}</div>
					{{/packageName}} {{#teacherName}}
					<div style="margin: 10px 0px;">Hours : {{hours}}</div>
					{{/teacherName}}
				</div>
			</td>
		</tr>
	</tbody>
</table>

<div style="margin-top: 25px">
	V are always happy to help you. You can call us on <b>{{displayMobileNumber}}</b>
	or email us at <a
		style="margin-left: 2px; text-decoration: none; color: rgb(51, 51, 51); font-weight: bold"
		href="mailto:vcare@vedantu.com" target="_blank">{{displayEmailId}}</a>.
</div>
<div style="text-align: left; line-height: 21px; margin-top: 45px">
	<div style="font-size: 15px; color: #332e2b; margin-top: 8px">
		Academically Yours, <br> V
	</div>
</div>
