<div style="padding: 35px 8% 25px; min-height: 300px">
	<b>Hey {{studentName}},</b><br>
	<div style="margin: 20px 0px 30px; padding-bottom: 5px;">
            We hope your sessions are going smooth and you are a step nearer to your academic goal.
            This is a gentle reminder for your next instalment of <b>INR{{amount}}</b> is due on <b>{{dueDate}}</b>.
            <div style="text-align: center;margin-top: 10px;">
                <a href ={{subscriptionLink}} target="_blank" 
                    style="color: #ffffff;cursor: pointer;background-color: #e6632f;font-size: 18px;border-radius: 3px;padding: 6px 22px 6px;">Pay Now</a> 
            </div>
            <div style="margin-top: 10px;text-align: center;">
                <div>Or</div>
                <div>Login to <a href="https://www.vedantu.com">www.vedantu.com</a></div>
                <div>Go to your subscription detail page and click on <a href ={{subscriptionLink}} target="_blank">View Payment Schedule</a> to pay.</div>
            </div>
        </div>
        <p style="margin: 20px 0 30px; padding: 0;font-style: italic; font-size: 14px;font-weight: 600;">
            Note: You will not be able to join any session post the due date if the payment has not been made.
        </p>
    <div style="margin: 20px 0px;">
        <strong>In case you have any academic feedback, please share it with us <a href="mailto:{{displayFeedbackEmailId}}">{{displayFeedbackEmailId}}</a></strong>. 
        And for any assistance with payment process, please feel free to contact us at <strong>{{displayMobileNumber}}</strong> and <a href="mailto:{{displayContactusEmailId}}">{{displayContactusEmailId}}</a>. 
    </div>
    <div style="margin: 20px 0px;"></div>
    <div style="margin: 20px 0px;">Thank You</div>
    <div style="margin-top: 10px;">Team Vedantu</div>
    <div style="margin: 70px 0;">PS: We will keep you notified about your learning progress and will send important information to this email id. Please add <a href="mailto:{{displayMailFromEmailId}}">{{displayMailFromEmailId}}</a> to your email contact list to ensure that you don't miss out on any important information. </div>
</div>