          <div style="font-size: 16px; padding-top:10px; font-weight:bold;">Hi {{studentName}},</div>
          <div style="margin: 20px 0px 10px;">This is to remind you that your payment for <b>{{subscriptionTitle}}</b> which was due on <b>{{dueDate}}</b> is still pending.</div>
          <div >Please note that, if not paid, your subscription will be <b>marked inactive from tomorrow</b> and you will not be able to attend any further sessions.</div>
          <div style="margin: 20px 0px 10px;"><b>You can avoid in-activation by paying the due now.</b></div>
          <a style="display: block; padding: 8px 0; width: 130px; border: 1px solid #e6632f; color: #e6632f; text-decoration: none; text-align: center; border-radius: 4px; font-weight: 600" href="{{subscriptionLink}}">Pay Now</a>
          <div style="margin: 20px 0px;">In case you have any academic feedback, please share it with us <a href="mailto:{{displayFeedbackEmailId}}">{{displayFeedbackEmailId}}</a>. And for any assistance with payment process, please feel free to contact us at <b>{{displayMobileNumber}}</b> and <a href="{{displayContactusEmailId}}">{{displayContactusEmailId}}</a>.</div>
          <div style="margin:10px 0px 5px">Academically Yours,</div>
          <div style="margin:0px 0px 40px">Team Vedantu.</div>