<div style="padding: 35px 8% 25px; min-height: 300px">
    <b>Hey {{studentName}},</b><br>
    <div style="margin: 20px 0px 30px; padding-bottom: 5px;">
        Your subscription for {{subscriptionTitle}} has been made inactive as we have not received your payment on the due date. You will not be able to attend any further sessions.
    </div>
    <p style="margin: 20px 0 30px; padding: 0;font-size: 15px;font-weight: 600;">
        Amount of <b>INR{{refundAmount}}</b> has been added back to your Vedantu wallet.
    </p>
    <div style="margin: 20px 0px;">
        <strong>In case you have any academic feedback, please share it with us <a href="mailto:{{displayFeedbackEmailId}}">{{displayFeedbackEmailId}}</a></strong>. 
        And for any assistance with payment process, please feel free to contact us at <strong>{{displayMobileNumber}}</strong> and <a href="mailto:{{displayContactusEmailId}}">{{displayContactusEmailId}}</a>. 
    </div>
    <div style="margin: 20px 0px;"></div>
    <div style="margin: 20px 0px;">Thank You</div>
    <div style="margin-top: 10px;">Team Vedantu</div>
    <div style="margin: 70px 0;">PS: We will keep you notified about your learning progress and will send important information to this email id. Please add <a href="mailto:{{displayMailFromEmailId}}">{{displayMailFromEmailId}}</a> to your email contact list to ensure that you don't miss out on any important information. </div>
</div>