<div style="padding: 35px 8% 25px; min-height: 300px">
	<b>Hi {{studentName}},</b><br>
        
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">
           Glad to invite you to connect with me on Vedantu!
        </div>
        <div style="margin: 10px 0px 10px; padding-bottom: 5px">
            Vedantu is an online platform that will help us stay connected through Web and Mobile app. We can chat, clear your doubts, take live online sessions, share and collaborate on tests and assignments and do much more here. 
        </div>
        <div style="margin: 10px 0px 8px;">
            Let's get started, click on the link below to sign-up and create your account on Vedantu:
        </div>
        <a target="_blank" href="{{signupLink}}">{{signupLink}}</a>
        
        <div style="margin: 25px 0 10px ">
            Once signed up, you will be able to see my profile. You can also download Vedantu Mobile app from Google play store <a target="_blank" href="https://play.google.com/store/apps/details?id=com.vedantu.student">Vedantu App</a> and get started. 
        </div>
        
	<div style="margin: 20px 0px 0px">Happy Learning!</div>
	<div style="margin: 5px 0px 0px">Cheers,</div>
	<div style="margin: 5px 0px 40px"><a target="_blank" href="{{teacherProfileLink}}">{{teacherName}}</a></div>
        
</div>