<p>
    Hi, we are excited to announce the result of your ISL Test Attempt. Your result includes the following:
</p>
<ul>
    <li><b>Certificate</b> with International Rank</li>
    <li><b>Brain Profile Analysis</b> - based on Part 1 test attempt</li>
    <li><b>Learning Profile Assessment</b> - based on Part 2 test attempt (only if you have attempted the Part 2 test) </li>
</ul>
<p>
    You can check your Result by clicking on the button below:
</p>
<div style="margin: 40px auto 60px auto; width: 300px;">
    <a href="https://vedantu.com/isl" style="padding: 15px 60px; font-size: 18px; margin: 30px 0; font-weight: bold; text-decoration: none; border-radius: 5px; background-color:#e66430; color: #FFF;">ISL TEST RESULT</a>
</div>
<p>
    <strong style="font-size: 18px;">Academic Scholarship</strong><br>
    Congratulations, based on your performance in the ISL Test,
    you are also entitled for Scholarship on Vedantu Courses - to learn
    LIVE with a great teacher in the most personalized way.
    You can exercise the scholarship as described below:
</p>
{{#details}}
<div style="border-radius: 5px; background-color: #fff7a6; padding: 20px 10px; margin-bottom: 20px;">
    <div>
        {{{offer}}}
    </div>
    <div style="text-align: center; margin:20px auto; font-size:20px; font-weight: bold;">Voucher Code: {{voucherCode}}</div>
    <b>Find details of the mentioned Courses on Vedantu website:
    <a href="https://www.vedantu.com">www.vedantu.com</a></b><br/>
    Register on the website and Vedantu Counsellor will call you with next steps to avail the offer.
<p>To view brochure of courses on Vedantu, <a href="{{brochureLink}}">Click here</a></p>
</div>
{{/details}}



<p>
    ISL Test was our sincere effort to provide a global benchmarking platform to young students.
    In addition to Aptitude, we at Vedantu believe understanding the Learning Profile of the child is
    very important for parents and teachers alike.
    We hope it helps you to understand your child and tailor make adjustments basis that.
</p>
<p style="margin-top: 45px;">
    Please feel free to connect with us at <b> 1800-120-456-456 </b> (Mon-Sun: 9am - 9pm IST) or <b>vcare@vedantu.com</b> regarding scholarships or
    to talk to our counsellors regarding results.
</p>
<p>We wish your child all the very best for the future.</p>
<p style="margin-bottom: 45px;">Best wishes <br>
    Vedantu ISL Team
</p>
<p style="font-weight: bold;">
    Check out all Toppers and Pics/Videos of Award Ceremonies held at Bangalore and Dubai here: <a href="https://www.facebook.com/vedantuisl">https://www.facebook.com/vedantuisl</a></p>