<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>

    <body>
        <div style="background: #f4f4f4;"><div style="max-width: 600px; margin: 0 auto; background: #fff; border: 1px solid #eee; font-family:-apple-system,'.SFNSDisplay','Oxygen','Ubuntu','Roboto','Segoe UI','Helvetica Neue','Lucida Grande',sans-serif; color: #332e2b; font-size: 14px; line-height: 1.6em"><div style="background-image: linear-gradient(325deg, #e6632f 20%, #675898 80%); height: 6px;"></div><div style="padding: 60px 8%">
                    <div>Hello, </div><br>
                    <div>A wise man once said <span style="font-family: georgia; font-style: italic; color: #e6632f; ">"Opportunities are like sunrises. If you wait too long, you miss them.”</span></div>
                    <div style="margin-bottom: 20px;">Well, here is one such opportunity for you to grab.</div>

                    <div style="margin-bottom: 20px;">I am excited to announce the next version of <b>International Student League (ISL), 2017-18 -</b> the biggest online global aptitude challenge for students. After huge success of previous ISL with participation of thousands of students from 700+ cities from 12 countries, we are now taking it to next level. This time ISL is being organized by <strong>Vedantu</strong> and <strong>Times of India</strong> and will be taken by more than <strong>1,50,000 students</strong> from <strong>1700+ cities</strong> in <strong>30+ countries.</strong> Huge, isn’t it!! </div>

                    <div>I encourage you to compete in the biggest battle of brains, where you would stand a chance to win opportunities of your lifetime: 
                        <ul>
                            <li><span style="color: #e6632f; "><b>Internship at Oxford University </b>- England,</span></li>
                            <li><span style="color: #e6632f; "><b>Educational trip to CERN & UN</b> - Geneva, Switzerland + <strong>UNESCO</strong> - Paris, France</span></li>
                        </ul>
                    </div>

                    <div style="margin-bottom: 20px;">And that’s not all, top performers will win prizes like a 3D Printer, Oculus Rift, iPad Pro, Telescope, Drone, Hoverboard etc. It’s super exciting! Check out more details at:  <a href="{{islRegisterUrl}}" track="true" style="text-decoration: underline; color: #0099cc; cursor: pointer">isl.vedantu.com/isl</a></div>

                    <div style="margin-bottom: 20px;">You will also get <strong>Certificate of Participation</strong> with your <strong>International Rank</strong> and performance benchmarking with students all across the world. </div>

                    <div style="margin-bottom: 20px;">I, along with top academic experts have created ISL Test with lot of research and effort - it is designed to test your Mental Aptitude and Learning Style in a very fun way. I am sure it will be a mind opening experience for you students :-) 	</div>

                    <div style="margin-bottom: 20px;"><strong>Take a note of these ISL Details:</strong> 
                        <ul>
                            <li>ISL Test Date: <strong>Sunday, 12th Nov, 2017</strong></li>
                            <li>Mode: <strong>Online</strong></li>
                            <li>Open for: <strong>3rd to 10th grade students </strong></li>
                        </ul>
                    </div>

                    <div style="margin-bottom: 25px;">And hey did I tell you - <strong>participation in ISL is absolutely Free!</strong></div>

                    <div style="text-align: center"><a href="{{islRegisterUrl}}" track="true" style="border: 1px solid #e6632f; padding: 15px 40px; border-radius: 50px; display: inline-block; margin: 0 auto; font-weight: bold; letter-spacing: 1px; color: #e6632f; margin: 5px auto; cursor: pointer; text-decoration: none">Register Now!</a></div><br>

                    <div>In case of any queries, you can write to me at <a href="mailto:isl@vedantu.com" style="color: #egg32f;">isl@vedantu.com</a></div><br>
                    <div>Good Luck! <br>Pulkit Jain<br><span style="font-style:italic">Co-founder, Vedantu </span></div>
                    <br>With lots of best wishes from - Team ISL and Times of India
                </div>		
            </div>


        </div>
    </body>
</html>