<div style="background-color:rgb(238,238,238);">
  <div style="margin:0px auto;font-family:arial;padding-bottom:30px;padding-top:45px;max-width:520px">
    <div style="border:1px solid rgb(204,204,204)">
      <div style="text-align:center;color:rgb(255,255,255);font-size:40px;background-color:rgb(230,99,47)"> 
      <img width="100%" alt="International School League" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/ISL_post-registration-top-bg.jpg" >
      </div>
      
      <div style="font-size:14px; line-height:1.4em; background-color:rgb(255,255,255);color:rgb(68,68,68)">
        <div style="padding:35px 8% 25px;min-height:300px"> <b>Hey,</b><br>
         
          <div style="margin:10px 0px 10px; padding-bottom:5px">Your child({{studentName}}) has been successfully registered for the Biggest Global Aptitude Challenge for the School kids - The International School League 2017 (ISL) </div>

          
          <div style="margin:10px 0px 10px;padding-bottom:5px">Please bookmark and check out the page www.vedantu.com/isl for updates and notifications around the Quiz. We will have sample papers, video solutions and interesting webinars leading up to the event. </div>
          
          <div style="margin:10px 0px 10px; padding-bottom:5px">Also visit our facebook page and like it to receive important updates. </div>
          
			<a href="https://www.facebook.com/vedantuisl" style="text-decoration: none;border-radius: 3px;display: block;padding: 10px 0 13px;width: 200px;margin: 0 auto 30px;background-color: #3a5897;text-align: left;color: #fff;"><img src="http://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/facebook.png" style="
    vertical-align: text-bottom;
    width: 20px;
    text-align: left;
    margin: 0 17px 0 10px;
    ">Keep me Updated</a>
          
          <div style="margin:10px 0px 10px; padding-bottom:5px">It is going to be the biggest battle of the brains. Stay tuned in and stay sharp!</div>
          
          <div style="margin:5px 0px 40px">Team ISL</div>
        </div>
      </div>
    </div>
    <div style=" width: 96%; color:#fff; font-size:12px; display:inline-block;padding: 3% 2%;"> <span style="  float:left;  width:50%">
      <p style="font-size:12px; padding:0px;margin: 0; color: #777; font-weight:bold; ">Any Queries?<br>
        <a target="_blank" style="text-decoration:none; color:#a39a95; font-weight:normal;margin-top: 5px;display: inline-block;" href="mailto:isl@vedantu.com"> Mail us at: isl@vedantu.com</a></p>
      </span> <span style="  float:right; ">
      <p style="font-size:12px; padding:0px;margin: 0; color: #777; font-weight:bold; ">Follow Us on<br>
         <a style="text-decoration: none; color:#e6632f;;" href="https://www.facebook.com/vedantuisl"><img src="http://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/facebook.png"></a>  </p>
      </span> </div>
  </div>
</div>
