<div style="background-color: #eeeeee; text-align: center; margin: 0 auto; padding:0 0 2%">
    <div style="max-width: 600px; font-size: 14px; color: #5f5f5f; line-height: 1.75em; font-family: Arial; margin: 0 auto; background-color: #ffffff; text-align: left">
        <div style="padding: 40px 8% 5px">
            <div style="font-weight: bold">Hi {{studentName}},</div>
            <div style="margin-top: 16px">Hope your studies are going well.</div>
            <div style="margin-top: 16px"><strong>This is regarding completing your Vedantu User Profile.</strong> It's very important from the academic point of view. This would help us in better understanding you (board, grade, social profile details), keeping you well informed about your progress (student & parent contact details), and planning the course according to your needs (student’s target - Boards, JEE, NEET etc.).</div>
            <div style="margin-top: 40px; text-align: center; "><a style="background-color: #ff6403; padding: 12px 20px; color: #FFFFFF; text-decoration: none; border-radius: 2px" href="{{studentProfileEditLink}}">Complete Your Profile</a></div>
            <div style="margin-top: 40px">You can also complete/update your profile by logging into your Vedantu account and going to the profile page from the top-right side (in desktop) or by clicking on hamburger menu at the top-right side (in mobile). Click on the edit button on the profile page to make the changes.</div>

            <div style="margin-top: 24px">If you have any questions you write back to us on <a style="color: #039eff; text-decoration: underline" href="mailto:vcare@vedantu.com">vcare@vedantu.com</a> <br>or call us on <a style="color: #039eff; text-decoration: none" href="callto:1800-120-456-456">1800-120-456-456</a>.</div>
            <div style="margin-top: 24px">Happy Learning! :)</div>
            <div style="margin-top: 24px">Academic team,<br>Vedantu</div>
            <div style="text-align: center; color: #999999; font-size: 10px; margin-top: 60px">This is a system generated mail. Please do not reply.</div>
        </div>
    </div>
    <div style="max-width: 600px; text-align: center; font-size: 14px; color: #999999; line-height: 1.75em; font-family: Arial; margin: 0 auto;margin-top: 28px">
        <div style="font-weight: bold">Any Queries?</div>
        <a style="color: #999999; text-decoration: none; font-size: 13px" href="mailto:vcare@vedantu.com">Mail us at: vcare@vedantu.com</a>
        <div style="height: 1px; background-color: #999999; max-width: 100px; text-align: center; display: block; margin: 12px auto"></div>
        <div style="">
            <a style="" href="https://www.facebook.com/VedantuInnovations/"><img style="max-width: 20px; padding: 10px; max-height: 20px" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/feb/Icon_FB.png" alt=""></a>
            <a style="" href="https://twitter.com/vedantu_learn?lang=en"><img style="width: 22px; padding: 10px" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/feb/Icon_TW.png" alt=""></a>
            <a style="" href="https://www.youtube.com/user/VedantuInnovations"><img style="width: 24px; padding: 10px" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/feb/Icon_Yt.png" alt=""></a>
            <a style="" href="https://blog.vedantu.com/"><img style="width: 18px; padding: 10px" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/feb/Icon_BL.png" alt=""></a>
        </div>
    </div>

</div>
