<div style="line-height:20px">
    <div style="font-size:16px;padding-top:10px;font-weight:bold">Dear {{studentName}},</div>
    <div style="margin:20px 0px">We have made the following corrections to the Test:
        <a style="color:#e6623f" href="{{testLink}}"> Test Link</a><br>  Corrections have been made after deeper analysis of the Questions by Vedantu Academics Team.</div>
    <div style="margin:12px 0px">Test:
        <a style="color:#e6623f" href="{{testLink}}">{{testName}}</a> </div>
    <div style="margin:20px 0px;line-height:24px">  <b>CORRECTIONS:</b></div>
    
        <table style="border: 1px solid black ; border-collapse: collapse ; width: 100% ; text-align: center">
          <tr style="border: 1px solid black ; text-align: center">
                <th  style="border: 1px solid black  ">QNo.</th>
                <th  style="border: 1px solid black">Type of corrections</th>
                <th  style="border: 1px solid black">Type of Re-evaluation </th>
              </tr>
              {{#questionsChanged}}              
              <tr  style="border: 1px solid black ; text-align: center">
                <td style=" padding: 10px 7px;border: 1px solid black ;min-width: 69px ; max-width: 69px;word-wrap: break-word;min-height: 15px">{{questionNumber}}</td>
                <td style=" padding: 10px 7px;border: 1px solid black ;min-width: 69px ; max-width: 69px;word-wrap: break-word;min-height: 15px">{{correctionType}}</td>
                <td style=" padding: 10px 7px;border: 1px solid black ;min-width: 69px ; max-width: 69px;word-wrap: break-word;min-height: 15px">{{reevaluationType}}</td>
              </tr>
              {{/questionsChanged}}
              </table>
    <div style="margin:20px 0px">Feel free to connect with us for any feedback or any help. You can email us at <a style="color:#e6623f">academics@vedantu.com</a> 
    <div style="margin:20px 0px">We sincerely hope that your studies are going on great</div>
    <div style="margin:12px 0px 5px">
        Academics Team 
        </div>
    <div style="margin:0px 0px 40px"> Vedantu</div>
</div>
