<div style="max-width: 456px; text-align: left; margin: 0 auto">
    <div style="padding: 0 10px"><strong>Dear {{studentName}}</strong></div>
    <div style="margin-top: 15px; padding: 0 10px">You have attempted a test from course <strong>{{courseName}}</strong> on <strong>{{date}}</strong>. Here are the results</div>
</div>

<div style="max-width: 436px; text-align: center; margin: 20px auto; background-color: #ffffff; border: 1px solid #f5f5f5; padding: 25px 0 0px; box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.06) ">
    <div style="font-size: 20px; text-align: left; max-width: 356px; margin: 0 auto; padding: 10px"><strong>{{title}}</strong></div>
    <div style="font-size: 12px; text-align: left; max-width: 356px; margin: 0 auto; padding: 5px 10px">
        <div><div style="display: inline-block; vertical-align: top; padding-right: 5px "><strong>SUBJECT :</strong></div><div style="display: inline-block; max-width: 75%; vertical-align: top; ">{{subjects}}</div></div>
        <div><strong>TYPE :</strong> Objective</div>
        <div><strong>DURATION :</strong> {{duration}}hrs</div>
    </div>

    <div style="text-align: center; margin: 10px auto 0;max-width: 436px">

        <div style="display: inline-block; width: 40%">
            <div style="background: linear-gradient(144deg, #a1a1ff, #5e5ef4); border-radius: 50px; width: 90px; height: 90px; display: inline-block; text-align: center; vertical-align: middle">
                <div style="background-color: #ffffff; border-radius: 50px; width: 86px; height: 86px; text-align: center; vertical-align: middle; margin: 2px auto">
                    <div style="text-transform: uppercase; font-size: 10px; color: #6868a9; font-weight: bold; padding-top: 20px">Rank</div>
                    <div style="color: #5e5ef4; font-size: 18px; margin-top: 2px"><span style="font-size: 28px; font-weight: bold">{{rank}}</span>/{{totalStudents}}</div>
                </div>
            </div>
        </div>

        <div style="display: inline-block; width: 40%">
            <div style="background: linear-gradient(144deg, #a1a1ff, #5e5ef4); border-radius: 50px; width: 90px; height: 90px; display: inline-block; text-align: center; vertical-align: middle">
                <div style="background-color: #ffffff; border-radius: 50px; width: 86px; height: 86px; text-align: center; vertical-align: middle; margin: 2px auto">
                    <div style="text-transform: uppercase; font-size: 10px; color: #6868a9; font-weight: bold; padding-top: 20px">Batch AvG</div>
                    <div style="color: #5e5ef4; font-size: 18px; margin-top: 2px"><span style="font-size: 28px; font-weight: bold">{{batchAvg}}</span></div>
                </div>
            </div>
        </div>

    </div>

    <div style="background: linear-gradient(144deg, #a1a1ff, #5e5ef4); border-radius: 80px; width: 134px; height: 134px; display: inline-block; text-align: center; vertical-align: middle; margin: 0 10px 0">
        <div style="background-color: #ffffff; border-radius: 80px; width: 126px; height: 126px; text-align: center; vertical-align: middle; margin: 4px auto">
            <div style="text-transform: uppercase; font-size: 11px; color: #5e5ef4; font-weight: bold; padding-top: 18px">marks</div>
            <div style="color: #5e5ef4; font-size: 18px; margin-top: 5px"><span style="font-size: 38px; font-weight: bold">{{marksAcheived}}</span></div>
            <div style="height: 1px; background-color: #cccccc; width: 52px; margin: 5px auto"></div>
            <div style="font-size: 28px; color: #666666">{{totalMarks}}</div>
        </div>
    </div>

    <div style="max-width: 354px; margin: 18px auto; background-color: #f7f7fe; text-align: center">
        <img style="width: 100%; display: block" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/feb/Mailer_TR_Arrow.png" alt="">
        <div style="font-size: 11px; text-align: center; margin: 0 auto; max-width: 330px">
            {{#categories}}
                <div style="width: 24%; display: inline-block; margin: 0px auto 10px">
                    <div style="font-weight: bold; color: #7c7cdb">{{name}}</div>
                    <div style="font-size: 14px; color: #4c4c75; line-height: 16px "><strong>{{marksAcheived}}/</strong>{{totalMarks}}</div>
                </div>
            {{/categories}}
        </div>
    </div>

    <div style="font-size: 11px; font-weight: bold; text-transform: uppercase; margin-top: 30px">Overall Question Analysis</div>
    <div style="margin: 10px auto 0">
        <div style="display: inline-block; width: 62px; ">
            <div style="background-color: #31d5bb; font-size: 17px; color: #ffffff; width: 38px; height: 38px; border-radius: 50px; line-height: 38px; margin: 0 auto">{{questionCorrect}}</div>
            <div style="font-size: 12px; color: #31d5bb; ">Correct</div>
        </div>
        <div style="display: inline-block; width: 62px; ">
            <div style="background-color: #de411f; font-size: 17px; color: #ffffff; width: 38px; height: 38px; border-radius: 50px; line-height: 38px; margin: 0 auto">{{questionIncorrect}}</div>
            <div style="font-size: 12px; color: #de411f; ">Incorrect</div>
        </div>
        <div style="display: inline-block; width: 62px; ">
            <div style="background-color: #eee9ee; font-size: 17px; color: #7b5b7b; width: 38px; height: 38px; border-radius: 50px; line-height: 38px; margin: 0 auto">{{questionLeft}}</div>
            <div style="font-size: 12px; color: #7b5b7b; ">Left</div>
        </div>
    </div>

    <div style="height: 2px; background-color: #f3f3f3; margin-top: 45px"></div>

    <div style="font-size: 11px; font-weight: bold; text-transform: uppercase; margin-top: 30px">Subject Performance</div>

    <div style="font-size: 11px; ">
        <div style="display: inline-block; max-width: 400px">
            <div style="display: inline-block">
                {{#categories}}
                    <div style="display: inline-block; width: 80px; padding: 10px 5px 0">
                        <div style="font-size: 14px; color: #666666; margin: 6px 0">{{name}}</div>
                        <div style="background-color: #31d5bb; color: #ffffff; padding: 2px 10px; border-radius: 50px">{{questionCorrect}} Correct</div>
                        <div style="background-color: #de411f; color: #ffffff; padding: 2px 10px; border-radius: 50px; margin: 4px auto">{{questionIncorrect}} Incorrect</div>
                        <div style="background-color: #eee9ee; color: #7b5b7b; padding: 2px 10px; border-radius: 50px">{{questionLeft}} Left</div>
                    </div>
                {{/categories}}
            </div>				
        </div>


    </div>



    <div style="padding: 0 10px; line-height: 14px">
        <div style="color: #999999; font-size: 11px; font-style: italic; border: .5px solid #e5e5e5; border-radius: 50px; padding: 10px 10px; max-width: 338px; margin: 50px auto 28px;">Note: Average Marks and Rank are specific to your batch</div>
    </div>

    <img style="width: 100%; display: block" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/feb/Mailer_TR_bg.png" alt="">


</div>

<a style="color: #e6632f; border: 1px solid #e6632f; border-radius: 50px; margin: 34px auto; display: block; text-align: center; width: 208px; padding: 10px 0; text-decoration: none" href={{detailLink}}>View Detailed Report &gt;</a>