<b>Hey {{studentName}}!</b>
<div style="margin: 20px 0px;">
	Your teacher has shared a test with you. Find test details below:
</div>
<div style="margin: 20px 0px;">
	<div><span style="font-weight: bold;">Test</span>:{{contentName}}</div>
	<div><span style="font-weight: bold;">Type</span>:{{#isObjective}}Objective Test{{/isObjective}}{{^isObjective}}Subjective Test{{/isObjective}}</div>
	<div><span style="font-weight: bold;">Shared By Teacher</span>:{{teacherFullName}}</div>
	<!--<div><span style="font-weight: bold;">Subject</span>:{{subjectName}}</div>-->
	<!--<div><span style="font-weight: bold;">Course</span>:{{courseName}}</div>-->
	<div><span style="font-weight: bold;">Shared on date</span>:{{creationTime}}</div>
</div>
<div style="margin: 20px 0px;">
	Please attempt the test at the earliest to assess yourself.
</div>
<div style="margin: 20px 0px;padding: 20px 15px;background-color: #F4F4F4;">
	<div>Click here to view and attempt Test:</div>
	<div style="padding-top: 20px;text-align: center;">
		<a style="font-weight: bold;text-decoration: none;padding: 8px 25px;background-color: #E6632F;color: #FFF;font-size: 16px;"
		   href="{{urlBase}}/contents/test/start/{{contentId}}">Click here</a>
	</div>
</div>
<div style="margin: 20px 0px;">
	<strong>In case you have any academic feedback, please share it with us <a href="mailto:academics@vedantu.com">academics@vedantu.com</a></strong>.
	And for any assistance with payment process, please feel free to contact us at <strong>1800-120-456-456</strong> and <a href="mailto:vcare@vedantu.com">vcare@vedantu.com</a>.
</div>
<div style="margin: 20px 0px;"></div>
<div style="margin: 20px 0px;">Happy Learning :-)</div>
<div style="margin-top: 10px;">Vedantu</div>
