
<div
	style="font-size: 14px; line-height: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68)">
	<div
		style="padding: 35px 8% 35px; min-height: 300px; line-height: 1.5em">
		<b>Hey {{studentName}},</b><br>
		<div style="margin: 17px 0px; color: #332E2B">Your teacher
			{{teacherFullName}} shared the {{contentName}} test on {{courseName}}
			on {{creationTime}}. {{#expiryTime}} The test is due to be submitted on
			{{expiryTime}} i.e. 24-hours from now. {{/expiryTime}}Go ahead, attempt the test
			right away!</div>

		<div style="padding: 15px 0; text-align: center">
			<a
				style="color: #fff; background-color: #e6632f; padding: 15px 35px; text-decoration: none; font-size: 13px; font-weight: 600; border-radius: 4px"
				href={{actionLink}}>Attempt Test Now</a>
		</div>
		<div style="margin: 17px 0px; color: #332E2B">V are sure
			attempting this test would help you understand the concepts better
			and be prepared for the surprise tests in your school. Don't miss it.</div>
		<div style="margin: 17px 0px 0px; color: #332E2B">
			V are here for you. Let us know if you need anything else. You can
			reach us at : 1800-120-456-456 or email us at : <a target="_blank"
				style="font-weight: normal; display: inline-block; color: #332E2B"
				href="mailto:vcare@vedantu.com"> vcare@vedantu.com</a>
		</div>
		<div style="margin: 17px 0px 0px; color: #332E2B">Happy
			Learning!</div>
		<div style="margin: 10px 0px 0px; color: #332E2B">Academically
			Yours,</div>
		<div style="margin: 0px 0px 0px; color: #332E2B">Team V</div>
	</div>
</div>
