
<div
	style="font-size: 14px; line-height: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68)">
	<div
		style="padding: 35px 8% 35px; min-height: 300px; line-height: 1.5em">
		<b>Hey {{teacherName}},</b><br>
		<div style="margin: 17px 0px; color: #332E2B">Your student,
			{{studentFullName}}, has submitted the {{contentName}} assignment for
			{{courseName}} on {{creationTime}}. The assignment is still pending
			for evaluation. Please evaluate the assignment at the earliest and
			share your feedback with the student.</div>

		<div style="padding: 15px 0; text-align: center">
			<a
				style="color: #fff; background-color: #e6632f; padding: 15px 35px; text-decoration: none; font-size: 13px; font-weight: 600; border-radius: 4px"
				href={{teacherActionLink}}>Evaluate Assignment Now</a>
		</div>
		<div style="margin: 17px 0px; color: #332E2B">{{studentName}} is
			eagerly waiting for your feedback to gauge the strengths and
			weaknesses of the topic.</div>

		<div style="margin: 17px 0px 0px; color: #332E2B">Happy
			Learning!</div>
		<div style="margin: 10px 0px 0px; color: #332E2B">Academically
			Yours,</div>
		<div style="margin: 0px 0px 0px; color: #332E2B">Team V</div>
	</div>
</div>
