<div style="background-color:rgb(238,238,238);width:100%">
  <div style="margin:0px auto;font-family:arial;padding-bottom:30px;padding-top:45px;max-width:520px">
    <div style="border:1px solid rgb(204,204,204)">
      <div style="text-align:center;min-height:120px;background-image:url(https://storage.googleapis.com/vedantu-fos-qa/email-marketing/common/email-template-pattern.png);color:rgb(255,255,255);font-size:40px;line-height:100px;background-color:rgb(230,99,47)"> <img alt="vedantu" src="https://storage.googleapis.com/vedantu-fos-qa/email-marketing/common/logo.png" style="margin-top:33px" class="CToWUd"></div>
      <div style="font-size:14px; line-height:18px; background-color:rgb(255,255,255);color:rgb(68,68,68)">
        <div style="padding:35px 8% 25px;min-height:300px; line-height:1.5em"> 
          <b>Hey There,</b><br>
          <div style="margin:10px 0px 10px; color:#332E2B">A test/assignment is pending for evaluation for more than 3 days. Please follow up with the teacher and take appropriate action.</div>
          
          <table style="color:#332e2b; font-size:13px; padding:10px 10px 10px 15px; border:1px solid #cccccc; line-height:2em" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td style="width:170px; display:inline-block">Teacher Name</td>
      <td style="display:inline-block; ">- {{teacherFullName}}</td>
    </tr>
    <tr>
      <td style="width:170px; display:inline-block">Teacher Email id</td>
      <td style="display:inline-block; ">- {{teacherEmail}}</td>
    </tr>
    <tr>
      <td style="width:170px; display:inline-block">Test/Assignment Name</td>
      <td style="display:inline-block; ">- {{contentName}}</td>
    </tr>
    <tr>
      <td style="width:170px; display:inline-block">Student Name</td>
      <td style="display:inline-block; ">- {{studentFullName}}</td>
    </tr>
    <tr>
      <td style="width:170px; display:inline-block">Date of Attempt/submission</td>
      <td style="display:inline-block; ">- {{attemptedTime}}</td>
    </tr>
  </tbody>
</table>

           <div style="margin:10px 0px 0px; color:#332E2B">Thanks,</div>
          <div style="margin:0px 0px 0px; color:#332E2B">Product Team</div>
          
        </div>
      </div>
    </div>
    <div style=" width: 96%; color:#fff; font-size:12px; display:inline-block;padding: 3% 2%;"> <span style="  float:left;  width:50%">
      <p style="font-size:12px; padding:0px;margin: 0; color: #777; font-weight:bold; ">Any Queries?<br>
        <a target="_blank" style="text-decoration:none; color:#a39a95; font-weight:normal;margin-top: 5px;display: inline-block;" href="mailto:vcare@vedantu.com"> Mail us at: vcare@vedantu.com</a></p>
      </span> <span style="  float:right; ">
      <p style="font-size:12px; padding:0px;margin: 0; color: #777; font-weight:bold; ">Follow Us on<br>
        <a href="https://twitter.com/vedantu_learn" style="text-decoration: none;color:#e6632f;"><img src="http://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/twitter.png"></a> <a style="text-decoration: none; color:#e6632f;;" href="http://www.facebook.com/VedantuInnovations"><img src="http://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/facebook.png"></a> <a style="text-decoration: none; color:#e6632f;" href="https://www.linkedin.com/company/vedantu?trk=company_logo"><img src="https://storage.googleapis.com/vedantu-fos-qa-public-media/feb/LinkedIn.png"></a> <a href="http://blog.vedantu.com/" style="text-decoration: none;color:#e6632f;"><img src="http://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/blog.png"></a></p>
      </span> </div>
  </div>
</div>