<b>Hey {{studentName}}!</b>
<div style="margin: 20px 0px;">
	Your teacher, {{teacherFullName}}, has evaluated the subjective test that you had attempted on {{attemptTimeStr}} and shared the feedback with you. Following are test details:
</div>
<div style="margin: 20px 0px;">
	<div><span style="font-weight: bold;">Test Name</span>:{{contentName}}</div>
	<div><span style="font-weight: bold;">Type</span>:{{#isObjective}}Objective Test{{/isObjective}}{{^isObjective}}Subjective Test{{/isObjective}}</div>
	<div><span style="font-weight: bold;">Shared By Teacher</span>:{{teacherFullName}}</div>
	<!--<div><span style="font-weight: bold;">Subject</span>:{{subjectName}}</div>-->
	<!--<div><span style="font-weight: bold;">Course</span>:{{courseName}}</div>-->
	<div><span style="font-weight: bold;">Shared with you on</span>:{{creationTime}}</div>
	<div><span style="font-weight: bold;">Attempted by you on</span>:{{attemptTimeStr}}</div>
</div>
<div style="margin: 20px 0px;padding: 20px 15px;background-color: #F4F4F4;">
	<div>Click here to view test evaluation and teacher feedback</div>
	<div style="padding-top: 20px;text-align: center;">
		<a style="font-weight: bold;text-decoration: none;padding: 8px 25px;background-color: #E6632F;color: #FFF;font-size: 16px;"
		   href="{{urlBase}}/contents/test/result/{{contentId}}?attemptId={{attemptId}}">Click here</a>
	</div>
</div>
<div style="margin: 20px 0px;">
	We suggest you have a discussion with your teacher to discuss the portions that you find tough and strengthen your learning.
</div>
<div style="margin: 20px 0px;">
	<strong>In case you have any academic feedback, please share it with us <a href="mailto:academics@vedantu.com">academics@vedantu.com</a></strong>.
	And for any assistance with payment process, please feel free to contact us at <strong>1800-120-456-456</strong> and <a href="mailto:vcare@vedantu.com">vcare@vedantu.com</a>.
</div>
<div style="margin: 20px 0px;"></div>
<div style="margin: 20px 0px;">Happy Learning :-)</div>
<div style="margin-top: 10px;">Vedantu</div>
