<b>Dear {{teacherFullName}},</b>
<div style="margin: 20px 0px;">
	Your student, {{studentName}}, has attempted the subjective test that you had shared on {{creationTime}}.
	Following are test details:
</div>
<div style="margin: 20px 0px;">
	<div><span style="font-weight: bold;">Test Name</span>:{{contentName}}</div>
	<div><span style="font-weight: bold;">Type</span>:{{#isObjective}}Objective Test{{/isObjective}}{{^isObjective}}Subjective Test{{/isObjective}}</div>
	<!--<div><span style="font-weight: bold;">Subject</span>:{{subjectName}}</div>-->
	<!--<div><span style="font-weight: bold;">Course</span>:{{courseName}}</div>-->
	<div><span style="font-weight: bold;">Shared with you on</span>:{{creationTime}}</div>
	<div><span style="font-weight: bold;">Attempted by student on</span>:{{attemptTimeStr}}</div>
</div>
<div style="margin: 20px 0px;">
	Please evaluate the test and share the feedback with the student.
</div>
<div style="margin: 20px 0px;padding: 20px 15px;background-color: #F4F4F4;">
	<div>Click here to view student’s attempt and give your evaluation:</div>
	<div style="padding-top: 20px;text-align: center;">
		<a style="font-weight: bold;text-decoration: none;padding: 8px 25px;background-color: #E6632F;color: #FFF;font-size: 16px;"
		   href="{{teacherActionLink}}">Click here</a>
	</div>
</div>
<div style="margin: 20px 0px;">
	<strong>In case you have any academic feedback, please share it with us <a href="mailto:academics@vedantu.com">academics@vedantu.com</a></strong>.
</div>
<div style="margin: 20px 0px;"></div>
<div style="margin: 20px 0px;">Happy Teaching :-)</div>
<div style="margin-top: 10px;">Vedantu</div>
