    <b>Hi {{teacherName}},</b><br>
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">The scheduled {{subject}} session with student, {{studentName}} on {{date}} at {{time}} is cancelled on request.
 
 </div>
    
    <div style="margin: 10px 0px 10px; padding-bottom: 5px">We suggest you to get in touch with the student or our student care team to schedule the session at an alternate time. </div>
    
	<div style="margin: 15px 0px 40px;">V are here for you. Let us know if you need anything else. You can catch us on {{displayMobileNumber}} or email us at <a href="mailto:{{displayEmailId}}">{{displayEmailId}}</a> </div>
	<div style="margin: 5px 0px 0px">Academically Yours,</div>
	<div style="margin: 5px 0px 40px">Team V</div>