    <b>Hi {{studentName}},</b><br>
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">Congratulation! Your session at Vedantu is scheduled with the teacher, {{teacherName}}.
        </div>
    
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">Here are the details of your session -</div>
    
	<div style="border: 1px solid #32c2bb; padding:23px 6% 13px; margin-bottom:25px;">
    
         <p style="margin:0 0 10px 0"><b>Teacher:</b> {{teacherName}}</p>
         <p style="margin:0 0 10px 0"><b>Subject:</b> {{subject}}</p>
         <p style="margin:0 0 10px 0"><b>Time:</b>{{time}}</p>
         <p style="margin:0 0 10px 0"><b>Date:</b>{{date}}</p>
         <p style="margin:0 0 10px 0"><b>Duration:</b>{{duration}} mins</p>
    </div>
    
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">
	Gear up for a fun-filled learning with your personal online teacher. Don't forget to login to Vedantu.com 5 mins before the scheduled time.
	</div>
        <div>
            Getting a bit nervous about the upcoming CBSE Exams? Relax - our CBSE revision courses 
            (taken by our best teachers) are just what the doc ordered. There are only 7 seats per batch though, so hurry!
        </div>
    <div style="text-align: center;">
            <a href="https://www.vedantu.com/v/1-to-few/cbse/courses?utm_source=SessionConfirmed&utm_campaign=CBSECourses&utm_medium=Email">Enroll in CBSE Exam Revision Courses</a>
        </div>
    
	<div style="margin: 15px 0px 40px;">V are here for you. Let us know if you need anything else. You can catch us on {{displayMobileNumber}} or email us at <a href="mailto:{{displayEmailId}}">{{displayEmailId}}</a> </div>
	<div style="margin: 15px 0px 40px;">Happy Learning!</div>
	<div style="margin: 5px 0px 0px">Academically Yours,</div>
	<div style="margin: 5px 0px 40px">V</div>