    <b>Hi {{teacherName}},</b><br>
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">Congratulation! A session is scheduled by {{studentName}} for {{grade}} {{board}} {{subject}}. We are sure you'll make the experience no less than awesome for the student. 
 </div>
    
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">Here are the details of the session for you -</div>
    
	<div style="border: 1px solid #32c2bb; padding:23px 6% 13px; margin-bottom:25px;">
    
         <p style="margin:0 0 10px 0"><b>Subject:</b> {{subject}}</p>
         <p style="margin:0 0 10px 0"><b>Board:</b> {{board}}</p>
         <p style="margin:0 0 10px 0"><b>Grade:</b> {{grade}}</p>
         <p style="margin:0 0 10px 0"><b>Time:</b>{{time}}</p>
         <p style="margin:0 0 10px 0"><b>Date:</b>{{date}}</p>
         <p style="margin:0 0 10px 0"><b>Duration:</b>{{duration}} mins</p>
         <p style="margin:0 0 10px 0"><b>Student's Phone No:</b>{{studentPhoneNo}}</p>
         <p style="margin:0 0 10px 0"><b>Note from Student:</b>
            {{#note}}
                <span style="font-size: 13px;color:#333;">{{note}}</span>
            {{/note}}
            {{^note}}
                <span style="font-size: 12px;color:#666;font-style: italic;">Not provided</span>
            {{/note}}
         </p>
    </div>
	<div style="margin: 15px 0px 40px;">V are here for you. Let us know if you need anything else. You can catch us on {{displayMobileNumber}} or email us at <a href="mailto:{{displayEmailId}}">{{displayEmailId}}</a> </div>
	<div style="margin: 15px 0px 40px;">Happy Knowledge Sharing,</div>
	<div style="margin: 5px 0px 0px">Academically Yours,</div>
	<div style="margin: 5px 0px 40px">V</div>