    <b>Hi {{teacherName}},</b><br>
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">Your student, {{studentName}}, requested you to take up a session for {{subject}} on {{date}} at {{time}}, but changed his mind. The student has canceled the request for scheduled session.
 
 </div>
    
    <div style="margin: 10px 0px 10px; padding-bottom: 5px">We suggest you to get in touch with the student to counsel and explore the possibility of academic engagement with you. </div>
    
	<div style="margin: 15px 0px 40px;">V are here for you. Let us know if you need anything else. You can catch us on {{displayMobileNumber}} or email us at <a href="mailto:{{displayEmailId}}">{{displayEmailId}}</a> </div>
	<div style="margin: 5px 0px 0px">Happy Learning,</div>
	<div style="margin: 5px 0px 0px">Academically Yours,</div>
	<div style="margin: 5px 0px 40px">Team V</div>