<div style="background-color: #eeeeee; text-align: center; margin: 0 auto; padding:0 0 2%">
    <div style="max-width: 600px; font-size: 14px; color: #5f5f5f; line-height: 1.75em; font-family: Arial; margin: 0 auto; background-color: #ffffff; text-align: left">
        <div style="padding: 40px 8% 5px">
            <div style="font-weight: bold">Dear User,</div>
            <div style="margin-top: 16px">We have seen that you have not reset your password for a long time. As part of the routine security measures we have reset your password to <b>{{password}} </b>. You can login to your account and reset it again as per your choice.</div>

            <div style="margin-top: 24px">Happy Learning!
                <br>Vedantu</div>
        </div>
    </div>
</div>
</html>