<b>Hi {{name}}</b>
<br>
<div style="margin: 10px 0px 10px; padding-bottom: 10px">
	Your message to {{toUserRole}} <a
		style="text-decoration: underline; color: #0370CB"
		href="{{toUserLink}}"><i>{{toUserName}}</i></a> has been delivered.
</div>
<div style="margin: 10px 0px 10px; padding-bottom: 10px">Here is
	the message that was sent by you:</div>

<div
	style="margin: 10px 0px 5px; border-top: 1px dashed #ccc; border-bottom: 1px dashed #ccc; padding: 25px 0; text-align: center; font-family: georgia; font-style: italic; font-size: 20px;">{{{message}}}</div>


<div style="margin: 15px 0px 35px">
	V are here for you, let us know if you need anything else. You can
	catch us on {{displayMobileNumberFooter}} or email us at <a
		target="_blank" style="text-decoration: underline; color: #0370CB"
		href="mailto:{{displayEmailFooter}}">{{displayEmailFooter}}</a>
</div>

<div style="margin: 20px 0px 0px">Academically Yours,</div>
<div style="margin: 5px 0px 40px">Team Vedantu.</div>