<b>Alert for No TOS</b>

<div style="margin: 20px 0px;">No TOS has happened for the below
	student even after leaving a message to teacher:</div>
<div>
	Name: <a style="text-decoration: underline; color: #0370CB"
		href="{{studentLink}}"><i>{{studentName}}</i></a>
</div>
<div>EmailId: {{studentEmail}}</div>
<div>Mobile Number: {{mobileNumber}}</div>
<div>Profile link: {{studentLink}}</div>
<div>MessageId: {{{messageId}}}</div>
<div>Message sent at: {{messageTime}}</div>
<div>
	Message sent to: {{toUserRole}} <a
		style="text-decoration: underline; color: #0370CB"
		href="{{teacherLink}}"><i>{{teacherName}}</i></a>
</div>
<div>Message: {{{message}}}</div>
<div style="margin-top: 40px;">Academically Yours,</div>
<div style="margin-bottom: 70px;">Team Vedantu</div>