<b>Hi {{name}}</b>
<br>
<div style="margin: 10px 0px 10px; padding-bottom: 10px">
	Your {{fromUserRole}} <a
		style="text-decoration: underline; color: #0370CB"
		href="{{fromUserLink}}"><i>{{fromName}}</i></a> has sent a message for
	you on Vedantu.
</div>
<div
	style="margin: 20px 0px 10px; border-bottom: 1px dashed #ccc; padding-bottom: 10px">Here
	is the message that your {{fromUserRole}} has left for you:</div>

<div
	style="margin: 10px 0px 5px; padding: 10px 0; text-align: center; font-size: 18px;">{{{message}}}</div>

<div style="margin: 40px 0px 10px; color: #e6632f; font-weight: bold;">{{fromUserRoleUpper}}
	INFO:</div>
<div style="border: 1px solid #e6632f; padding: 15px 20px 10px">
	<div style="margin: 5px 0px">
		<b>Name:</b> {{fromName}}
	</div>
	<div style="margin: 5px 0px;">
		<b>Mobile Number:</b>{{fromUserMobileNumber}}
	</div>
	<div style="margin: 5px 0px 20px;">
		<b>Email Id:</b> <a style="color: #0370CB"
			href="mailto:{{fromUserEmailId}}" target="_blank">{{fromUserEmailId}}</a>
	</div>
</div>

<div style="margin: 10px 0px 10px; text-align: center">
	<a
		style="text-decoration: none; display: inline-block; color: #fff; background-color: #e6632f; border-radius: 4px; padding: 14px 30px; margin-top: 15px; margin-bottom: 10px; font-weight: bold; font-size: 16px;"
		href="{{replyURL}}">Respond Now</a>
</div>

<div style="margin: 15px 0px 15px">
	V are here for you, let us know if you need anything else. You can
	catch us on {{displayMobileNumber}} or email us at <a
		href="mailto:{{displayEmailId}}" target="_blank">{{displayEmailId}}</a>.
</div>
<div style="margin: 20px 0px 0px">Happy Knowledge Sharing!</div>
<div style="margin: 20px 0px 0px">Academically Yours,</div>
<div style="margin: 5px 0px 40px">Team Vedantu.</div>
