<b>Hi {{name}}</b>
<br>
<div style="margin: 10px 0px 10px; padding-bottom: 10px">
	You have not responded to a message left by student <a
		style="text-decoration: underline; color: #0370CB"
		href="{{studentProfileLink}}"><i>{{studentName}}</i></a> at {{sendTime}}
</div>
<div style="margin: 20px 0px 10px; padding-bottom: 10px">Here is
	the message that your student has left for you:</div>

<div
	style="margin: 10px 0px 5px; border-top: 1px dashed #ccc; border-bottom: 1px dashed #ccc; padding: 25px 0; text-align: center; font-family: georgia; font-style: italic; font-size: 20px;">{{{message}}}</div>


<div style="margin: 30px 0px 10px; text-align: center">
	<a
		style="text-decoration: none; display: inline-block; color: #fff; background-color: #e6632f; border-radius: 4px; padding: 14px 30px; margin-bottom: 20px; font-weight: bold; font-size: 16px;"
		href="{{replyURL}}">Respond Now</a>
</div>

<div style="margin: 20px 0px 0px">Academically Yours,</div>
<div style="margin: 5px 0px 40px">Team Vedantu.</div>