<div class="contentHolder">
	<div style="margin: 20px 0px 10px;">Hey {{name}},</div>
	<div style="margin: 20px 0px;">
		You have been added to a course: <b>{{packageName}}</b>.
	</div>

	<table
		style="width: 100%; border: 1px solid rgb(204, 204, 204); border-collapse: collapse">
		<thead>
			<tr>
				<td
					style="width: 160px; padding: 12px 12px 10px; border-bottom: 1px solid rgb(204, 204, 204);">
					<div style="font-size: 16px; margin-bottom: 2px;">
						<span style="color: rgb(230, 99, 47); font-weight: bold;">
							Course : </span> <a href="{{packageLink}}" target="_blank"
							style="margin-left: 12px; text-decoration: underline; color: rgb(230, 99, 47); margin-top: 2px; display: inline-block;">
							{{packageName}}</a>

					</div>
				</td>
			</tr>
			<tr>
				<td
					style="width: 160px; padding: 12px 12px 10px; border-bottom: 1px solid rgb(204, 204, 204);">
					<div style="font-size: 16px; margin-bottom: 2px;">
						<div style="margin: 10px 0px;">Course Type:
							{{offeringType}}</div>
						<div style="margin: 10px 0px;">Grade(s) : {{grades}}</div>
						<div style="margin: 10px 0px;">Targets(s): {{targets}}</div>
						<div style="margin: 10px 0px;">Subjects(s): {{subjects}}</div>

					</div>
				</td>
			</tr>
		</thead>
	</table>
</div>

<div style="margin: 20px 0px;">We wish you a great teaching
	experience. For any information related to the course, please refer to
	the Course Manual shared with you via email.</div>
<div style="margin: 10px 0px;">For any further assistance, you can
	call us on {{displayMobileNumber}}, or e-mail us at {{displayEmailId}}.</div>
<div style="margin-top: 40px;">Academically Yours,</div>
<div style="margin-bottom: 70px;">V</div>

