 <b style="font-size: 16px;">Thank You {{name}}!</b>

                    <div class="contentHolder">
                        <div style="margin: 20px 0px;">
							You have requested for a free session on the Course <a href="{{packageLink}}" target="_blank"
                                           style="margin-left: 1px; text-decoration: underline; color: rgb(230, 99, 47); margin-top: 2px; display: inline-block;">
                                            {{packageName}}</a> on Vedantu.
                        </div>
                    </div>

                    <div style="margin: 20px 0px;"> Next Steps
						<ul>
							<li>You will receive a call from Vedantu Counsellor shortly to further understand your academic requirement for the session.</li>
							<li>Counsellor will also schedule sessions for you with Vedantu's expert Teacher. </li>
							
						</ul>
                    
                    </div>
                     <div>{{sessionTimeText}}</div>
                    <div style="margin: 20px 0px;">We wish you a great learning experience on Vedantu. </div>
                    <div style="margin-top: 40px;">Academically Yours,</div>
                    <div style="margin-bottom: 20px;">V</div>
                    <div style="margin-bottom: 20px;"></div>
           
