<div class="contentHolder">
	<div style="margin: 20px 0px;">Hi {{name}},</div>
	<div style="margin: 20px 0px;">
		We are thrilled to assign <a href="{{partnerLink}}" target="_blank"
			style="text-decoration: none; color: rgb(230, 99, 47);">{{partnerName}}</a>
		as your Student on the Course: <a href="{{packageLink}}"
			target="_blank"
			style="margin-left: 5px; text-decoration: underline; color: rgb(230, 99, 47); margin-top: 2px; display: inline-block;">{{packageName}}</a>
	</div>
	<table
		style="width: 100%; border-collapse: collapse; font-size: 14px; margin-top: 7px">
		<thead>
			<tr>
				<th
					style="text-align: left; border: 1px solid rgb(204, 204, 204); font-weight: bold; padding: 6px 10px">Student
					Name</th>
				<th
					style="text-align: left; border: 1px solid rgb(204, 204, 204); font-weight: bold; padding: 6px 10px">Phone
					No</th>
				<th
					style="text-align: left; border: 1px solid rgb(204, 204, 204); font-weight: bold; padding: 6px 10px">Grade</th>
				<th
					style="text-align: left; border: 1px solid rgb(204, 204, 204); font-weight: bold; padding: 6px 10px">Schedule
				</th>
				{{#partnerHours}}
				<th
					style="text-align: left; border: 1px solid rgb(204, 204, 204); font-weight: bold; padding: 6px 10px">Hours
				</th>
				{{/partnerHours}}
			</tr>
		</thead>
		<tbody>
			<tr>
				<td style="border: 1px solid rgb(204, 204, 204); padding: 6px 10px">{{partnerName}}</td>
				<td style="border: 1px solid rgb(204, 204, 204); padding: 6px 10px">{{partnerContactNo}}</td>
				<td style="border: 1px solid rgb(204, 204, 204); padding: 6px 10px">{{partnerGrade}}</td>
				<td style="border: 1px solid rgb(204, 204, 204); padding: 6px 10px">{{partnerSchedule}}</td>
				{{#partnerHours}}
				<td style="border: 1px solid rgb(204, 204, 204); padding: 6px 10px">{{partnerHours}}</td>
				{{/partnerHours}}
			</tr>
		</tbody>
	</table>
</div>
<div style="margin: 20px 0px;">We wish you a great teaching
	experience on Vedantu. For any information related to the Course, refer
	to the Course Manual shared with you at the time of adding you to this
	Course.</div>

<div style="margin: 20px 0px;">For any further assistance, you can
	call us on {{displayMobileNumber}}, or email us at {{displayEmailId}}.</div>

<div style="margin-top: 40px;">Academically Yours,</div>
<div style="margin-bottom: 70px;">V</div>

