 <b style="font-size: 16px;">Thank You!</b>

                    <div class="contentHolder">
                        <div style="margin: 20px 0px;">
							Hi {{name}}, you have subscribed to the following Course on Vedantu.
                        </div>
                        
                        <table style="width: 100%; border: 1px solid rgb(204, 204, 204);border-collapse: collapse">
                            <thead>
                            <tr>
                                <td style="width: 160px; padding: 12px 12px 10px; border-bottom: 1px solid rgb(204, 204, 204);">
                                    <div style="font-size: 16px; margin-bottom: 2px;">
										<span style="color: rgb(230, 99, 47); font-weight: bold;">
                                        Course
										</span>
										<a href="{{packageLink}}" target="_blank"
                                           style="margin-left: 12px; text-decoration: underline; color: rgb(230, 99, 47); margin-top: 2px; display: inline-block;">
                                            {{packageName}}</a>
                                       
                                    </div>
                                </td>

                            </tr>
                            </thead>
                        </table>
                    </div>

                    <div style="margin: 20px 0px;"> Next Steps
						<ul>
							<li>You will receive a call from Vedantu Counsellor shortly to further understand your academic requirement on this Course.</li>
							<li>Counsellor will also schedule sessions for you with Vedantu's expert Teacher. </li>
						</ul>
                    
                    </div>
                    <div style="margin: 20px 0px;">We wish you a great learning experience on Vedantu. </div>
                    <div style="margin-top: 40px;">Academically Yours,</div>
                    <div style="margin-bottom: 20px;">V</div>
                    <div style="margin-bottom: 20px;"></div> 
           
