
<b style="font-size: 16px;">Dear Parent!</b>

<div class="contentHolder">
	<div style="margin: 20px 0px;">
		Thank you for the purchase of <a href="{{packageLink}}"
			target="_blank"
			style="margin-left: 12px; text-decoration: underline; color: rgb(230, 99, 47); margin-top: 2px; display: inline-block;">
			{{packageName}}</a> on Vedantu. Following are the transaction details.
	</div>

	<table
		style="width: 100%; border: 1px solid rgb(204, 204, 204); border-collapse: collapse">
		<thead>
			<tr>
				<td
					style="width: 160px; padding: 12px 12px 10px; border-bottom: 1px solid rgb(204, 204, 204);">
					<div style="font-size: 16px; margin-bottom: 2px;">
						<span style="color: rgb(230, 99, 47); font-weight: bold;">
							Course </span> <a href="{{packageLink}}" target="_blank"
							style="margin-left: 12px; text-decoration: underline; color: rgb(230, 99, 47); margin-top: 2px; display: inline-block;">
							{{packageName}}</a>

					</div>
				</td>

			</tr>
		</thead>
	</table>
</div>

<div style="margin: 20px 0px;">For any further assistance, you can
	call us at +91-88844-08888 or email us at vcare@vedantu.com</div>
	
<div style="margin-top: 40px;">Sincerely Yours,</div>
<div style="margin-bottom: 20px;">V</div>
<div style="margin-bottom: 20px;"></div>

