<div class="contentHolder">
	<div style="margin: 20px 0px;">Hi {{name}},</div>
	<div style="margin: 20px 0px;">
		We are thrilled to assign <a href="{{partnerLink}}" target="_blank"
			style="text-decoration: none; color: rgb(230, 99, 47);">{{partnerName}}</a>
		(Phone No: {{partnerContactNo}}) as your designated teacher and mentor
		for the Course: <a href="{{packageLink}}" target="_blank"
			style="margin-left: 2px; text-decoration: underline; color: rgb(230, 99, 47); margin-top: 2px; display: inline-block;">{{packageName}}</a>.
	</div>
	<div style="margin: 10px 0px;">
		You can view {{partnerName}}'s profile <a href="{{partnerLink}}"
			target="_blank"
			style="text-decoration: none; color: rgb(230, 99, 47);">here</a>.
	</div>
	<div style="margin: 20px 0px;">
		We wish you a great learning experience with <a href="{{partnerLink}}"
			target="_blank"
			style="text-decoration: none; color: rgb(230, 99, 47);">{{partnerName}}</a>,
		on Vedantu.
	</div>
</div>

<div style="margin: 20px 0px;">For any further assistance, you can
	call us on {{displayMobileNumber}}, or email us at {{displayEmailId}}.</div>
<div style="margin-top: 40px;">Academically Yours,</div>
<div style="margin-bottom: 70px;">V</div>

