<div style="padding: 35px 8% 25px; min-height: 300px;line-height:1.2em;">
	<b>Hi {{studentName}},</b><br>
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">
		This is a reminder for you!
	</div>
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">
		You have a scheduled session for {{courseName}} with your teacher {{teacherName}}. Your session starts at {{sessionStartTime}}, we suggest you to please login to <a target="_blank" href="//www.vedantu.com/v/login">vedantu.com</a> 5 mins prior to your session.
	</div>
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">
		Here are the schedule details once again for your ease:
	</div>
	<div style="margin: 10px 0px 5px; padding-bottom: 5px">
		Time: {{formattedTime}} 
	</div>
	<div style="margin: 5px 0px 5px; padding-bottom: 5px">
		Date: {{formattedDate}}
	</div>
	<div style="margin: 5px 0px 15px; padding-bottom: 5px">
		Duration: {{duration}} hr:min
	</div>
	<div style="margin: 15px 0px 40px;">
		V are here for you. Let us know if you need anything else. You can
		catch us on {{displayMobileNumber}} or email us at <a
			href="mailto:{{displayEmailId}}">{{displayEmailId}}</a>
	</div>
	<div style="margin: 20px 0px 20px">Happy Learning!</div>
	<div style="margin: 5px 0px 0px">Academically Yours,</div>
	<div style="margin: 5px 0px 40px">V</div>
</div>
