<div style="margin: 20px 0px;"><b>One-to-few upcoming sessions for today:</b></div>
<table style="width:100%;border-collapse: collapse;font-size: 11px;word-wrap: break-word;">
	<thead>
	    <tr>
	    	<th style="max-width: 50px;border: 1px solid #ccc;">Course, BatchId</th>
	        <th style="max-width: 50px;border: 1px solid #ccc;">Session</th>
	        <th style="max-width: 50px;border: 1px solid #ccc;">Teacher Name</th>
	        <th style="max-width: 50px;border: 1px solid #ccc;">Session Timings</th>
	        <th style="max-width: 50px;border: 1px solid #ccc;">Session URL</th>
	        <th style="max-width: 50px;border: 1px solid #ccc;">Session Organiser Token</th>				
	    </tr>
	</thead>
	<tbody>
	{{#sessions}}
		<tr> <!-- Loop Here -->                    
			<td style="max-width: 50px;border: 1px solid #ccc;">
                            {{courseName}}<br>{{courseId}}<br>{{batchIds}}
                        </td>
			<td style="max-width: 50px;border: 1px solid #ccc;">{{sessionName}}<br>{{sessionId}}</td>			
			<td style="max-width: 50px;border: 1px solid #ccc;">{{sessionPresenter}}</td>
			<td style="max-width: 50px;border: 1px solid #ccc;">
				<div>Start Time: {{sessionStartTime}}</div>
				<div>End Time: {{sessionEndTime}}</div>
			</td>
			<td style="max-width: 50px;border: 1px solid #ccc;">{{sessionURL}}</td>
			<td style="max-width: 50px;border: 1px solid #ccc;">{{sessionOrganiserToken}}</td>
		</tr>
		{{/sessions}}
	</tbody>
</table>

<div style="margin: 20px 0px;"><b>Conflicts:</b></div>
<table style="width:100%;border-collapse: collapse;font-size: 11px;word-wrap: break-word;">
	<thead>
	    <tr>
	    	<th style="max-width: 50px;border: 1px solid #ccc;">Start Time</th>
	        <th style="max-width: 50px;border: 1px solid #ccc;">End Time</th>
	        <th style="max-width: 50px;border: 1px solid #ccc;">Orgnanizer Id</th>
	    </tr>
	</thead>
	<tbody>
	{{#conflicts}}
		<tr> <!-- Loop Here -->                    
                    
                    <td style="max-width: 50px;border: 1px solid #ccc;">{{startTime}}</td>
                    <td style="max-width: 50px;border: 1px solid #ccc;">{{endTime}}</td>
                    <td style="max-width: 50px;border: 1px solid #ccc;">{{organiserId}}</td>
		</tr>
        {{/conflicts}}
	</tbody>
</table>

<div style="margin-top: 40px;">Academically Yours,</div>
<div style="margin-bottom: 70px;">Team Vedantu</div>

