<div
	style="padding: 35px 8% 25px; min-height: 300px; line-height: 1.2em;">
	<b>Hi {{studentName}},</b><br>
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">
		You have successfully completed your session of course {{courseTitle}}
		with teacher {{teacherName}}. We hope you had great time learning in
		the 1-to-few course and realized the difference that personalized
		teaching brings to your achievements.
		<div style="margin: 10px 0px 10px; padding-bottom: 5px">
			Please take out a couple of minutes and click <a target="_blank"
				href="{{feedbackLink}}">here</a> to give us your feedback on the
			session. This would help us improve the offering for you.
		</div>
		<div style="margin: 15px 0px 40px;">
			V are here for you. Let us know if you need anything else. You can
			catch us on {{displayMobileNumber}} or email us at <a
				href="mailto:{{displayEmailId}}">{{displayEmailId}}</a>
		</div>
		<div style="margin: 20px 0px 20px">Happy Learning!</div>
		<div style="margin: 5px 0px 0px">Academically Yours,</div>
		<div style="margin: 5px 0px 40px">V</div>
	</div>