<div style="padding: 35px 8% 25px; min-height: 300px">
    <b>Hey {{studentName}},</b><br>
    <div style="margin: 20px 0px 30px; padding-bottom: 5px;">
        It's been six days since you have been enrolled on the Course {{courseName}}. We sincerely hope that you are finding learning with the Teacher on this Course very enriching.
        <div style="margin-top: 10px;">
            This email is to remind you that your <b>first payment is due in a days time on {{dueDate}}</b> for {{courseName}}.
        </div>
        <div style="text-align: center;margin-top: 15px;">
            <a href ="{{batchLink}}"
               target="_blank"
               style="color: #ffffff ;cursor: pointer;background-color: #e6632f ;font-size: 18px;border-radius: 3px;padding: 6px 22px 6px;text-decoration: none;">Pay Now</a>
        </div>
    </div>
    <p style="margin: 20px 0 30px; padding: 0;font-size: 14px;font-weight: bold;">
        Note: You will not be able to join any session post the Payment Due Date on {{dueDate}}.
    </p>
    <p>
        <b>In case you have any academic feedback, please share it with us <a href="mailto:academics@vedantu.com">academics@vedantu.com</a> </b> <br/>
        And for any assistance with payment process, please feel free to contact us at <a href="tel:1800-120-456-456">1800-120-456-456</a> and <a href="mailto:vcare@vedantu.com">vcare@vedantu.com</a>
    </p>
    <div style="margin: 5px 0px 0px">Academically Yours,</div>
    <div style="margin: 5px 0px 40px">Team Vedantu</div>
</div>