<b>Hi,</b><br>
<div style="margin: 10px 0px 10px; padding-bottom: 5px">{{studentName}} registered to the OTF Course {{courseTitle}}.</div>

<div style="margin: 10px 0px 10px; padding-bottom: 5px">New registration details:  </div>

<div style="margin: 10px 0px 10px; padding-bottom: 5px">
    Course: {{courseTitle}} {{courseId}}<br>
    Student Name: {{studentName}}<br>
    Email: {{email}}<br>
    Mobile: {{phoneCode}} {{contactNumber}}<br>
    Date: {{dateTime}}
    Amt Paid: INR {{amount}}
</div>
<div style="margin: 10px 0px 10px; padding-bottom: 5px">
    Please process the exact Course Plan or Batch details for the student. 
</div>

<div style="margin: 5px 0px 0px">Academically Yours,</div>
<div style="margin: 5px 0px 40px">V</div>