<div
	style="padding: 35px 8% 25px; min-height: 300px; line-height: 1.2em;">
	<b>Hey {{studentName}},</b><br>
	<div style="margin: 10px 0px;">
		You have successfully enrolled for the trial session on {{courseName}}
		course with the teacher <span style="text-transform: capitalize">{{teacherName}}</span>.
	</div>

	<div style="margin: 10px 0px 10px; padding-bottom: 5px">This
		trial session will comprise of two halves. The first half will focus
		on importance of this course for excelling at your studies and the
		second half will focus on how the session will take place. We
		encourage you to discuss all your queries on the content and course
		with your teacher before {{teacherGenderText}} starts teaching you a
		topic in the second half.</div>
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">Here are
		the schedule details once again for your ease:</div>
	<div style="margin: 10px 0px 5px; padding-bottom: 5px">Time:
		{{formattedTime}}</div>
	<div style="margin: 5px 0px 5px; padding-bottom: 5px">Date:
		{{formattedDate}}</div>
	<div style="margin: 5px 0px 15px; padding-bottom: 5px">Duration:
		{{duration}} hr:min</div>
	<div
		style="margin: 10px 0px 5px; padding-bottom: 5px; font-weight: 800;">Steps
		to join the session</div>
	<div style="margin: 5px 30px 5px; padding-bottom: 5px">
		<ol>
			<li>Please <a href="{{gotoMeetingLink}}">click here</a> and
				install GoToMeeting, one time installation is required
			</li>
			<li>Login to <a href="{{vedantuSiteUrl}}">www.vedantu.com</a>
				with your registered email id
			</li>
			<li>Once you have logged in, you'll see a 'Join Now' button
				5 mins prior to your session time, in case you don't see the button,
				please refresh the page.</li>
			<li>Click on 'Join now', it will redirect you to GoToMeeting
				page and then to your classroom</li>
		</ol>
	</div>
	<div style="margin: 5px 0px 5px; padding-bottom: 5px">Here are a
		few tips for you to have an amazing first experience on Vedantu.</div>
	<div style="margin: 0px 0px 0px 30px;">
		<ol>
			<li>Quit Skype &amp; other applications before entering your
				session</li>
			<li>Take your session at a quite place with minimum background
				noise.</li>
		</ol>
	</div>
	<div style="margin: 15px 0px 15px;">
		V are here for you. Let us know if you need anything else. You can
		catch us on {{displayMobileNumber}} or email us at <a
			href="mailto:{{displayEmailId}}">{{displayEmailId}}</a>
	</div>
	<div style="margin: 20px 0px 10px;">Happy Learning!</div>
	<div style="margin: 5px 0px 5px;">Academically Yours,</div>
	<div style="margin: 5px 0px 40px">V</div>
</div>
