
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><META http-equiv="Content-Type" content="text/html; charset=utf-8"></head><body>






        <div style="margin:0">

            <div style="background-color:#eeeeee;text-align:center;margin:0 auto;padding:2% 0">
                <div style="max-width:600px;font-size:14px;color:#5f5f5f;line-height:1.75em;font-family:Arial;margin:0 auto;background-color:#ffffff;text-align:left">
                    <img style="width:100%" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/feb/Banner_SessionReport.jpg" alt="">

                    <div style="padding:30px 8% 5px">
                        <div style="font-weight:bold">Hi {{studentName}},</div>
                        <div style="margin-top:16px;color:#5f5f5f">Hope your classes are going well at Vedantu.</div>

                        <div style="border:1px solid #eeeeee;padding:20px 10px;line-height:20px;text-align:center;margin-top:20px">
                            <div style="font-size:13px">You can revise the concepts that your teacher discussed in class today using these class notes and class replay video.</div>
                            <div style="margin-top:8px">
                                {{#replayUrl}}
                                <a href={{replayUrl}} style="width:180px;background-color:#ff7043;padding:15px;color:#ffffff;text-decoration:none;display:inline-block;text-align:center;border-radius:4px;margin:8px 4px 0px" ><img style="height:16px;margin-right:8px;vertical-align:middle" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/feb/Icon_Reply_W.png" alt="">View Session Reply</a>
                                {{/replayUrl}}
                                {{#notesUrl}}
                                <a href={{notesUrl}} style="width:180px;background-color:#ff7043;padding:15px;color:#ffffff;text-decoration:none;display:inline-block;text-align:center;border-radius:4px;margin:8px 4px 0px"><img style="height:16px;margin-right:8px;vertical-align:middle" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/feb/Icon_Notes_W.png" alt="">View Session Notes</a>
                                {{/notesUrl}}
                            </div>
                        </div>

                        <div style="border:1px solid #eeeeee;margin:10px 0 10px;padding:10px 10px 25px;text-align:center">
                            {{#onTimeMessage}}
                            <div style="font-size:16px;margin-top:15px;text-align:center;font-weight:bold;color:#5f5f5f">When did you join the class today?</div>
                            <div style="color:#22b573;font-size:18px;display:inline-block;width:140px;text-align:center;padding:10px;border-radius:50px;margin-top:20px;border:1px solid #d3f0e3"><strong>Right on time</strong></div>
                            {{/onTimeMessage}}
                            {{#missedMessage}}
                            <div style="color:#ff0000;font-size:18px;display:inline-block;width:140px;text-align:center;padding:10px;border-radius:50px;margin-top:20px;border:1px solid rgba(255,0,0,0.2)"><strong>You missed it!</strong></div>
                            {{#replayUrl}}
                            <div style="font-size:13px;margin:15px auto 0;line-height:20px;max-width:400px">Majority of your classmates attended the session, <a style="color:#ff7043;text-decoration:underline;font-size:12px;display:inline-block" href={{replayUrl}}>View Session Reply</a> to see interesting things happened.</div>
                            {{/replayUrl}}
                            {{/missedMessage}}
                            {{#lateMessage}}
                            <div style="color:#7e57c2;font-size:18px;display:inline-block;width:140px;text-align:center;padding:10px;border-radius:50px;margin-top:20px;border:1px solid #e5ddf3"><strong>{{lateMessage}}</strong> later</div>
                            <div style="font-size:13px;margin:15px auto 0;line-height:20px;max-width:240px">Majority of your classmates are on time, Please be on time</div>                            
                            {{/lateMessage}}


                            {{#attendedClass}}
                            <div style="background-color:#eeeeee;height:1px;max-width:380px;margin:20px auto 0"></div>
                            <div style="font-size:16px;margin-top:25px;text-align:center;font-weight:bold;color:#5f5f5f">Your engagement in the class today at {{sessionDateWithMonth}}, {{sessionTime}}</div>
                            
                            <div style="margin-top:25px;font-size:12px;font-weight:bold">Quizzes + Hotspot</div>
                            <div style="color:#7e57c2;font-size:13px;display:inline-block;text-align:center;padding:5px 18px;border-radius:50px;margin:5px 2px;border:1px solid #e5ddf3"><img style="width:14px;vertical-align:sub;margin-right:5px" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/feb/Icon_quiz.png" alt=""><strong>{{attempted}}/{{asked}}</strong> Attempted</div>
<!--                            {{#leaderboardPercentile}}
                            <div style="color:#7e57c2;font-size:13px;display:inline-block;text-align:center;padding:5px 18px;border-radius:50px;margin:5px 2px;border:1px solid #e5ddf3"><img style="width:14px;vertical-align:sub;margin-right:5px" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/feb/Icon_leaderboard.png" alt=""><strong>{{leaderboardPercentile}}</strong> Percentile</div>
                            {{/leaderboardPercentile}}-->
                            <br>
                            <div style="color:#7e57c2;font-size:13px;display:inline-block;text-align:center;padding:5px 18px;border-radius:50px;margin:5px 2px;border:1px solid #e5ddf3"><img style="width:13px;margin-right:5px" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/feb/Icon_tick.png" alt=""><strong>{{correct}}</strong> Correct</div>
                            <div style="color:#7e57c2;font-size:13px;display:inline-block;text-align:center;padding:5px 18px;border-radius:50px;margin:5px 2px;border:1px solid #e5ddf3"><img style="width:12px;vertical-align:middle;margin-right:5px" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/feb/Icon_cross.png" alt=""><strong>{{wrong}}</strong> Wrong</div>

                            <div style="margin-top:15px;font-size:12px;font-weight:bold">Polls</div>
                            <div style="color:#7e57c2;font-size:13px;display:inline-block;text-align:center;padding:5px 18px;border-radius:50px;margin:5px 2px;border:1px solid #e5ddf3"><img style="width:14px;vertical-align:sub;margin-right:5px" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/feb/Icon_thumbs-up.png" alt=""><strong>{{pollsLiked}}</strong> Likes</div>
                            <div style="color:#7e57c2;font-size:13px;display:inline-block;text-align:center;padding:5px 18px;border-radius:50px;margin:5px 2px;border:1px solid #e5ddf3"><img style="width:14px;vertical-align:sub;margin-right:5px" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/feb/Icon_thumbs-down.png" alt=""><strong>{{pollsDisliked}}</strong> Dislikes</div>

                            <div style="margin-top:15px;font-size:12px;font-weight:bold">Doubts</div>
                            <div style="color:#7e57c2;font-size:13px;display:inline-block;text-align:center;padding:5px 18px;border-radius:50px;margin:5px 2px;border:1px solid #e5ddf3"><img style="width:14px;vertical-align:sub;margin-right:5px" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/feb/Icon_hand.png" alt=""><strong>{{doubtsAsked}}</strong> By You</div>
                            <div style="color:#7e57c2;font-size:13px;display:inline-block;text-align:center;padding:5px 18px;border-radius:50px;margin:5px 2px;border:1px solid #e5ddf3"><img style="width:14px;vertical-align:sub;margin-right:5px" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/feb/Icon_broadcasted.png" alt=""><strong>{{noticesCount}}</strong> Broadcasted</div>

                            <a href={{replayUrl}} style="color:#ff7043;display:block;font-size:12px;text-decoration:underline">View Doubts</a>



                            <!--                            <div style="margin-top:20px">&lt; username &gt;, you were super active in class today!</div>
                                                        <div style="color:#999999;max-width:380px;margin:0 auto;font-size:13px;line-height:20px">Maintain the same momentum throughout the course and you would definitely succeed :)</div>-->
                            {{/attendedClass}}
                        </div>



                        <div style="margin-top:24px;color:#5f5f5f">If you have any questions you write back to us on <a style="color:#ff7043;font-size:12px;text-decoration:underline" href="mailto:vcare@vedantu.com" target="_blank">vcare@vedantu.com</a> <br>or call us on <a style="color:#ff7043;font-size:12px;text-decoration:underline">08039511577</a>.</div>
                        <div style="margin-top:24px;color:#5f5f5f">Happy Learning! :)</div>
                        <div style="margin-top:24px">Academic team,<br>Vedantu</div>
                        <div style="text-align:center;color:#999999;font-size:10px;margin-top:60px">This is a system generated mail. Please do not reply.</div>
                    </div>
                </div>

                <div style="max-width:600px;text-align:center;font-size:14px;color:#999999;line-height:1.75em;font-family:Arial;margin:0 auto;margin-top:28px">
                    <div style="font-weight:bold">Any Queries?</div>
                    <a style="color:#999999;text-decoration:none;font-size:13px" href="mailto:vcare@vedantu.com" target="_blank">Mail us at: vcare@vedantu.com</a>
                    <div style="height:1px;background-color:#999999;max-width:100px;text-align:center;display:block;margin:12px auto"></div>
                    <div>
                        <a href="https://www.facebook.com/VedantuInnovations/" target="_blank"><img style="max-width:20px;padding:10px;max-height:20px" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/feb/Icon_FB.png" alt=""></a>
                        <a href="https://twitter.com/vedantu_learn?lang=en" target="_blank"><img style="width:22px;padding:10px" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/feb/Icon_TW.png" alt=""></a>
                        <a href="https://www.youtube.com/user/VedantuInnovations" target="_blank"><img style="width:24px;padding:10px" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/feb/Icon_Yt.png" alt=""></a>
                        <a href="https://blog.vedantu.com/" target="_blank"><img style="width:18px;padding:10px" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/feb/Icon_BL.png" alt=""></a>


                    </div>
                </div>

            </div>

        </div>

    </body></html>