<b>Attention!!!</b>

<div style="margin: 20px 0px;">Teacher {{presenterName}} did not
	join for below session {{sessionTitle}}. Have a look:</div>
<div>Teacher name: {{presenterName}}</div>
<div>Session Id : {{sessionId}}</div>
<div>Session start time : {{sessionStartTime}}</div>
<div>Session Title: {{sessionTitle}}</div>
<div>BatchId: {{batchIds}}</div>
<div>Teacher Id: {{presenter}}</div>
<div>Session Url: {{sessionURL}}</div>
<div>Organizer access token: {{organizerAccessToken}}</div>

<div style="margin-top: 40px;">Academically Yours,</div>
<div style="margin-bottom: 70px;">Team Vedantu</div>