<div style="line-height:20px">
    <div style="font-size:16px;padding-top:10px;font-weight:bold">Hi {{studentName}},</div>
    <div style="margin:12px 0px">We have successfully received your instalment payment for {{courseName}} </div>
    <div style="margin:20px 0px;line-height:24px">

        <div><b>Instalment Amount Paid:</b> {{amountPaid}}</div>
        <div><b>Payment date:</b> {{paymentDate}}</div>
        <!--<div><b>Instalment due date:</b> {Due Date}</div>-->

    </div>

    <div style="margin:20px 0px">You can also see the payment details and history on your <a href="{{batchLink}}">course page</a></div>

    <div style="margin:20px 0px">
        <b>Ensure readiness for taking Live Online Session:</b>
        <ul>
            <li>Please make sure that you are ready with a Headset with Microphone (any good quality mobile handsfree earphone with mic should be good enough) and have good internet connectivity to ensure seamless learning sessions.</li>
            <li style="margin-top:10px"><b>Following document details the steps you need to follow to set up your system for Live Online Learning:</b> <a style="color:blue" href="http://courses.vedantu.com/how-to-join-otf-session/" target="_blank">How to join OTF Session</a></li>
        </ul>
    </div>

    <div style="margin:20px 0px">For any queries, feel free to contact us on 1800-120-456-456 or drop us a mail at <a href="mailto:vcare@vedantu.com" target="_blank">vcare@vedantu.com</a></div>

    <div style="margin:10px 0px 5px">Happy Learning,</div>
    <div style="margin:0px 0px 40px">Team Vedantu.</div>
</div>
