<div style="line-height:20px">
    <div style="font-size:16px;padding-top:10px;font-weight:bold">Hi {{studentName}},</div>
    <div style="margin:12px 0px">We have successfully received your payment for {{courseName}} </div>
    <div style="margin:20px 0px;line-height:24px">

        <div><b>Amount Paid:</b> {{amountPaid}}</div>
        <div><b>Payment date:</b> {{paymentDate}}</div>
    </div>

    <div style="margin:20px 0px">You can see the course details and schedule on your <a href="{{batchLink}}">course page</a></div>

    <div style="margin:20px 0px">For any queries, feel free to contact us on 1800-120-456-456 or drop us a mail at <a href="mailto:vcare@vedantu.com" target="_blank">vcare@vedantu.com</a></div>

    <div style="margin:10px 0px 5px">Happy Learning,</div>
    <div style="margin:0px 0px 40px">Team Vedantu.</div>
</div>
