<div style="padding: 35px 8% 25px; min-height: 300px">

	<b>Hey Team,</b><br>

	<div style="margin: 10px 0px 10px; padding-bottom: 5px">A student
		has requested for a new course on Vedantu. Here are the details:</div>

	<div style="margin: 10px 0px 10px;">

		Student Id : <b>{{userId}}</b>

	</div>

	<div style="margin: 10px 0px 10px;">

		Name : <b>{{name}}</b>

	</div>

	<div style="margin: 10px 0px 10px;">

		Email : <b>{{emailId}}</b>

	</div>

	<div style="margin: 10px 0px 10px;">

		Phone : <b>{{mobileNumber}}</b>

	</div>

	<div style="margin: 10px 0px 40px;">

		Requirement : <b>{{message}}</b>

	</div>



	<div style="margin: 20px 0px 0px">Academically Yours,</div>

	<div style="margin: 5px 0px 40px">Team Vedantu.</div>

</div>

