<b style="font-size:16px">Hey {{userName}},</b>
<div >
    <div style="margin:20px 0px">An extra class has been scheduled for your batch.The details of your session are as follows,</div>
    <table style="width:100%;border:1px solid rgb(204,204,204);border-collapse:collapse">
        <thead>
            <tr>
                <td style="width:160px;padding:12px 12px 10px;border-bottom:1px solid rgb(204,204,204)"><div style="font-size:16px;margin-bottom:2px"> <span style="color:rgb(230,99,47);font-weight:bold">Extra Class : {{sessionTitle}} </span> </div></td>
            </tr>
            <tr>
                <td style="padding:12px 15px 15px"><div style="margin-bottom:12px"><span style="color:rgb(153,153,153);font-size:13px;display:inline-block;width:70px">Date</span>
                        <label style="font-size:13px;margin-left:12px"><b style="font-size:16px;color:rgb(51,51,51)">{{sessionDate}}</b></label>
                    </div>
                    <div style="margin-bottom:12px"><span style="color:rgb(153,153,153);font-size:13px;display:inline-block;width:70px">Time</span>
                        <label style="font-size:13px;margin-left:12px"><b style="font-size:16px;color:rgb(51,51,51)">{{sessionTime}}</b> IST</label>
                    </div>
                    <div><span style="color:rgb(153,153,153);font-size:13px;display:inline-block;width:70px">Teacher</span>
                        <label style="font-size:13px;margin-left:12px">{{teacherName}} {{^otmSession}}(08047097525, Ext - {{teacherExt}}){{/otmSession}}</label>
                    </div>
                    <div style="margin-bottom:12px"><span style="color:rgb(153,153,153);font-size:13px;display:inline-block;width:70px"></span> <a href={{teacherProfileUrl}} style="margin-left:12px;text-decoration:underline;color:rgb(230,99,47);font-size:11px;margin-top:2px;display:inline-block" target="_blank" >View
                            Profile</a> </div>
                    <div style="margin-bottom:12px"><span style="color:rgb(153,153,153);font-size:13px;display:inline-block;width:70px">Duration</span>
                        <label style="font-size:13px;margin-left:12px">{{sessionDuration}} mins (approx)</label>
                    </div></td>
            </tr>
        </thead>
    </table>
</div>
<div style="margin-top:20px">You can view your sessions here <a style="color: #e6632f; border: 1px solid #e6632f; padding: 6px 12px; border-radius: 4px; text-decoration: none; display: inline-block; margin-top: 5px"  href={{mySessionsLink}}>View My Sessions</a></div>
<div style="margin-top:20px">Please login to the portal 5-10 mins before the session start time.</div>
<div style="margin-top:20px">In case you face any issue, please reach us on 1800-120-456-456 or <a style="color: #e6632f; text-decoration: underline" href="mailto:vcare@vedantu.com">vcare@vedantu.com</a>.</div>
<div style="margin-top:30px">See you in the session :)</div>
<div style="margin-top:10px">Academically Yours,</div>
<div style="margin-bottom:70px">V</div>