<div>Dear Student,</div>
<div style="margin-top: 15px;">You had registered for <strong>{{bundleName}}</strong> on Vedantu. Vedantu team has now added you in a Batch.</div>

{{#dateShow}}
<div style="margin-top:15px">Your trial sessions will start on </div>
<div style="background-color: #f5f5f5; padding: 15px 4%; margin-top: 5px; border-radius: 4px">
    <div style="color: #e6632f; font-size: 18px; margin-top: 5px">{{startDate}}</div>
    <div style="margin-top: 8px; ">For further details, you can visit your <a href={{subscriptionLink}} style="color: #0099cc; text-decoration: underline">My Subscription page </a></div>
</div>
{{/dateShow}}

{{#courseList}}
<div style="margin-top:20px">Below is your Batch Schedule:</div>
<div style="margin-top: 18px;">
    <div style=" text-transform: uppercase; font-weight: bold; color: #e6632f; margin-bottom: 2px;">{{courseName}}</div>
    {{#batchSlots}}
    <div>{{day}}, {{timings}}</div>
    {{/batchSlots}}
</div>
{{/courseList}}
{{#whatsAppUrl}}
<div style="border: 1px solid #bbefaf; margin-top: 25px; padding: 15px 15px 8px; border-radius: 4px">
    <div style=" color: #65bc54; font-weight: bold">Join your batch WhatsApp group.</div>
    <div style="margin-top: 5px;margin-bottom: 15px; ">Join your batch's Whatsapp group to receive regular updates, and to connect with your teacher and other batchmates.</div>
    <a style="background-color: #65bc54; padding: 10px 16px; text-decoration: none; font-size: 13px; color: #ffffff; border-radius: 4px; " href={{whatsAppUrl}}><img style="padding-right: 6px; width: 15px; vertical-align: middle" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/feb/Icon_WhatsApp0.png" alt=""><span style="vertical-align: middle">Join Now!</span></a>
    <div style="font-size:13px;color:#999999;margin-top:18px;font-style:italic">Note: Join using mobile no. you want to get added with.</div>
</div>
{{/whatsAppUrl}}

<div style="margin-top: 20px; ">Feel free to contact us at <a style="color: #0099cc; text-decoration: none" href="mailto:vcare@vedantu.com">vcare@vedantu.com</a> or call us on <a style="color: #333; text-decoration: none" href="tel:vcare@vedantu.com">080 39511577 </a></div>

<div style="margin-top: 8px;">We are sure this journey together will be full of learning and prepare you really well for your target. </div>			

<div style="margin-top: 15px;">Best Wishes,</div>
<div style="margin-bottom: 30px;">Team Vedantu</div>