<b style="font-size:16px">Hey {{userName}}</b>
<div>
    <div style="margin-top:20px">We have observed that you have not been able to attend the last few sessions. There is nothing better than a live session, and we would like you to be present for your next class.</div>
    <div style="margin-top: 10px">Here is the video replay and session notes of the classes you’ve missed, to get you up to speed.</div>
    {{#oldSessionList}}
    <div style="margin-top: 20px; background-color: #f5f5f5; padding: 10px 15px 20px; border-radius: 4px">

        <div style="margin-top: 5px"><span style="font-weight: bold; font-size: 16px; ">{{sessionTitle}}</span> held on <strong>{{sessionDate}}</strong> at <strong>{{sessionTime}}</strong> IST</div>
        <div style="font-size: 13px">By {{teacherName}}</div>
        <div style="">
            <div style="width: 116px; display: inline-block; padding-right:15px; padding-top: 10px"><a style="color: #e6632f; border: 1px solid #e6632f; padding: 6px 5px; border-radius: 4px; text-decoration: none; display: inline-block; margin-top: 5px;width:110px;text-align:center" href={{replayLink}}>Session Replay</a>
            </div><div style=" display: inline-block; padding-right:15px; padding-top: 10px "><a style="color: #e6632f; border: 1px solid #e6632f; padding: 6px 5px; border-radius: 4px; text-decoration: none; display: inline-block; margin-top: 5px;width:110px;text-align:center" href={{notesLink}}>Session Notes</a></div></div>
    </div>
    {{/oldSessionList}}

    {{#nextSession}}
    <div style="margin-top: 20px; ">Please be available for the next session to take full advantage of quizzes, polls and doubt clarification available live during the session. The details of your next session are as follows,</div>

    <table style="width:100%;border:1px solid rgb(204,204,204);border-collapse:collapse; margin-top: 20px;">
        <thead>
            <tr>
                <td style="width:160px;padding:12px 12px 10px;border-bottom:1px solid rgb(204,204,204)"><div style="font-size:16px;margin-bottom:2px"> <span style="color:rgb(230,99,47);font-weight:bold"> {{sessionTitle}} </span> </div></td>
            </tr>
            <tr>
                <td style="padding:12px 15px 15px"><div style="margin-bottom:12px"><span style="color:rgb(153,153,153);font-size:13px;display:inline-block;width:70px">Date</span>
                        <label style="font-size:13px;margin-left:12px"><b style="font-size:16px;color:rgb(51,51,51)">{{sessionDate}}</b></label>
                    </div>
                    <div style="margin-bottom:12px"><span style="color:rgb(153,153,153);font-size:13px;display:inline-block;width:70px">Time</span>
                        <label style="font-size:13px;margin-left:12px"><b style="font-size:16px;color:rgb(51,51,51)">{{sessionTime}}</b></label>
                    </div>
                    <div><span style="color:rgb(153,153,153);font-size:13px;display:inline-block;width:70px">Teacher</span>
                        <label style="font-size:13px;margin-left:12px">{{teacherName}}</label>
                    </div>
                    <div style="margin-bottom:12px"><span style="color:rgb(153,153,153);font-size:13px;display:inline-block;width:70px"></span> <a href={{teacherProfileUrl}} style="margin-left:12px;text-decoration:underline;color:rgb(230,99,47);font-size:11px;display:inline-block" target="_blank" >View
                            Profile</a> </div>
                    <div style="margin-bottom:12px"><span style="color:rgb(153,153,153);font-size:13px;display:inline-block;width:70px">Duration</span>
                        <label style="font-size:13px;margin-left:12px">{{sessionDuration}} mins (approx)</label>
                    </div></td>
            </tr>
        </thead>
    </table>
     {{/nextSession}}
</div>
{{#nextSession}}
<div style="margin-top:20px">Please join the session 5-10 mins before the start time.</div>
{{/nextSession}}
<div style="margin-top:20px">In case you face any issue, please reach us on 1800-120-456-456 or <a style="color: #e6632f; text-decoration: underline" href="mailto:vcare@vedantu.com">vcare@vedantu.com</a>.</div>
<div style="margin-top:30px">See you in the session :)</div>
<div style="margin-top:10px">Academic team,</div>
<div style="margin-bottom:70px">Vedantu</div>