<b>Hi {{studentName}},</b><br>
<div style="margin: 10px 0px 10px; padding-bottom: 5px">
    You have been successfully registered on the Course {{courseTitle}} by paying the Registration Amount of INR {{amount}}.
</div>

<div style="margin: 10px 0px 10px; padding-bottom: 5px">
    Vedantu team will call you shortly to explain the next steps to start your Classes with an awesome teacher.
</div>

<div style="margin: 15px 0px 40px;">V are here for you. Let us know if you need anything else. You can catch us on {{displayMobileNumber}} or email us at <a href="mailto:{{displayEmailId}}">{{displayEmailId}}</a> </div>
<div style="margin: 5px 0px 0px">Academically Yours,</div>
<div style="margin: 5px 0px 40px">V</div>