<div style="padding: 35px 8% 25px; min-height: 300px;line-height:1.4em;">
    <b>Dear Parent,</b><br>
    <div style="margin: 10px 0px 10px; padding-bottom: 5px">
            {{studentName}} has received the reviewed test on {{topicName}}, {{subjectName}} from the teacher, {{teacherName}}. The teacher has reviewed it in detail, please encourage {{studentGender}} to go through the review to understand the topic better and know the mistakes. This will help {{studentName}} in identifying the weak points and work upon them to come out with flying colors in the academic examinations.
    </div>
<div style="margin:10px 0px 15px">
    Here is the detailed report on the session from the teacher <b>{{teacherName}}</b>
</div>


<div style="margin:10px 0px 25px;text-align:left;line-height:1.3em;font-size:13px">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
                <tr>
                    <td style="border:1px solid #ccc">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="text-align:left">
                            <tbody>
                                <tr>
                                    <th style="width:33%;padding:7px 10px;border-right:1px solid #ccc;height:45px" scope="row">Total Questions</th>
                                    <td style="padding:7px 10px;color:#666">{{totalQuestionsCount}}</td>
                                </tr>
                                <tr>
                                    <th style="width:33%;padding:7px 10px;border-top:1px solid #ccc;border-right:1px solid #ccc;height:45px" scope="row">Questions Attempted</th>
                                    <td style="padding:7px 10px;color:#666;border-top:1px solid #ccc">{{attemptedQuestionsCount}}</td>
                                </tr>
                                <tr>
                                    <th style="width:33%;padding:7px 10px;border-top:1px solid #ccc;border-right:1px solid #ccc;height:45px" scope="row">Correct Attempts</th>
                                    <td style="padding:7px 10px;color:#666;border-top:1px solid #ccc">{{correctAnswersCount}}</td>
                                </tr>
                                <tr>
                                    <th style="width:33%;padding:7px 10px;border-top:1px solid #ccc;border-right:1px solid #ccc;height:45px" scope="row">Wrong Attempts</th>
                                    <td style="padding:7px 10px;color:#666;border-top:1px solid #ccc">{{wrongAnswersCount}}</td>
                                </tr>
                                <tr>
                                    <th style="width:33%;padding:7px 10px;border-top:1px solid #ccc;border-right:1px solid #ccc;height:45px" scope="row">Total Marks</th>
                                    <td style="padding:7px 10px;color:#666;border-top:1px solid #ccc">{{totalMaxMarks}}</td>
                                </tr>
                                <tr>
                                    <th style="width:33%;padding:7px 10px;border-top:1px solid #ccc;border-right:1px solid #ccc;height:45px" scope="row">Marks Scored</th>
                                    <td style="padding:7px 10px;color:#666;border-top:1px solid #ccc">{{marksScored}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
        </tbody>
    </table>

</div>

	
<div style="margin:10px 0px 15px">
    <a href="{{detailedReportURL}}">Click here</a> to view the detailed report of the test.
</div>
<div style="margin: 10px 0px 10px; padding-bottom: 5px">
		P.S. - Please provide your feedback to the teacher on the test.
		<form method="POST" action="{{redirectTo}}" name="parentFeedbackForm" target="_blank" style="margin: 10px 0;">
			<div style="padding: 10px 0;">
				<textarea style="height: 80px; border-radius: 3px 3px 0 0; width: 100%; margin: 10px 0; padding: 10px; line-height: 1.4em;" name="remarks" placeholder="Please provide your feedback here" required></textarea>
                                
                                <input type="hidden" name="userId" value="{{userId}}">
                                <input type="hidden" name="testId" value="{{testId}}">
                                <input type="hidden" name="isReviewed" value="true">
			</div>
			<div style="padding:10px;text-align:center;">
				<input style="background-color: #DF6325; border: none; border-radius: 3px; color: #fff; font-size: 14px; text-transform: capitalize; font-weight: bold; padding: 10px 30px; cursor: pointer;" type="submit" name="submitParentFeedback" value="Submit Feedback"/>
			</div>
		</form>
	</div>
	<div style="margin: 20px 0px 10px">Academically Yours,</div>
	<div style="margin: 10px 0px 40px">Team V</div>
</div>