<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="shortcut icon" href="https://alpha.vedantu.com/static/images/favicon.ico" type="image/x-icon">
<title>Re-activated</title>
</head>

<body>
<div style="background-color:rgb(238,238,238);margin:0px auto;max-width:600px">
  <div style="margin:0px auto;font-family:arial;padding-bottom:30px;padding-top:45px;max-width:520px">
    <div style="text-align:center;min-height:120px;background-image:url(https://ci4.googleusercontent.com/proxy/1qzYdXKv8qbhGfHYPDvLnbyMnzZdWFg0re03C8cjeWWtwu3tHCbizF759frYIXxx3zCGHVFJtV4y1f-f-br-BKBCKTJqi8AnTai0vPtZDZc3uOfPYei--dAzO3HFngMuj71joxNzS8KEsSxqm-CDdCJG-2D7=s0-d-e1-ft#https://storage.googleapis.com/vedantu-fos-qa/email-marketing/common/email-template-pattern.png);color:rgb(255,255,255);font-size:40px;line-height:100px;background-color:rgb(230,99,47)">
      <div class="adM"> </div>
      <img alt="vedantu" src="https://ci5.googleusercontent.com/proxy/xbcAXLNhGBXx8g3fia7Olekky2uFBmqdy-xbjaGW5FIOjVpkbg-jc-1ECwt8jnV9ScrZvLbj_68_Np8qjuL6b819zgi1wHOv5JRubabPXOKeP2McVCWzCA_1iqOdIwRmMYhH=s0-d-e1-ft#https://storage.googleapis.com/vedantu-fos-qa/email-marketing/common/logo.png" style="margin-top:33px" class="CToWUd"></div>
    <div style="font-size:14px;background-color:rgb(255,255,255);color:rgb(68,68,68)">
      <div style="padding:27px 8% 25px;min-height:300px;border:1px solid rgb(204,204,204)">
        <div style="line-height:20px;" class="contentHolder">
          <div style="font-size: 16px; padding-top:10px; font-weight:bold;">Hi {{studentName}},</div>
          <div style="margin: 12px 0px;">Thanks for clearing your due payment. We have successfully received the same for <b>{{subscriptionTitle}}</b>. Your subscription is <b>now re-activated</b> and you can continue taking regular sessions going forward.</div>
          
<!--           <table style="border: 1px solid #999999; " width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody>
              <tr>
                <td style=" padding: 10px"><b>Instalment Amount Paid</b></td>
                <td style="padding: 10px; border-left: 1px solid #999999">{{amountPaid}}</td>
              </tr>
              <tr>
              	<td style="border-top: 1px solid #f5f5f5; border-bottom: 1px solid #f5f5f5;padding: 10px"><b>Payment date</b></td>
              	<td style="border-top: 1px solid #f5f5f5; border-bottom: 1px solid #f5f5f5; padding: 10px; border-left: 1px solid #999999">{{paymentDate}}</td>
              </tr>
              <tr>
				<td style=" padding: 10px"><b>Instalment due on</b></td>
              	<td style=" padding: 10px; border-left: 1px solid #999999">{{dueDate}}</td>
              </tr>
              
            </tbody>
          </table>-->
          
          <div style="margin: 20px 0px;">You can also see the payment details and history on your {{subscriptionTitle}} card</div>
          
          <div style="margin: 20px 0px;">For any queries, feel free to contact us on 1800-120-456-456 or drop us a mail at <a href="mailto:vcare@vedantu.com">vcare@vedantu.com</a></div>
          <div style="margin:10px 0px 5px">Happy Learning,</div>
          <div style="margin:0px 0px 40px">Team Vedantu.</div>
        </div>
        <div style="text-align:center;border-top:1px solid #eeeeee;padding: 30px 0px 15px; font-size:11px; color:999999;"> This is a system
          generated email. Please do not reply. </div>
      </div>
    </div>
    <div style="text-align:center;font-size:12px">
      <div style="margin-top:25px;color:rgb(102,102,102)">For queries, drop us a mail at <a href="mailto:vcare@vedantu.com" style="color:rgb(230,99,47);text-decoration:none" target="_blank">vcare@vedantu.com</a></div>
      <div style="margin-top:9px"> <a href="http://blog.vedantu.com/" style="text-decoration:none;color:rgb(230,99,47)" target="_blank">Blog</a><span style="color:rgb(230,99,47);margin:0px 2px 0px 7px">|</span> <a href="https://twitter.com/vedantu_learn" style="text-decoration:none;color:rgb(230,99,47)" target="_blank">Twitter</a><span style="color:rgb(230,99,47);margin:0px 2px 0px 7px">|</span> <a style="text-decoration:none;color:rgb(230,99,47)" href="http://www.facebook.com/VedantuInnovations" target="_blank">Facebook</a> <span style="color:rgb(230,99,47);margin:0px 2px 0px 7px">|</span> <a style="text-decoration:none;color:rgb(230,99,47)" href="https://www.youtube.com/user/VedantuInnovations" target="_blank">Youtube</a> </div>
    </div>
  </div>
</div>
</body>
</html>