<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="shortcut icon" href="https://alpha.vedantu.com/static/images/favicon.ico" type="image/x-icon">
<title>Vedantu</title>
</head>

<body>
<div style="background-color:rgb(238,238,238);width:100%">
  <div style="margin:0px auto;font-family:arial;padding-bottom:30px;padding-top:45px;max-width:520px">
    <div style="border:1px solid rgb(204,204,204)">
      <div style="text-align:center;min-height:120px;background-image:url(https://storage.googleapis.com/vedantu-fos-qa/email-marketing/common/email-template-pattern.png);color:rgb(255,255,255);font-size:40px;line-height:100px;background-color:rgb(230,99,47)">
        <img alt="vedantu" src="https://storage.googleapis.com/vedantu-fos-qa/email-marketing/common/logo.png" style="margin-top:33px" ></div>
      	<div style="font-size:14px; line-height:20px; background-color:rgb(255,255,255);color:rgb(68,68,68)">
        <div style="padding:35px 8% 25px;min-height:300px">
         
          <div>Hi {{studentName}}</div>
				<div style="margin-top: 15px;">Your payment of <strong>{{paidAmount}}</strong> for <strong>{{courseTitle}}</strong> have been processed successfully.</div>

				<div style="margin-top: 15px;">Detailed schedule and batch information will be provided to you 3 days before the starting date.   </div>

				<div style="margin-top: 15px;">Hope you enjoy learning with Vedantu!</div>

				<div style="margin-top: 15px;">For any queries email us at <a style="color: #0099cc; text-decoration: none" href="mailto:vcare@vedantu.com">vcare@vedantu.com</a> or call us on <a style="color: #333; text-decoration: none" href="tel:vcare@vedantu.com">080 39511577 </a></div>
				
				<div style="margin-top: 15px;">Happy Learning</div>
				<div style="margin-bottom: 30px;">Team Vedantu</div>
          
        </div>
      </div>
    </div>
    <div style=" width: 96%; color:#fff; font-size:12px; display:inline-block;padding: 3% 2%;">
      <span style="  float:left;  width:50%">
        <p style="font-size:12px; padding:0px;margin: 0; color: #777; font-weight:bold; ">Any Queries?<br><a target="_blank" style="text-decoration:none; color:#a39a95; font-weight:normal;margin-top: 5px;display: inline-block;" href="mailto:vcare@vedantu.com"> Mail us at: vcare@vedantu.com</a></p>
      </span>
      <span style="  float:right; ">
        <p style="font-size:12px; padding:0px;margin: 0; color: #777; font-weight:bold; ">Follow Us on<br>
          <a href="https://twitter.com/vedantu_learn" style="text-decoration: none;color:#e6632f;"><img src="http://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/twitter.png"></a>
          <a style="text-decoration: none; color:#e6632f;;" href="http://www.facebook.com/VedantuInnovations"><img src="http://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/facebook.png"></a> 
          <a style="text-decoration: none; color:#e6632f;" href="https://www.youtube.com/user/VedantuInnovations"><img src="http://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/youtube.png"></a>
          <a href="http://blog.vedantu.com/" style="text-decoration: none;color:#e6632f;"><img src="http://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/blog.png"></a></p>
      </span>
  </div>
  </div>
</div>
</body>
</html>