<b style="font-size: 16px;">Hi {{name}},</b>

<div class="contentHolder">

	<div style="margin: 20px 0px 10px; line-height: 22px;">
		There was a learning session schedule request on Subject: {{subject}}
		{{{context}}} with teacher <a href="{{partnerLink}}" target="_blank"
			style="text-decoration: underline; color: rgb(230, 99, 47);">{{partnerName}}</a>
		at {{date}} {{time}}. We want to inform you that unfortunately <a
			href="{{partnerLink}}" target="_blank"
			style="text-decoration: underline; color: rgb(230, 99, 47);">{{partnerName}}</a>
		had to cancel the schedule request.
	</div>
	{{#reason}}
	<div style="margin: 10px 0px;">
		Teacher has cited following reason for the cancellation
		<div style="padding-left: 20px; font-style: italic;">{{reason}}</div>
	</div>
	{{/reason}}
</div>

<div style="margin: 20px 0px 10px;">
	We suggest you to get in touch with <a
		href="{{partnerLink}}" target="_blank"
		style="text-decoration: underline; color: rgb(230, 99, 47);">{{partnerName}}</a>
	to schedule the session at an alternate time.
</div>

<div>For any further assistance, you can call us on
	{{displayMobileNumber}} or email us at {{displayEmailId}}.</div>
<div style="margin-top: 40px;">Academically Yours,</div>
<div style="margin-bottom: 70px;">V</div>

