
<b style="font-size: 16px;">Hi {{name}},</b>

<div class="contentHolder">
	<div style="margin: 20px 0px; line-height: 22px;">
		Unfortunately student <a href="{{partnerLink}}" target="_blank"
			style="text-decoration: underline; color: rgb(230, 99, 47);">{{partnerName}}</a>
		is not available to take up the learning session on
		Subject:{{subject}} {{{context}}} as requested by you, following are
		the details:
	</div>

	<table
		style="width: 100%; border: 1px solid rgb(204, 204, 204); border-collapse: collapse">
		<thead>
			<tr>
				<td style="padding: 12px 15px 15px;">{{#multiSession}}
					<div style="margin-bottom: 12px;">
						<span
							style="color: rgb(153, 153, 153); font-size: 13px; display: inline-block; width: 90px;">
							No of Session : </span> <label
							style="font-size: 13px; margin-left: 12px;"><b
							style="font-size: 16px; color: rgb(51, 51, 51);">{{noOfSessions}}</b></label>
					</div> {{/multiSession}}

					<div style="margin-bottom: 12px;">
						<span
							style="color: rgb(153, 153, 153); font-size: 13px; display: inline-block; width: 90px;">
							{{#multiSession}} Starting From : {{/multiSession}}
							{{^multiSession}} What Date : {{/multiSession}} </span> <label
							style="font-size: 13px; margin-left: 12px;"><b
							style="font-size: 16px; color: rgb(51, 51, 51);">{{date}}</b></label>
					</div>
					<div style="margin-bottom: 12px;">
						<span
							style="color: rgb(153, 153, 153); font-size: 13px; display: inline-block; width: 90px;">What
							Time</span><label style="font-size: 13px; margin-left: 12px;"><b
							style="font-size: 16px; color: rgb(51, 51, 51);">{{time}}</b> IST</label>
					</div>
					<div style="margin-bottom: 12px;">
						<span
							style="color: rgb(153, 153, 153); font-size: 13px; display: inline-block; width: 90px;">
							{{#multiSession}} Total Duration : {{/multiSession}}
							{{^multiSession}} Duration : {{/multiSession}} </span><label
							style="font-size: 13px; margin-left: 12px;">{{duration}}
						</label>
					</div>
				</td>
			</tr>
		</thead>
	</table>
</div>
{{#reason}}
<div style="margin: 10px 0;">
	Student <a href="{{partnerLink}}" target="_blank"
		style="text-decoration: underline; color: rgb(230, 99, 47);">{{partnerName}}</a>
	has cited the following reason for the unavailability:
	<div style="margin-left: 30px; margin-right: 10px; font-style: italic;">{{reason}}</div>
</div>
{{/reason}}
<div style="margin: 20px 0px 10px;">
	We suggest you to get in touch with <a href="{{partnerLink}}"
		target="_blank"
		style="text-decoration: underline; color: rgb(230, 99, 47);">{{partnerName}}</a>
	to schedule session at an alternate time or you can modify your session
	schedule request by clicking below
</div>
<div style="margin-bottom: 10px; padding-left: 70px;">
	<a target="_blank" href="{{viewProposalUrl}}"
		style="display: inline-block; background-color: #E6632F; color: white; border-color: #E6632F; padding: 8px 20px; border-radius: 12px; text-decoration: none; font-size: 16px;">View
		Schedule</a>
</div>
<div>For any further assistance, you can call us on
	{{displayMobileNumber}} or email us at {{displayEmailId}}.</div>
<div style="margin-top: 40px;">Academically Yours,</div>
<div style="margin-bottom: 70px;">V</div>
