<b style="font-size: 16px;">Hi {{name}},</b>

<div class="contentHolder">
	<div style="margin: 20px 0px; line-height: 22px;">
		Your learning {{#multiSession}}
		sessions{{/multiSession}}{{^multiSession}} session{{/multiSession}}
		with your student <a href="{{partnerLink}}" target="_blank"
			style="text-decoration: underline; color: rgb(230, 99, 47);">{{partnerName}}</a>
		on {{subject}} {{{context}}} on {{date}} got confirmed.
	</div>
	{{#isFirstSession}}
	<div style="margin: 20px 0px; line-height: 22px;font-size:14px;font-weight:bold;">
		This is student's first session on Vedantu.
	</div>
	{{/isFirstSession}}
	<div style="margin: 0px 0px 10px;">The {{#multiSession}}
		sessions{{/multiSession}}{{^multiSession}} session{{/multiSession}}
		details are as follows:</div>
	<table
		style="width: 100%; border: 1px solid rgb(204, 204, 204); border-collapse: collapse">
		<thead>
			<tr>
				<td style="padding: 12px 15px 15px;">{{#multiSession}}
					<div style="margin-bottom: 12px;">
						<span
							style="color: rgb(153, 153, 153); font-size: 13px; display: inline-block; width: 90px;">
							No of Session : </span> <label
							style="font-size: 13px; margin-left: 12px;"><b
							style="font-size: 16px; color: rgb(51, 51, 51);">{{noOfSessions}}</b></label>
					</div> {{/multiSession}}

					<div style="margin-bottom: 12px;">
						<span
							style="color: rgb(153, 153, 153); font-size: 13px; display: inline-block; width: 90px;">
							{{#multiSession}} Starting From : {{/multiSession}}
							{{^multiSession}} What Date : {{/multiSession}} </span> <label
							style="font-size: 13px; margin-left: 12px;"><b
							style="font-size: 16px; color: rgb(51, 51, 51);">{{date}}</b></label>
					</div>
					<div style="margin-bottom: 12px;">
						<span
							style="color: rgb(153, 153, 153); font-size: 13px; display: inline-block; width: 90px;">What
							Time</span><label style="font-size: 13px; margin-left: 12px;"><b
							style="font-size: 16px; color: rgb(51, 51, 51);">{{time}}</b> IST</label>
					</div>
					<div style="margin-bottom: 12px;">
						<span
							style="color: rgb(153, 153, 153); font-size: 13px; display: inline-block; width: 90px;">
							{{#multiSession}} Total Duration : {{/multiSession}}
							{{^multiSession}} Duration : {{/multiSession}} </span><label
							style="font-size: 13px; margin-left: 12px;">{{duration}}
						</label>
					</div>
				</td>
			</tr>
		</thead>
	</table>
</div>
<div style="margin: 10px 0px 10px;">V suggest, you login at least
	5 minutes before the session is due to start.</div>

<div>V are here for you. Let us know if you need anything else.
	You can call us on {{displayMobileNumber}} or email us at
	{{displayEmailId}}.</div>

<div style="margin-top: 40px;">Happy Knowledge Sharing!</div>
<div style="margin-top: 20px;">Academically Yours,</div>
<div style="margin-bottom: 30px;">V</div>
