<b>Great
                        news!</b>

                    <div style="margin: 20px 0px;">We got a message from a user. Have a look:</div>
                    <div>Name: {{name}}</div>
                    <div>EmailId: {{emailId}}</div>
                    <div>Mobile Number: {{mobileNumber}}</div>
                    <div>Message Type: {{messageType}}</div>
                     <div>Message: {{{message}}}</div>
                    <div style="margin-top: 40px;">Academically Yours,</div>
                    <div style="margin-bottom: 70px;">Team Vedantu</div>