<div style="margin: 20px 0px;">Hi {{name}},</div>
<div class="contentHolder">
	<div style="margin: 20px 0px;">
		Congratulations, <b>{{refreeName}}</b> has taken first session on
		Vedantu and <b>INR {{bonusAmmount}}</b> worth Vedantu credits has been
		credited to your wallet.
	</div>

	<div style="margin: 20px 0px;">Thankyou for referring your
		friend.</div>

	<div style="margin: 20px 0px;">Spread the knowledge. Refer more
		friends and earn Vedantu Credits.</div>

	<div style="margin: 20px 0px;">Happy learning!</div>
</div>