<div style="padding: 35px 8% 25px; min-height: 300px">
	<b>Hi {{referrerName}},</b><br>
        <div style="margin: 10px 0px 10px;padding-bottom: 5px">
            Congrats on a successful referral for {{refereeName}}! We have credited Rs. {{referrerBonusAmount}} to your Vedantu wallet. So go ahead and use this amount to <b>book your next session</b> with your favourite Vedantu tutor!
        </div>
        <div style="margin: 10px 0px;padding-bottom: 5px">
            Want to get more free credits? Just refer Vedantu more of your friends by sharing the link below:
            <a href="{{refereeLink}}" rel="nofollow" style="color: #E6632F;font-size:16px;font-weight:600;text-decoration: underline;">Referral Link</a>
        </div>
        <div style="font-weight: 700;">Refer Now. Learn for Free</div>
	<div style="margin: 20px 0px 0px">Happy Learning!</div>
	<div style="margin: 5px 0px 40px">V</div>
</div>