<div>
    <b>Hello,</b><br>
    <div style="margin: 10px 0px 10px; padding-bottom: 5px">As the CEO of Vedantu, I would like to thank you for being an integral part of the Vedantu journey so far. While the ride might have been a bit bumpy at times, but I hope the overall experience with Vedantu has been great for you. We would be delighted if you could spread the word around, as that will really help a young company like ours. Many of you are already doing that (big thank you!) and so we thought of formally launching our own referral program - <b>VRefer</b>.
    </div>

        <div style="margin: 10px 0px 10px; padding-bottom: 5px;font-weight:600;text-decoration:underline">
                VRefer: Refer, Earn, Learn!</div>
    <div style="margin: 10px 0px 10px; padding-bottom: 5px">
        <ul>
                <li>Ask your friends to sign up on Vedantu using your <a href="{{shortenedUrl}}">referral link</a>.</li>
                <li>They get Rs 750 to try out Vedantu. You get Rs 500 in your wallet for the first trial session of each friend.</li>
                <li>Use this money from your Vedantu wallet to book more sessions as you normally would.</li>
        </ul>
    </div>

        <div style="margin: 15px 0px 20px;">You can also refer through your Vedantu account via <a href="{{referralPageUrl}}">My Referrals</a> page.</div>
        <div style="margin: 15px 0px 25px;">Thanks a ton and we look forward to seeing you at your next session with Vedantu!</div>
        <div style="margin: 5px 0px 0px">Regards,</div>
        <div style="margin: 5px 0px 0px">Vamsi Krishna</div>
        <div style="margin: 5px 0px 40px">CEO, Vedantu </div>
</div>