<div style="margin: 10px 0px 10px; padding-bottom: 5px;font-weight:600; color: #E6632F;">
    Get Rs. {{signupBonus}}+{{refereeBonusAmount}} on signing up
</div>
<div style="padding: 35px 8% 25px; min-height: 300px">
	<b>Hey {{refereeName}},</b><br>
        <div style="margin: 10px 0px 10px; padding-bottom: 5px">
            I am really liking the online tuition experience at Vedantu and would definitely 
            recommend that you try it out for free. 
            The tuitions are taken by very experienced and highly qualified teachers on a very easy to use learning tool. You can choose any subject, grade or board (CBSE, ICSE, IB and IGCSE). 
            They also provide tuitions for exams like Olympiads and IIT JEE foundation.
            Just sign-up by clicking my unique referral link below - this will give you <b style="color: #E6632F;font-size:16px;color: #E6632F;">Rs. {{signupBonus}}+{{refereeBonusAmount}}</b> credits which you can use to book a session with any tutor you like.
        </div>
        <div style="margin: 20px 0px">
            <a href="{{refereeLink}}" rel="nofollow" style="color: #E6632F;font-size:16px;font-weight:600;text-decoration: underline;">Click here to claim</a>
        </div>
	<div style="margin: 20px 0px 0px">Hope you enjoy the session like I did!</div>
	<div style="margin: 5px 0px 40px">{{referrerName}}</div>
</div>
