<b style="font-size: 22px;">{{refreeName}} is now on Vedantu!</b>
<div style="margin: 20px 0px;">Hi {{name}},</div>
<div class="contentHolder">
	<div style="margin: 20px 0px;">Thankyou for loving us and
		referring your friend.</div>
	<div style="margin: 20px 0px;">
		<b>{{refreeName}}</b> has accepted your invitation and joined Vedantu.
		<b>INR {{bonusAmmount}}</b> worth Vedantu credits will be credited to
		your wallet when your friend takes the first session. Do remind your
		friend to take session on Vedantu.
	</div>

	<div style="margin: 20px 0px;">Refer more friends and earn
		Vedantu Credits.</div>

	<div style="margin: 20px 0px;">Happy learning!</div>
</div>