<div style="background-color:rgb(238,238,238);  padding:45px 0; ">
    <div style="margin:0px auto; font-family:arial; font-size: 14px;  padding-bottom:30px; max-width:600px; background-color: #fff; color: #333; line-height: 24px;">
        <a href="#" style="display: block; text-decoration: none; ">
            <img style="width: 100%" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/ReviseIndia-Header.jpg"/>
        </a>
        <div style="margin: 32px auto 0; max-width: 85%">
            <div style="margin-bottom: 16px;"><strong>Dear {{studentName}},</strong></div>
            <div style="margin-bottom: 16px;">Thank you for registering! Welcome to Revise India: India's Biggest Free Revision Camp for CBSE 10th Board Students. Revise with 2389146+ students from all of India & get a guaranteed score improvement. {{studentName}}, Get ready to Revise with India!</div>
            <div style="margin-bottom: 16px;">Boost your scores by 20% by Taking the " Are you exam ready" Test & get an expert-curated personalized 3-day study plan that guarantees a 20% score improvement.</div>
            <div style="text-align: center; margin-top: 24px;">
                <a href="https://www.vedantu.com/revise-india" style="display: inline-block; background-color: #ff6200; font-size: 16px; text-transform: uppercase; padding: 16px 40px; color: #fff; text-decoration: none; border-radius: 50px; font-weight: bold">Take the TEst Now</a>
            </div>
            <div style="margin-bottom: 24px;">
                <div style="font-size: 16px; font-weight: bold; margin: 40px 0 16px;;">Learn how a Personalised study plan can help you!</div>

                <table style="font-size: 14px; text-align: center; background: #f5f5f5; padding: 8px 0; border-radius: 5px 5px 0 0" cellpadding="0" cellspacing="0" width="100%" border="0">
                    <tbody>
                    <tr>
                        <td style="width: 56%;">&nbsp;</td>
                        <td width="20%" style="color: #ff6200; font-weight: bold">YOU</td>
                        <td style="color: #666">Student A</td>
                    </tr>
                    </tbody>
                </table>

                <table style="font-size: 14px; text-align: center; border: 1px solid #eee; border-radius: 0 0 5px 5px; line-height: 20px;" cellpadding="0" cellspacing="0" width="100%" border="0">
                    <tbody>
                    <tr>
                        <td style="text-align: left; padding: 16px 0 16px 16px; width: 56%;">Entry to the camp</td>
                        <td width="20%"><img width="16px;" height="16px;" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/tick.png"/></td>
                        <td><img width="16px;" height="16px;" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/tick.png"/></td>
                    </tr>
                    <tr>
                        <td style="text-align: left; padding: 16px 0 16px 16px; width: 56%;">Personalized mentorship</td>
                        <td><img width="16px;" height="16px;" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/tick.png"/></td>
                        <td><img width="16px;" height="16px;" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/cross.png"/></td>
                    </tr>
                    <tr>
                        <td style="text-align: left; padding: 16px 0 16px 16px; width: 56%;">20% score improvement  guarantee</td>
                        <td><img width="16px;" height="16px;" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/tick.png"/></td>
                        <td><img width="16px;" height="16px;" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/cross.png"/></td>
                    </tr>
                    <tr>
                        <td style="text-align: left; padding: 16px 0 16px 16px; width: 56%;">Complete Revision</td>
                        <td><img width="16px;" height="16px;" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/tick.png"/></td>
                        <td><img width="16px;" height="16px;" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/tick.png"/></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div style="background: #ffece0; padding: 20px 16px; margin-bottom: 40px;">155467 students have already taken the test! Hurry, take your benchmark test now.
                <div style="text-align: center; margin-top: 8px;">
                    <a href="https://www.vedantu.com/revise-india" style="display: inline-block; background-color: #ff6200; font-size: 16px; text-transform: uppercase; padding: 16px 40px; color: #fff; text-decoration: none; border-radius: 50px; font-weight: bold">Take the TEst Now</a>
                </div>
            </div>

            <div>Team Vedantu</div>

        </div>
    </div>
</div>