<b>Hi {{name}}!</b>
<br>
<div style="margin:10px 0px;line-height:20px">
	<b>Thank you for registering on Vedantu</b>&nbsp;- Your Personal Teacher Online.
</div>
<div style="margin:10px 0px;line-height:20px">
	Signup Now and get a Free Session LIVE 1-To-1 with our awesome teacher.
</div>
<div style="margin:20px 0px;text-align:center">
	<a href="{{domainUrl}}/v/register?channel=in_em_li_edm-registrationmailer_txt_dp_signup_em_100415&utm_source=in&utm_medium=em_li_edm-registrationmailer&utm_content=txt_dp&utm_campaign=signup_em_100415" 
		style="color:rgb(255,255,255);font-weight:bold;line-height:10px;text-decoration:none;word-wrap:break-word;display:inline-block;padding:20px 25px;border-radius:3px;font-size:17px;background-color:rgb(230,99,47)" 
		target="_blank">SIGNUP NOW</a>
</div>
<div style="margin: 20px 0px;">For any further assistance, you
		can call us on {{displayMobileNumber}}, or email us at
		{{displayEmailId}}.</div>
<div style="margin:10px 0px;display:inline-block"></div>
<div style="margin:20px 0px 10px">Academically Yours,</div>
<div style="margin:5px 0px 40px">Team Vedantu</div>