<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Untitled Document</title>
</head>

<body>
<div style="background-color:rgb(238,238,238);  padding:45px 0; ">
    <div
            style="margin:0px auto; font-family:arial; font-size: 14px;  padding-bottom:30px; max-width:600px; background-color: #fff; color: #333; line-height: 24px;"
    >
        <a href="#" style="display: block; text-decoration: none; ">
            <img
                    style="width: 100%"
                    src="
                    https://vmkt.s3-ap-southeast-1.amazonaws.com/revise-jee/logo.jpg"
            />
        </a>
        <div
                style="margin: 32px auto 0; max-width: 85%; font-size: 16px; line-height: 24px; color: #333;"
        >
            <div style="margin-bottom: 16px;"><strong>Hello {{studentName}},</strong></div>
            <div style="margin-bottom: 16px;">We hope you are doing great!</div>
            <div style="margin-bottom: 16px;">
                We are thrilled to have you revise with us at ‘Revise India JEE’.
                Make the most of Revise India, do not miss out on Important classes,
                strategy sessions & more. Check out the Revise India schedule &
                start revising for rank boost now
            </div>
            <div style="margin-bottom: 16px;">
                Attend the JEE Rank predictor test and know where you stand across
                India. Start working on your weak areas to get a guaranteed score
                boost Now.
            </div>
            <div style="text-align: center; margin-top: 35px;">
                <a
                        href="https://www.vedantu.com/revise-india-jee"
                        style="display: inline-block; background-color: #ff6200; font-size: 16px; text-transform: uppercase; padding: 16px 40px; color: #fff; text-decoration: none; border-radius: 50px; font-weight: bold"
                >Attempt Now</a
                >
            </div>
            <div
                    style="text-align: center; margin-top: 20px; color: #333; font-size: 16px; opacity: .7;"
            >
                <div>Happy Revision to you!</div>
                <div>#ReviseIndia</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
