<div style="padding: 35px 8% 25px; min-height: 300px">
	<b>Hey {{teacherName}},</b><br>
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">
           {{studentName}}({{studentContactNumber}}) has posted some requirements for you on Vedantu.
            Here is what we received on Vedantu -
        </div>
	<div style="margin: 10px 0px 5px; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding-left: 15px;">
            <table>
                <tbody>
                    <tr>
                        <td style="font-size:bold;">Grade : </td>
                        <td style='padding-left: 10px;'>{{grade}}</td>
                    </tr>
                    <tr>
                        <td style="font-size:bold;">Board : </td>
                        <td style='padding-left: 10px;'>{{target}}</td>
                    </tr>
                    <tr>
                        <td style="font-size:bold;">Subject : </td>
                        <td style='padding-left: 10px;'>{{subject}}</td>
                    </tr>
                    <tr>
                        <td style="font-size:bold;">Message : </td>
                        <td style='padding-left: 10px;font-size:12px;color:#666;'>{{message}}</td>
                    </tr>
                </tbody>
            </table>
	</div>
        <div style="margin: 10px 0px 10px; padding-bottom: 5px">
            We suggest you to understand the requirements and call the {{studentName}}({{studentContactNumber}}) at the earliest.
        </div>
        <div style="margin: 10px 0px 10px; padding-bottom: 5px">
            This is an opportunity for you to interact with the student, help and get him/her engaged with you for a long-term. Don't let delay ruin this!
        </div>
	<div style="margin: 20px 0px 0px">Happy Knowledge Sharing!</div>
	<div style="margin: 5px 0px 0px">Academically Yours,</div>
	<div style="margin: 5px 0px 40px">V</div>
</div>