<div style="padding: 35px 8% 25px; min-height: 300px">
	<b>Hey {{studentName}},</b><br>
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">
           Thank you for posting your requirement. Teacher, {{teacherName}}({{teacherExtensionNumber}}) has received your requirements posted on Vedantu.
            Here is what you have posted on Vedantu -
        </div>
	<div style="margin: 10px 0px 5px; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding-left: 15px;">
            <table>
                <tbody>
                    <tr>
                        <td style="font-size:bold;">Grade : </td>
                        <td style='padding-left: 10px;'>{{grade}}</td>
                    </tr>
                    <tr>
                        <td style="font-size:bold;">Board : </td>
                        <td style='padding-left: 10px;'>{{target}}</td>
                    </tr>
                    <tr>
                        <td style="font-size:bold;">Subject : </td>
                        <td style='padding-left: 10px;'>{{subject}}</td>
                    </tr>
                    <tr>
                        <td style="font-size:bold;">Message : </td>
                        <td style='padding-left: 10px;font-size:12px;color:#666;'>{{message}}</td>
                    </tr>
                </tbody>
            </table>
	</div>
        <div style="margin: 10px 0px 10px; padding-bottom: 5px">
            You'll soon receive a call back from the teacher you have chosen. Meanwhile you can also call the teacher on the shared extension number to clarify your requirements Or download the <a href="https://play.google.com/store/apps/details?id=com.vedantu.student&referrer=utm_source%3Dvedantu%26utm_medium%3Dsms%26utm_campaign%3Drequest_callback">Vedantu App</a> to chat with the teacher and take your first session on the Android device.
        </div>
	<div style="margin: 20px 0px 0px">Happy Learning!</div>
	<div style="margin: 5px 0px 0px">Academically Yours,</div>
	<div style="margin: 5px 0px 40px">V</div>
</div>