<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <META http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>


<div>
    <div style="background:#f4f4f4">
        <div style="max-width:600px;margin:0 auto;background:#fff;border:1px solid #eee;font-family: -apple-system,'.SFNSDisplay','Oxygen','Ubuntu','Roboto','Segoe UI','Helvetica Neue','Lucida Grande',sans-serif;color:#332e2b;font-size:14px;line-height:1.6em">
            <div style="background-image:linear-gradient(325deg,#e6632f 20%,#675898 80%);height:6px"></div>
            <div style="padding:60px 8%">
                <div>Hi {{Name}},</div>
                <div style="margin-top:15px">Thank you for being a part of the MasterClass today! Hope you enjoyed
                    learning as much as our MasterTeacher <strong>{{TeacherName}}</strong> , enjoyed teaching you!
                </div>
                <div style="margin-top:15px">As promised by <b>{{TeacherName}}</b>, You can view the session&#39;s <b>recording
                    <a href="{{registerJoinUrl}}" >here.</a></b></div>
                <br>
                <div style="margin-bottom:20px">To help you achieve your learning goals we have launched {{CourseName}}
                    in which you get access to personalized mentorship by India&#39;s Best teachers on an interactive
                    LIVE online platform, Unlimited Doubt solving &amp; much more!
                </div>

                <div style="margin:15px 0 20px">As a special advantage for attending the webinar, you are eligible for
                    the <strong>Lightning Offer</strong>.
                </div>

                <div style="border:1px solid #eee;border-bottom:0;background:#f4f4f4;padding:18px 30px 20px 30px">
                    <div style="color:#e6632f"><strong>DETAILS:</strong></div>
                    <div style="margin:5px 0 0">Course Name: <strong>{{CourseName}}</strong></div>
                    <div style="margin:3px 0 0">Where? : <strong>Online Classes</strong></div>
                </div>
                <div style="background-color:#fff0ea;padding:10px 30px;border:1px dashed #e6632f;color:#e6632f;letter-spacing:.5px">
                    <strong>Registration Price : </strong><strong> <s>INR {{CutPrice}}/-</s> INR {{LightningPrice}}/-</strong></div>

                <div style="text-align:center;margin:15px 0">
                    <div style="margin:15px 0 20px">(Offer Valid Only till <strong>11:59 </strong>Tonight)
                    </div>

                    <div style="text-align:center"><a
                            style="background:linear-gradient(to right,rgba(254,117,69,1),rgba(250,87,137,1));display:block;width:250px;margin:10px auto 0px;padding:14px 0;color:#ffffff;text-decoration:none;font-size:16px;border-radius:4px" href="{{Link}}">Click
                        to Know More </a></div>
                    <br>

                </div>
                <div style="font-size:12px;color:#555555"><strong>How to use code:</strong></div>
                <div style="font-size:12px;color:#999">Step 1: Click on the button above to open the course page</div>
                <div style="font-size:12px;color:#999">Step 2: Click on Pay Now button on the course page</div>
                <div style="font-size:12px;color:#999">Step 3: Enter your details to Login/Signup to open the payment
                    pop-up
                </div>
                <div style="font-size:12px;color:#999">Step 3: Pay using any of the given options</div>

            </div>
        </div>
    </div>
</div>
</body>
</html>