<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <META http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<div style="padding:0;margin:0">
    <div style="background-color:#f5f5f5;margin:0 auto">
        <div style="max-width:600px;font-size:14px;text-align:center;color:#666666;margin:0 auto;font-family:Arial;padding-bottom:10px">
            <div style="background-image:url(https://storage.googleapis.com/vedantu-fos-qa-public-media/feb/M_Wbnr_BG.png);height:70px">
                <div style="background:linear-gradient(to right,rgba(254,117,69,.9),rgba(250,87,137,.9));height:90px">
                    <img style="padding-top:24px;width:100px"
                         src="https://ci5.googleusercontent.com/proxy/xbcAXLNhGBXx8g3fia7Olekky2uFBmqdy-xbjaGW5FIOjVpkbg-jc-1ECwt8jnV9ScrZvLbj_68_Np8qjuL6b819zgi1wHOv5JRubabPXOKeP2McVCWzCA_1iqOdIwRmMYhH=s0-d-e1-ft#https://storage.googleapis.com/"
                         alt=""></div>
            </div>
            <div style="padding:20px 8%;background-color:#ffffff">
                <div>Dear {{studentName}},</div>
                <div style="margin:15px auto 0;max-width:480px">Join your Vedantu Online conselling session by clicking on the button below.
                </div>
                <a style="background:linear-gradient(to right,rgba(254,117,69,1),rgba(250,87,137,1));display:block;width:250px;margin:10px auto 0px;padding:14px 0;color:#ffffff;text-decoration:none;font-size:16px;border-radius:4px" href="{{sessionLink}}" >Join the Session</a>
                <div style="margin-top:10px;font-size:12px;color:#999999">Note: It is recommended to take counselling session on Laptop.
                </div>
                <div style="height:1px;background-color:#f5f5f5;margin-top:20px"></div>
                <div style="margin-top:20px">RECOMMENDED BROWSER</div>
                <div style="font-size:12px;margin-top:10px;color:#999999">For an optimal experience please use one of
                    our recommended browsers:
                </div>
                <img style="width:80px;margin-top:20px"
                     src="https://storage.googleapis.com/vedantu-fos-qa-public-media/feb/M_Wbnr_Chrome.png" alt="">
            </div>
        </div>
    </div>
</div>
</body>
</html>