<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
    Hi, <br /><br />
    &emsp;&emsp;Please access the lead auto assignment file for {{date}} <a href="{{csvLink}}">here</a>.
    <br /><br /><br />
    Thanks!<br /><br />
    Team SC Product


</body>
</html>