<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" href="https://alpha.vedantu.com/static/images/favicon.ico" type="image/x-icon">
    <title>PDF_V3_Welcome</title>
</head>

<body style="margin: 0">
<div style="background-color:rgb(238,238,238);margin:0px auto;">
    <div style="margin:0px auto;font-family:arial;padding-bottom:30px; max-width:600px; border: 1px solid #DBDBDB">

        <div style="text-align:center;min-height:8px;background-image:url(https://ci4.googleusercontent.com/proxy/1qzYdXKv8qbhGfHYPDvLnbyMnzZdWFg0re03C8cjeWWtwu3tHCbizF759frYIXxx3zCGHVFJtV4y1f-f-br-BKBCKTJqi8AnTai0vPtZDZc3uOfPYei--dAzO3HFngMuj71joxNzS8KEsSxqm-CDdCJG-2D7=s0-d-e1-ft#https://storage.googleapis.com/vedantu-fos-qa/email-marketing/common/email-template-pattern.png);color:rgb(255,255,255);font-size:40px;line-height:100px;background-color:rgb(230,99,47)">
            <div class="adM"> </div></div>

        <div style="font-size:14px;background-color:rgb(255,255,255);color:#332e2b">
            <div style="padding:10px 7% 25px;min-height:300px;">
                <div style="line-height: 1.5em; color: #332e2b" class="contentHolder">
                    <div style="display: block; text-align: right; height: 20px"><img style="width: 90px" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/feb/VedantuLogo_Orange.png" alt=""></div>

                    <div style="font-size: 14px; margin-top: 10px; ">Hey There,</div>
                    <div style="margin-top: 10px; "><span style="font-weight: bold; color: #e6632f">Welcome to Vedantu </span>- India's leading online tutoring platform for students.</div>
                    <div style="margin-top: 15px; ">Click <a style="color: blue; text-decoration: underline" href="{{pdfDownloadLink}}" target="_blank"><b>here</b></a> to download the PDF solution, as promised :)</div><br>

                    <a href="https://vedantu.app.link/EiLLtJOn7V"><img style="width: 100%; " src="https://s3-ap-southeast-1.amazonaws.com/vmkt/ansh/misc/23+Apr/Untitled-1%402x-compressor.png" alt=""></a>

                    <div style="margin-top: 15px; font-weight: bold; color: #e6632f">Vedantu Master Class - Free LIVE Online Sessions by Master Teachers</div>
                    <div style="margin-top:8px">Every week we are coming up with awesome Master Classes by our top teachers who will share the tips &amp; tricks on the topics that you would love to learn about. <strong>3,15,111+ Students</strong> have already enjoyed these <strong>free sessions</strong>.</div>



                    <a href="https://www.vedantu.com/masterclass/?utm_source=crm&amp;utm_medium=crm_mail_pdf&amp;utm_campaign=crm_mail_pdf-masterclass&amp;utm_content={{contentId}}&amp;utm_term={{contactNumber}}" target="_blank"><img style="width:100%;margin-top:15px;border-radius:4px" src="https://s3-ap-southeast-1.amazonaws.com/vmkt/ansh/misc/23+Apr/7DayMailer.png" alt=""></a>

                    <div style="margin-top:15px;font-weight:bold;color:#e6632f">MicroCourses - Learn what you NEED to Learn</div>
                    <div style="margin-top:8px">Get complete freedom to choose from topics that you really need to learn. Each module is designed for <b>360 degree </b>topic coverage so you never miss out on even the smallest of details. Courses starting at <b>Rs 11/-</b>.</div>
                    <a href="https://www.vedantu.com/microcourses?utm_source=seo&amp;utm_medium=seo-pdf_mail&amp;utm_campaign=seo-pdf_mail-microcourse" target="_blank"><img style="width:100%;margin-top:15px;border-radius:4px" src="https://vmkt.s3-ap-southeast-1.amazonaws.com/microcourses+/Mailer-imgs/hkhlM1%402x-min.jpg" alt=""></a>

                    <div style="margin-top: 15px; font-weight: bold; color: #e6632f">Vedantu till now</div>
                    <div style="font-size: 12px">
                        <div style="display: inline-block; min-width: 120px; padding-top: 10px; width: 26%"><span style="color: #6b5ea8; font-size: 20px; font-weight: bold">9,50,649+</span><br>Happy Students</div>
                        <div style="display: inline-block; min-width: 120px; padding-top: 10px; width: 30%"><span style="color: #6b5ea8; font-size: 20px; font-weight: bold">10,14,714+</span><br>Hrs of Live Learning</div>
                        <div style="display: inline-block; min-width: 100px; padding-top: 10px; width: 30%"><span style="color: #6b5ea8; font-size: 20px; font-weight: bold">500+</span><br>Expert Teachers</div>
                    </div>


                    <div style="margin:20px 0px 5px">Academically Yours,</div>
                    <div style="margin:0px 0px 40px">Team Vedantu.</div>
                </div>
                <div style="text-align:center;border-top:1px solid #eeeeee;padding: 30px 0px 15px; font-size:11px; color:rgb(153,153,153);"> This is a system
                    generated email. Please do not reply. </div>
            </div>
        </div>
        <div style="text-align:center;font-size:12px">
            <div style="margin-top:25px;color:rgb(102,102,102)">For queries, drop us a mail at <a href="mailto:vcare@vedantu.com" style="color:rgb(230,99,47);text-decoration:none" target="_blank">vcare@vedantu.com</a></div>
            <div style="margin-top:9px"> <a href="http://blog.vedantu.com/" style="text-decoration:none;color:rgb(230,99,47)" target="_blank">Blog</a><span style="color:rgb(230,99,47);margin:0px 2px 0px 7px">|</span> <a href="https://twitter.com/vedantu_learn" style="text-decoration:none;color:rgb(230,99,47)" target="_blank">Twitter</a><span style="color:rgb(230,99,47);margin:0px 2px 0px 7px">|</span> <a style="text-decoration:none;color:rgb(230,99,47)" href="http://www.facebook.com/VedantuInnovations" target="_blank">Facebook</a>
                <span style="color:rgb(230,99,47);margin:0px 2px 0px 7px">|</span>
                <a style="text-decoration:none;color:rgb(230,99,47)" href="https://www.youtube.com/user/VedantuInnovations" target="_blank">Youtube</a>

            </div>
        </div>
    </div>
</div>

</body>
</html>

