 <div style="line-height: 1.5em; color: #332e2b" class="contentHolder">
      
      <div style="font-size: 14px; padding-top:10px;">Hey There,</div>
      <div style="margin-top: 15px; font-weight: bold; color: #e6632f">Welcome to Vedantu.</div>
      <div style="margin-top: 10px; ">Here’s the link to download the PDF solution, as promised :)</div>
      <div style="margin: 12px 0px;"><a href="{{pdfDownloadLink}}" target="_blank" style="color: #fff; font-weight: 600; line-height: 10px; text-decoration: none; word-wrap: break-word; display: inline-block; background-color: #39b54a; padding: 8px 14px; border-radius: 3px; font-size: 14px; display: block; width: 136px; text-align: center">Download PDF <img style="width: 21px; vertical-align: middle" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/feb/Download.png" alt=""></a> </div>
      
      <div style="height: 1px; background-color: #e6e6e6; margin-top: 25px"></div>
      <div style="margin-top: 20px">You might also be interested in this!</div>
      <div style="color: #6b5ea8; margin-top: 15px; font-size: 16px;"><b>Vedantu Master Classes - Free Webinar Series by Master Teachers</b></div>
      {{#webinarExists}}
      <div style="margin-top: 15px">You can register for the upcoming webinar below!</div>
      
      <div style="border: 1px solid #e6e6e6; padding: 5% 3% 0; margin-top: 15px; border-radius: 4px">
        <div style="background-color:#ffff99;width:150px;padding:3px 0;text-align:center;border-radius:50px;font-size:13px"><b>{{webinarTitle}}</b> ON</div>
      	<div style="color: #6b5ea8; font-size: 20px; padding-top: 10px;">{{webinarTopic}}</div>
        <div style="margin-top:10px">{{startTime}}</div>
      	<img style="width: 100%; padding-top: 10px" src="{{webinarTeacherImageURL}}" alt="">
      	<a style="color: #fff; line-height: 10px; text-decoration: none; word-wrap: break-word; display: inline-block; background-color: #6b5ea8; padding: 17px 25px; border-radius: 3px; font-size: 16px; display: block; width: 150px; text-align: center; margin: 20px auto" href="{{webinarRegisterLink}}" target="_blank" >Register for <span style="color: #fce80f; font-weight: bold">FREE</span></a>
      </div>
      {{/webinarExists}}
      {{^webinarExists}}
      <div style="margin-top:15px">You can view the upcoming webinars below!</div>
      
      <div style="text-decoration:none;margin-bottom: 20px">
      	<div style="margin-top:20px">
      	<img style="width:100%" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/feb/PDF-Download-FallBack.jpg" alt="">
      	<a style="color:#fff;line-height:10px;text-decoration:none;word-wrap:break-word;display:inline-block;background-color:#6b5ea8;padding:17px 0px;border-radius:3px;font-size:16px;display:block;width:240px;text-align:center;margin:20px auto"  href="{{webinarRegisterLink}}" target="_blank" >Register for <span style="color:#fce80f;font-weight:bold">FREE</span></a>
      	</div>
      </div>
      {{/webinarExists}}
      
      <div style="margin-top: 15px">Every week we are coming up with awesome webinars by our top teachers who will share tips & tricks on important topics that you would love to learn about. <b>30,000+ students</b> have already enjoyed these <b>free sessions</b>.</div>
      
      <div style="margin-top: 25px; font-weight: bold; color: #e6632f">About Vedantu</div>
      <div style="margin-top: 10px">We believe each child is special in his/her own unique way, a good teacher understands this and teaches as per child's specific pace and level. A good teacher mentors and motivates to do better and helps each child become a confident and poised individual.</div>
      <div style="margin-top: 15px">At Vedantu, you will get a teacher who is carefully chosen and trained to give the exact same learning experience. <a style="color: #6b5ea8" href="https://www.vedantu.com">Learn more</a></div>
      <div style="margin-top: 25px; font-weight: bold; color: #e6632f">Vedantu till now</div>
      <div style="font-size: 12px">
      	<div style="display: inline-block; min-width: 120px; padding-top: 20px; width: 26%"><span style="color: #6b5ea8; font-size: 20px; font-weight: bold">2,00,000+</span><br>Happy Students</div>
      	<div style="display: inline-block; min-width: 120px; padding-top: 20px; width: 30%"><span style="color: #6b5ea8; font-size: 20px; font-weight: bold">5,35,000+</span><br>Hrs of Live Learning</div>
      	<div style="display: inline-block; min-width: 100px; padding-top: 20px; width: 30%"><span style="color: #6b5ea8; font-size: 20px; font-weight: bold">550+</span><br>Expert Teachers</div>
      </div>
      
      
      
      <div style="margin:50px 0px 5px">Academically Yours,</div>
      <div style="margin:0px 0px 40px">Team Vedantu.</div>
    </div>
