<b style="font-size:16px">Hey {{name}}!</b>
          <div class="m_5464784658494822042m_-7110169880832381319m_-1851611179650930752contentHolder">
            <div style="margin:20px 0px">Your scheduled session starts in 60 mins. Details of your session are as follows,</div>
            <table style="width:100%;border:1px solid rgb(204,204,204);border-collapse:collapse">
              <thead>
                <tr>
                  <td style="width:160px;padding:12px 12px 10px;border-bottom:1px solid rgb(204,204,204)"><div style="font-size:16px;margin-bottom:2px"> <span style="color:rgb(230,99,47);font-weight:bold">{{title}}</span> </div></td>
                </tr>
                <tr>
                  <td style="padding:12px 15px 15px"><div style="margin-bottom:12px"><span style="color:rgb(153,153,153);font-size:13px;display:inline-block;width:70px">Date</span>
                      <label style="font-size:13px;margin-left:12px"><b style="font-size:16px;color:rgb(51,51,51)">{{date}}</b> {{month}}</label>
                    </div>
                    <div style="margin-bottom:12px"><span style="color:rgb(153,153,153);font-size:13px;display:inline-block;width:70px">Time</span>
                      <label style="font-size:13px;margin-left:12px"><b style="font-size:16px;color:rgb(51,51,51)">{{time}}</b> IST</label>
                    </div>
                    <div><span style="color:rgb(153,153,153);font-size:13px;display:inline-block;width:70px">Teacher</span>
                      <label style="font-size:13px;margin-left:12px">{{partnerName}}</label>
                    </div>
                    <div style="margin-bottom:12px"><span style="color:rgb(153,153,153);font-size:13px;display:inline-block;width:70px"></span> <a href="{{partnerLink}}" style="margin-left:12px;text-decoration:underline;color:rgb(230,99,47);font-size:11px;margin-top:2px;display:inline-block" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.vedantu.com/v/teacher/6666255235809280&amp;source=gmail&amp;ust=1527156381181000&amp;usg=AFQjCNEHTbbGMUoPaZbHSgCJxwTIsV2EeQ">View
                      Profile</a> </div>
                    <div style="margin-bottom:12px"><span style="color:rgb(153,153,153);font-size:13px;display:inline-block;width:70px">Duration</span>
                      <label style="font-size:13px;margin-left:12px">{{duration}} mins (approx)</label>
                    </div></td>
                </tr>
              </thead>
            </table>
          </div>
          <div style="margin-top:20px">Please join the session 5-10 mins before the start time.</div>
          <div style="margin-top:20px">In case you face any issue, please reach us on 1800-120-456-456 or <a style="color: #e6632f; text-decoration: underline" href="mailto:vcare@vedantu.com">vcare@vedantu.com</a>.</div>
          <div style="margin-top:30px">See you in the session :)</div>
          <div style="margin-top:10px">Academic team,</div>
          <div style="margin-bottom:70px">Vedantu</div>