<div style="margin: 20px 0px;"><b>Session schedule failed for proposal with id {{proposalId}}. Below are the session details:</b></div>
<div style="margin-top: 20px;">
	<b>Start time</b> : {{startTime}}
</div>
<div style="margin-top: 20px;">
	<b>End time</b> : {{endTime}}
</div>
<div style="margin-top: 20px;">
	<b>Title</b> : {{title}}
</div>
<div style="margin-top: 20px;">
	<b>Scheduled by</b> : {{scheduledBy}}
</div>
<div style="margin-top: 20px;">
	<b>Student name</b> : <a
		style="text-decoration: underline; color: #0370CB"
		href="{{studentLink}}"><i>{{studentName}}</i></a>
</div>
<div style="margin-top: 20px;">
	<b>Student mobile number</b> : {{studentMobileNo}}
</div>
<div style="margin-top: 20px;">
	<b>Teacher name</b> : <a
		style="text-decoration: underline; color: #0370CB"
		href="{{teacherLink}}"><i>{{teacherName}}</i></a>
</div>
<div style="margin-top: 20px;">
	<b>Teacher mobile number</b> : {{{teacherMobileNo}}}
</div>
<div style="margin-top: 20px;">
	<b>Subject</b> : {{subject}}
</div>
<div style="margin-top: 20px;">
	<b>Topic</b> : {{topic}}
</div>
<div style="margin-top: 20px;">
	<b>Title</b> : {{title}}
</div>
<div style="margin-top: 20px;">
	<b>Type</b> : {{type}}
</div>
<div style="margin-top: 20px;">
	<b>Description</b> : {{description}}
</div>
<div style="margin-top: 20px;">
	<b>Charge rate</b> : {{chargeRate}}
</div>
<div style="margin-top: 20px;">
	<b>Pay rate</b> : {{payRate}}
</div>

<div style="margin-top: 20px;">
	<b>Error message</b> : {{errorMessage}}
</div>



<div></div>

<div style="margin-top: 40px;">Academically Yours,</div>
<div style="margin-bottom: 70px;">Team Vedantu</div>





