<b>Inactive session details</b>

<div style="margin: 20px 0px;">We have got details of an inactive session. Have
	a look:</div>
<div style="margin-top: 20px;"><b>Start time</b> : {{startTime}}</div>
<div style="margin-top: 20px;"><b>End time</b> : {{endTime}}</div>
<div style="margin-top: 20px;"><b>Title</b> : {{title}}</div>
<div style="margin-top: 20px;"><b>Scheduled by</b> : {{scheduledBy}}</div>
<div style="margin-top: 20px;"><b>Subject</b> : {{{subject}}}</div>
<div style="margin-top: 20px;"><b>Session details</b> :</div>
<div style="margin-top: 20px;margin-bottom: 20px;">{{sessionDetails}}</div>



            <table style="border:none;border-collapse:collapse">
              <colgroup>
              <col width="156">
              <col width="156">
              <col width="156">
              <col width="136">
              </colgroup>
              <tbody>
                <tr style="height:0px">
                  <td style="border:1px solid #ccc;vertical-align:top;padding:7px;text-align:center"><p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt"> <span style="text-transform: uppercase;font-size:15px; font-weight: bold;font-family:Arial;color:rgb(68,68,68);vertical-align:baseline;white-space:pre-wrap;">Attendee</span></p></td>
                  <td style="border:1px solid #ccc;vertical-align:top;padding:7px;text-align:center"><p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt"> <span style="text-transform: uppercase;font-size:15px; font-weight: bold;font-family:Arial;color:rgb(68,68,68);vertical-align:baseline;white-space:pre-wrap;">Attendee 1</span></p></td>
                  <td style="border:1px solid #ccc;vertical-align:top;padding:7px;text-align:center"><p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt"> <span style="text-transform: uppercase;font-size:15px; font-weight: bold;font-family:Arial;color:rgb(68,68,68);vertical-align:baseline;white-space:pre-wrap;">Attendee 2</span></p></td>
                </tr>
                <tr style="height:0px">
                  <td style="border:1px solid #ccc;vertical-align:top;padding: 20px 7px;  text-align: center;"><p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt"><span style="font-size:15px; font-weight: bold;font-family:Arial;color:rgb(68,68,68);vertical-align:baseline;white-space:pre-wrap">Name</span></p></td>
                  <td style="border:1px solid #ccc;vertical-align:top;padding: 20px 7px;text-align: center;"><p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt"><span style="font-size:15px;font-family:Arial;color:rgb(68,68,68);vertical-align:baseline;white-space:pre-wrap">{{attendee1Name}}</span></p></td>
                  <td style="border:1px solid #ccc;vertical-align:top;padding: 20px 7px;text-align: center;"><p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt"><span style="font-size:15px;font-family:Arial;color:rgb(68,68,68);vertical-align:baseline;white-space:pre-wrap">{{attendee2Name}}</span></p></td>
                </tr>
                <tr style="height:0px">
                  <td style="border:1px solid #ccc;vertical-align:top;padding: 20px 7px;  text-align: center;"><p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt"><span style="font-size:15px; font-weight: bold;font-family:Arial;color:rgb(68,68,68);vertical-align:baseline;white-space:pre-wrap">Id</span></p></td>
                  <td style="border:1px solid #ccc;vertical-align:top;padding: 20px 7px;text-align: center;"><p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt"><span style="font-size:15px;font-family:Arial;color:rgb(68,68,68);vertical-align:baseline;white-space:pre-wrap">{{attendee1Id}}</span></p></td>
                  <td style="border:1px solid #ccc;vertical-align:top;padding: 20px 7px;text-align: center;"><p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt"><span style="font-size:15px;font-family:Arial;color:rgb(68,68,68);vertical-align:baseline;white-space:pre-wrap">{{attendee2Id}}</span></p></td>
                </tr>
                <tr style="height:0px">
                  <td style="border:1px solid #ccc;vertical-align:top;padding: 20px 7px;  text-align: center;"><p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt"><span style="font-size:15px; font-weight: bold;font-family:Arial;color:rgb(68,68,68);vertical-align:baseline;white-space:pre-wrap">Role</span></p></td>
                  <td style="border:1px solid #ccc;vertical-align:top;padding: 20px 7px;text-align: center;"><p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt"><span style="font-size:15px;font-family:Arial;color:rgb(68,68,68);vertical-align:baseline;white-space:pre-wrap">{{attendee1Role}}</span></p></td>
                  <td style="border:1px solid #ccc;vertical-align:top;padding: 20px 7px;text-align: center;"><p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt"><span style="font-size:15px;font-family:Arial;color:rgb(68,68,68);vertical-align:baseline;white-space:pre-wrap">{{attendee2Role}}</span></p></td>
                </tr>
                <tr style="height:0px">
                  <td style="border:1px solid #ccc;vertical-align:top;padding: 20px 7px;  text-align: center;"><p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt"><span style="font-size:15px; font-weight: bold;font-family:Arial;color:rgb(68,68,68);vertical-align:baseline;white-space:pre-wrap">Status</span></p></td>
                  <td style="border:1px solid #ccc;vertical-align:top;padding: 20px 7px;text-align: center;"><p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt"><span style="font-size:15px;font-family:Arial;color:rgb(68,68,68);vertical-align:baseline;white-space:pre-wrap">{{attendee1State}}</span></p></td>
                  <td style="border:1px solid #ccc;vertical-align:top;padding: 20px 7px;text-align: center;"><p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt"><span style="font-size:15px;font-family:Arial;color:rgb(68,68,68);vertical-align:baseline;white-space:pre-wrap">{{attendee2State}}</span></p></td>
                </tr>
                <tr style="height:0px">
                  <td style="border:1px solid #ccc;vertical-align:top;padding: 20px 7px;  text-align: center;"><p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt"><span style="font-size:15px; font-weight: bold;font-family:Arial;color:rgb(68,68,68);vertical-align:baseline;white-space:pre-wrap">Phone no.</span></p></td>
                  <td style="border:1px solid #ccc;vertical-align:top;padding: 20px 7px;text-align: center;"><p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt"><span style="font-size:15px;font-family:Arial;color:rgb(68,68,68);vertical-align:baseline;white-space:pre-wrap">{{attendee1Number}}</span></p></td>
                  <td style="border:1px solid #ccc;vertical-align:top;padding: 20px 7px;text-align: center;"><p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt"><span style="font-size:15px;font-family:Arial;color:rgb(68,68,68);vertical-align:baseline;white-space:pre-wrap">{{attendee2Number}}</span></p></td>
                </tr>
              </tbody>
            </table>
<div></div>

<div style="margin-top: 40px;">Academically Yours,</div>
<div style="margin-bottom: 70px;">Team Vedantu</div>





