 <b style="font-size: 16px;">Hey {{name}}!</b>

                    <div class="contentHolder">
                        <div style="margin: 20px 0px;">You have a confirmed session with {{partnerName}}.
                        The session detail are as follows: 


                        </div>
                        <table style="width: 100%; border: 1px solid rgb(204, 204, 204);border-collapse: collapse">
                            <thead>
                            <tr>
                                <td style="width: 160px; padding: 12px 12px 10px; border-bottom: 1px solid rgb(204, 204, 204);">
                                    <div style="font-size: 16px; margin-bottom: 2px;">
                                    	<span style="color: rgb(230, 99, 47); font-weight: bold;">
                                        	{{title}}
                                        </span>
                                    </div>

                                    <div style="font-size: 13px; color: rgb(153, 153, 153);">
                                    	{{{context}}}
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td style="padding: 12px 15px 15px;">
                                    <div style="margin-bottom: 12px;"><span
                                            style="color: rgb(153, 153, 153); font-size: 13px; display: inline-block; width: 70px;">What Date</span><label
                                            style="font-size: 13px; margin-left: 12px;"><b
                                            style="font-size: 16px; color: rgb(51, 51, 51);">{{date}}</b> {{month}}</label>
                                    </div>
                                    <div style="margin-bottom: 12px;"><span
                                            style="color: rgb(153, 153, 153); font-size: 13px; display: inline-block; width: 70px;">What Time</span><label
                                            style="font-size: 13px; margin-left: 12px;"><b
                                            style="font-size: 16px; color: rgb(51, 51, 51);">{{time}}</b> IST</label>
                                    </div>
                                    <div><span
                                            style="color: rgb(153, 153, 153); font-size: 13px; display: inline-block; width: 70px;">With Whom</span><label
                                            style="font-size: 13px; margin-left: 12px;">{{partnerName}}</label>
                                    </div>
                                    <div style="margin-bottom: 12px;"><span
                                            style="color: rgb(153, 153, 153); font-size: 13px; display: inline-block; width: 70px;"></span>
                                        <a href="{{partnerLink}}" target="_blank"
                                           style="margin-left: 12px; text-decoration: underline; color: rgb(230, 99, 47); font-size: 11px; margin-top: 2px; display: inline-block;">View
                                            Profile</a>
                                    </div>
                                    <div style="margin-bottom: 12px;"><span
                                            style="color: rgb(153, 153, 153); font-size: 13px; display: inline-block; width: 70px;">How Long</span><label
                                            style="font-size: 13px; margin-left: 12px;">{{duration}} mins (approx)</label>
                                    </div>
                                </td>
                            </tr>
                            </thead>
                        </table>
                    </div>

                   <div style="margin: 20px 0px;">V suggest, you login to the portal at least 5 minutes before the session is due to start.
                    </div>
                    <div>
                        Getting a bit nervous about the upcoming CBSE Exams? Relax - our CBSE revision courses 
                        (taken by our best teachers) are just what the doc ordered. There are only 7 seats per batch though, so hurry!
                    </div>
                    <div style="text-align: center;">
                        <a href="https://www.vedantu.com/v/1-to-few/cbse/courses?utm_source=SessionConfirmed&utm_campaign=CBSECourses&utm_medium=Email">Enroll in CBSE Exam Revision Courses</a>
                    </div>
                    <div>V are here for you, let us know if you need anything else.  You can call us on {{displayMobileNumber}} or email us at {{displayEmailId}}.</div>
                    <div style="margin: 20px 0px;">Have Fun Learning :)</div>
                    <div style="margin-top: 40px;">Academically Yours,</div>
                    <div style="margin-bottom: 70px;">V</div>                    
                    
           