<b>Reschedule request from user</b>

                    <div style="margin: 20px 0px;">We have got a request from {{userRole}} to {{updateRequest}} a session. Below are the details </div>
                    <div>User name: {{userName}}</div>
                    <div>User email id: {{userEmail}}</div>
                    <div>Contact Number: {{userContactNumber}}</div>

                    <div>Session id: {{sessionId}}</div>
                    <div><b>Current</b>> Start time of the session: {{sessionStartTime}}</div>
                    <div>Session title: {{sessionTitle}}</div>
                    <div>User request Note: {{{userNote}}}</div>
                    <div style="margin-top: 40px;">Academically Yours,</div>
                    <div style="margin-bottom: 70px;">Team Vedantu</div>