
<b style="font-size: 16px;">Hi {{name}},</b>

<div class="contentHolder">
	<div style="margin: 20px 0px;">V hope you had a fulfilling
		session and {{partnerName}} had an awesome learning experience from
		you. Every minute of teaching goes a long way in shaping someone`s
		life. We thank you for giving that precious time and for using
		Vedantu. You can find the details of the session below:</div>

	<table
		style="width: 100%; border: 1px solid rgb(204, 204, 204); border-collapse: collapse">
		<thead>
			<tr>
				<td
					style="width: 160px; padding: 12px 12px 10px; border-bottom: 1px solid rgb(204, 204, 204);">
					<div style="font-size: 16px; margin-bottom: 2px;">
						<span style="color: rgb(230, 99, 47); font-weight: bold;">
							{{title}} </span>
					</div>

					<div style="font-size: 13px; color: rgb(153, 153, 153);">
						{{{context}}}</div>
				</td>

			</tr>
			<tr>
				<td style="padding: 12px 15px 15px;">
					<div style="margin-bottom: 12px;">
						<span
							style="color: rgb(153, 153, 153); font-size: 13px; display: inline-block; width: 70px;">What
							Date</span><label style="font-size: 13px; margin-left: 12px;"><b
							style="font-size: 16px; color: rgb(51, 51, 51);">{{date}}</b>
							{{month}}</label>
					</div>
					<div style="margin-bottom: 12px;">
						<span
							style="color: rgb(153, 153, 153); font-size: 13px; display: inline-block; width: 70px;">What
							Time</span><label style="font-size: 13px; margin-left: 12px;"><b
							style="font-size: 16px; color: rgb(51, 51, 51);">{{time}}</b> IST</label>
					</div>
					<div>
						<span
							style="color: rgb(153, 153, 153); font-size: 13px; display: inline-block; width: 70px;">With
							Whom</span><label style="font-size: 13px; margin-left: 12px;">{{partnerName}}</label>
					</div>
					<div style="margin-bottom: 12px;">
						<span
							style="color: rgb(153, 153, 153); font-size: 13px; display: inline-block; width: 70px;"></span>
						<a href="{{partnerLink}}" target="_blank"
							style="margin-left: 12px; text-decoration: underline; color: rgb(230, 99, 47); font-size: 11px; margin-top: 2px; display: inline-block;">View
							Profile</a>
					</div>
					<div style="margin-bottom: 12px;">
						<span
							style="color: rgb(153, 153, 153); font-size: 13px; display: inline-block; width: 70px;">How
							Long</span><label style="font-size: 13px; margin-left: 12px;">{{duration}}
							mins (approx)</label>
					</div>
				</td>
			</tr>
		</thead>
	</table>
</div>

<div>We'd love to hear your feedback on the session and your
	suggestion to make teaching more fun and interactive. You can reach us
	on {{displayMobileNumber}} or email us at {{displayEmailId}}.</div>
<div style="margin: 20px 0px;">Happy Knowledge Sharing</div>
<div style="margin-top: 40px;">Academically Yours,</div>
<div style="margin-bottom: 70px;">V</div>
