
<b style="font-size: 16px;">Dear Parent,</b>

<div class="contentHolder">
	<div style="margin: 20px 0px;">{{name}} just completed a
		session with {{partnerName}}. We hope {{name}}
		was immensely benefited by the session. You can see the entire recorded
		session by visiting vedantu.com. The Session details are as stated
		below.</div>

	<table
		style="width: 100%; border: 1px solid rgb(204, 204, 204); border-collapse: collapse">
		<thead>
			<tr>
				<td
					style="width: 160px; padding: 12px 12px 10px; border-bottom: 1px solid rgb(204, 204, 204);">
					<div style="font-size: 16px; margin-bottom: 2px;">
						<span style="color: rgb(230, 99, 47); font-weight: bold;">
							{{title}} </span>
					</div>

					<div style="font-size: 13px; color: rgb(153, 153, 153);">
						{{{context}}}</div>
				</td>

			</tr>
			<tr>
				<td style="padding: 12px 15px 15px;">
					<div style="margin-bottom: 12px;">
						<span
							style="color: rgb(153, 153, 153); font-size: 13px; display: inline-block; width: 70px;">What
							Date</span><label style="font-size: 13px; margin-left: 12px;"><b
							style="font-size: 16px; color: rgb(51, 51, 51);">{{date}}</b>
							{{month}}</label>
					</div>
					<div style="margin-bottom: 12px;">
						<span
							style="color: rgb(153, 153, 153); font-size: 13px; display: inline-block; width: 70px;">What
							Time</span><label style="font-size: 13px; margin-left: 12px;"><b
							style="font-size: 16px; color: rgb(51, 51, 51);">{{time}}</b> IST</label>
					</div>
					<div>
						<span
							style="color: rgb(153, 153, 153); font-size: 13px; display: inline-block; width: 70px;">With
							Whom</span><label style="font-size: 13px; margin-left: 12px;">{{partnerName}}</label>
					</div>
					<div style="margin-bottom: 12px;">
						<span
							style="color: rgb(153, 153, 153); font-size: 13px; display: inline-block; width: 70px;"></span>
						<a href="{{partnerLink}}" target="_blank"
							style="margin-left: 12px; text-decoration: underline; color: rgb(230, 99, 47); font-size: 11px; margin-top: 2px; display: inline-block;">View
							Profile</a>
					</div>
					<div style="margin-bottom: 12px;">
						<span
							style="color: rgb(153, 153, 153); font-size: 13px; display: inline-block; width: 70px;">How
							Long</span><label style="font-size: 13px; margin-left: 12px;">{{duration}}
							mins (approx)</label>
					</div>
				</td>
			</tr>
		</thead>
	</table>
        <div>
            Getting a bit nervous about the upcoming CBSE Exams? Relax - our CBSE revision courses 
            (taken by our best teachers) are just what the doc ordered. There are only 7 seats per batch though, so hurry!
        </div>
        <div style="text-align: center;">
                <a href="https://www.vedantu.com/v/1-to-few/cbse/courses?utm_source=PostSession&utm_campaign=CBSECourses&utm_medium=Email">Enroll in CBSE Exam Revision Courses</a>
        </div>
</div>
<br>
<div>If {{name}} wish to learn more from {{partnerName}} or need help
	with anything else, you can call us on {{displayMobileNumber}} or email
	us at {{displayEmailId}}</div>
<div style="margin-top: 40px;">Sincerely Yours,</div>
<div style="margin-bottom: 70px;">V</div>
<div style="margin-bottom: 70px;"></div>
