
<b style="font-size: 16px;">Dear Parent,</b>

<div class="contentHolder">
	<div style="margin: 20px 0px;">It is very unfortunate that we
		have to cancel {{name}}'s session with {{partnerName}}. We however
		look forward to {{name}}'s next session on Vedantu.</div>
	<table
		style="width: 100%; border: 1px solid rgb(204, 204, 204); border-collapse: collapse">
		<thead>
			<tr>
				<td
					style="width: 160px; padding: 12px 12px 10px; border-bottom: 1px solid rgb(204, 204, 204);">
					<div style="font-size: 16px; margin-bottom: 2px;">
						<span style="color: rgb(230, 99, 47); font-weight: bold;">
							{{title}} </span>
					</div>

					<div style="font-size: 13px; color: rgb(153, 153, 153);">
						{{{context}}}</div>
                                        {{#remark}}
                                        <div style="padding:10px;border:1px solid #CCC;margin:10px 0;">
                                            <div style="font-weight:bold;font-size:18px;color:#332E2B">Reason of cancellation</div>
                                            <div style="font-size: 13px; color: rgb(153, 153, 153);">{{{remark}}}</div>
                                        </div>
                                        {{/remark}}
				</td>

			</tr>
			<tr>
				<td style="padding: 12px 15px 15px;">
					<div style="margin-bottom: 12px;">
						<span
							style="color: rgb(153, 153, 153); font-size: 13px; display: inline-block; width: 70px;">What
							Date</span><label style="font-size: 13px; margin-left: 12px;"><b
							style="font-size: 16px; color: rgb(51, 51, 51);">{{date}}</b>
							{{month}}</label>
					</div>
					<div style="margin-bottom: 12px;">
						<span
							style="color: rgb(153, 153, 153); font-size: 13px; display: inline-block; width: 70px;">What
							Time</span><label style="font-size: 13px; margin-left: 12px;"><b
							style="font-size: 16px; color: rgb(51, 51, 51);">{{time}}</b> IST</label>
					</div>
					<div>
						<span
							style="color: rgb(153, 153, 153); font-size: 13px; display: inline-block; width: 70px;">With
							Whom</span><label style="font-size: 13px; margin-left: 12px;">{{partnerName}}</label>
					</div>
					<div style="margin-bottom: 12px;">
						<span
							style="color: rgb(153, 153, 153); font-size: 13px; display: inline-block; width: 70px;"></span>
						<a href="{{partnerLink}}" target="_blank"
							style="margin-left: 12px; text-decoration: underline; color: rgb(230, 99, 47); font-size: 11px; margin-top: 2px; display: inline-block;">View
							Profile</a>
					</div>
					<div style="margin-bottom: 12px;">
						<span
							style="color: rgb(153, 153, 153); font-size: 13px; display: inline-block; width: 70px;">How
							Long</span><label style="font-size: 13px; margin-left: 12px;">{{duration}}
							mins (approx)</label>
					</div>
				</td>
			</tr>
		</thead>
	</table>
</div>

<div style="margin: 20px 0px;">For any further assistance, or to
	book a new session, you can call us on {{displayMobileNumber}} or email
	us at {{displayEmailId}}.</div>
<div style="margin-top: 40px;">Sincerely Yours,</div>
<div style="margin-bottom: 70px;">V</div>