 <b>Hey {{name}}!</b>

                    <div style="margin: 20px 0px;">Thank you for showing interest in Vedantu! You have been registered as an counselor on Vedantu.</div>
                    <div style="margin: 20px 0px;">Click the link below to set your password and confirm that it's your email address. </div>
                    <div style="margin: 20px 0px;"><a href="{{link}}" target="_blank" style="color: rgb(230, 99, 47);">{{link}}</a></div>
                      <div style="margin: 20px 0px;"></div>
                        <div style="margin: 20px 0px;">Happy Knowledge Sharing</div>
                    <div style="margin-top: 40px;">Academically Yours,</div>
                    <div style="margin-bottom: 70px;">V</div>
                     <div style="margin-bottom: 70px;">P.S. If you're new to Vedantu, you'll be getting a series of emails to help you get started. 
                     Also be sure to add no-reply@vedantu.com to your safe email list.</div>
                    
                    