<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="shortcut icon" href="https://alpha.vedantu.com/static/images/favicon.ico" type="image/x-icon">
<title>launch mailer</title>
</head>
<body>
<div style="background-color:#FFFFFF;">
  <div style="margin:0px auto;font-family:arial;padding-bottom:30px;padding-top:45px; background-color: #F5f5f5">
  <div style="margin:0px auto;font-family:arial;max-width:600px; background-color: #FFFFFF">
    <div style="">
      <div style="text-align:center;color:rgb(255,255,255);font-size:40px;"> 
      <img width="100%" alt="International School League" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/feb/ISL_17_letter_header.jpg">
      </div>
      
      <div style="font-size:14px; line-height:22px; background-color:rgb(255,255,255);color:rgb(68,68,68)">
        <div style="padding:55px 7% 50px;min-height:300px"> 
        
          <div style="max-width:600px; margin: 0 auto; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:14px; background-color:white; line-height:1.5;">
            <div>
              <strong> Hey,</strong>
            </div>
            <div style="margin: 10px 0;">
              Your child {{studentName}} has registered in  <strong>International Student League 2017/18</strong> - The biggest international online aptitude competition with top prizes like Internship at oxford, trip to CERN & UN etc.
            </div>
            <div style="margin: 10px 0;">
              Please note the following important details:
            </div>
            
            <div style="padding: 5px 10px; border: 1px solid #d1d1d1;">
              <div style="margin-top: 10px;">
                Login ID &amp; password to attempt ISL main test:
              </div>
              <div style="margin-top:15px;">
                <div>
                  <strong>Login ID</strong> : {{studentEmail}}
                </div>
                <div style="margin-bottom: 10px;" >
                  <strong>Password</strong> : {{password}}
                </div>
              </div>
            </div>
            <div style="margin:10px 0;">
              <strong>Website</strong> : <a href="https://vedantu.com/isl" target="_blank" style="color: #009999;">https://vedantu.com/isl</a>
            </div>
            <div style="margin-top:15px">
              <strong> ISL Test Date: </strong> <span style="color: #e6632f;"> Wednesday, 15th Nov 2017</span>.
            </div>
            <div style="margin: 15px 0;">
              <strong>ISL Test Time:</strong> <span style="color: #e6632f;"> India Time: 7pm </span>; Dubai Time: 5:30pm ; Saudi Arabia Time: 4:30pm  
            </div>
            <div style="margin-top:15px; padding-top:20px; border-top: 1px solid #999999;">
              Use your login ID &amp; Password to login to ISL website and take the test  <a style="text-decoration:none;color:#009999" href="https://isl.vedantu.com/?utm_source=vedantu_website_isl_link&amp;utm_term=direct" target="_blank">(www.vedantu.com/isl)</a>
            </div>
            <div style="color:#e6632f;padding-top:15px;font-style:italic; padding-bottom: 20px; border-bottom: 1px solid #999999;">
              Note: This login ID &amp; password is required to attempt the main ISL test on 15th Nov, 2017. You will be able to change your password after logging in. 
            </div>
        
            <div style="margin: 15px 0;">
              Note: ISL is an Online Test which can be taken from home on Laptop/Desktop/Smart Phone with internet connectivity. For any query, please refer to ISL FAQs: <a href="https://isl.vedantu.com/faq" style="color: #009999;">https://isl.vedantu.com/faq</a> 
            </div>
            <div style="margin-top:30px">
              ISL Test is not just about the final test on 15th Nov, 2017. You can now login to ISL Website - <a style="text-decoration:none;color:#009999" href="https://isl.vedantu.com/?utm_source=vedantu_website_isl_link&amp;utm_term=direct" target="_blank">(www.vedantu.com/isl)</a> for the following:
            </div>
                
            <ul>
              <li><b>Daily Challenges </b>- attempt challenge, earn points, compete with students from across the world, see your position live on the leaderboard - <b>win an Amazon Kindle every week</b>.</li>
              <li style="padding-top:10px"><b>ISL Mock Tests</b> - prepare yourself for the final ISL test.</li>
              <li style="padding-top:10px"><b>ISL Webinars by expert IITians</b> - Get an edge over other participants by learning special concepts and tips &amp; tricks to crack ISL</li>
            </ul>
                
                
            <div>For any queries related to ISL, don’t hesitate to reach us at <a style="text-decoration:none" href="mailto:isl@vedantu.com" target="_blank">isl@vedantu.com</a>. </div>
            <div style="margin-top:30px">
              It is going to be the biggest battle of the brains. Stay tuned in and stay sharp!
            </div>
            
            <div style="margin:5px 0px 30px"><b>Team ISL</b></div>
          </div>
        </div>
      </div>

    <div style=" width: 96%; color:#fff; font-size:12px; display:inline-block;padding: 3% 2%; background-color: #f5f5f5"> <span style="  float:left;  width:50%">
      <p style="font-size:12px; padding:0px;margin: 0; color: #777; font-weight:bold; ">Any Queries?<br>
        <a target="_blank" style="text-decoration:none; color:#a39a95; font-weight:normal;margin-top: 5px;display: inline-block;" href="mailto:isl@vedantu.com"> Mail us at: isl@vedantu.com</a></p>
      </span> <span style="  float:right; ">
      <p style="font-size:12px; padding:0px;margin: 0; color: #777; font-weight:bold; ">Follow Us on<br>
        <a href="https://twitter.com/vedantu_learn" style="text-decoration: none;color:#e6632f;"><img src="http://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/twitter.png"></a> <a style="text-decoration: none; color:#e6632f;;" href="http://www.facebook.com/VedantuInnovations"><img src="http://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/facebook.png"></a> <a style="text-decoration: none; color:#e6632f;" href="https://www.youtube.com/user/VedantuInnovations"><img src="http://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/youtube.png"></a> <a href="http://blog.vedantu.com/" style="text-decoration: none;color:#e6632f;"><img src="http://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/blog.png"></a></p>
      </span> </div>
      </div>
  </div>
</div>
</body>
</html>