 <b>Hi {{name}}!</b>

                    <div style="margin: 20px 0px;">
                     Thank you for showing your interest in Vedantu! Your teacher account on Vedantu is almost ready.</div>
                    <div style="margin: 20px 0px;">But before you can login you must confirm your email id by clicking on the link below.</div>
                    <div style="margin: 20px 0px;"><a href="{{link}}" target="_blank" style="color: rgb(230, 99, 47);">{{link}}</a></div>
                     <div style="margin: 20px 0px;">Once you have visited the verification URL your account will be activated.</div>
                      <div style="margin: 20px 0px;"></div>
                        <div style="margin: 20px 0px;">Happy Knowledge Sharing</div>
                    <div style="margin-top: 40px;">Academically Yours,</div>
                    <div style="margin-bottom: 70px;">V</div>
                     <div style="margin-bottom: 70px;">P.S. If you're new to Vedantu, you'll be getting a series of emails to help you get started. 
                     Also be sure to add no-reply@vedantu.com to your safe email list.</div>
                    
                    