
<b>Hey {{name}}!</b>
<div style="margin: 20px 0px;">Thank you for showing interest in Vedantu - Your Personal Teacher Online.</div>
<div style="margin: 20px 0px;">
    Your email address has not been verified. To start learning on Vedantu and to help us keep Vedantu secure, please verify your account by clicking on the button below.
</div>
<div style="padding: 30px 0; text-align: center;">
<a href="{{link}}" target="_blank" style="padding: 12px 35px;background-color: #E6632F;border-radius: 3px;color: #FFF;    cursor: pointer;text-decoration: none;font-weight: 600;font-size: 18px;box-shadow: 0px 1px 8px 1px rgba(45,45,45,0.23);">Verify Account</a>
</div>
<div style="margin: 20px 0px;"></div>
<div style="margin: 20px 0px;">Thank You</div>
<div style="margin-top: 10px;">Team Vedantu</div>
<div style="margin: 70px 0;">PS: We will keep you notified about your learning progress and will send important information to this email id. Please add <a href="mailto:no-reply@vedantu.com">no-reply@vedantu.com</a> to your email contact list to ensure that you don't miss out on any important information. </div>
