<b>Hi {{teacherName}},</b><br>
    <div style="margin: 10px 0px 10px; padding-bottom: 5px">Your student, {{studentName}} has ended the {{subscriptionName}} subscription with you. Please note, all the sessions under this subscription are canceled. </div>

    <div style="border: 1px solid #32c2bb; padding:23px 6% 13px; margin-bottom:25px;">
    
         <p style="margin:0 0 10px 0"><b>Subscription Name:</b>{{subscriptionName}}</p>
         <p style="margin:0 0 10px 0"><b>Purchased Hours:</b>{{totalHours}}</p>
         <p style="margin:0 0 10px 0"><b>Consumed Hours:</b>{{consumedHours}}</p>
        <!--  <p style="margin:0 0 10px 0"><b>Remaining Hours:</b>{{remainingHours}} </p>
         <p style="margin:0 0 10px 0; "><b>Per Hour Rate:</b>Rs. {{perHourPrice}}</p> -->
         <p style="margin:0 0 10px 0; "><b>Refund Amount:</b>Rs. {{refundAmount}}</p>
    </div>

    <div style="margin: 10px 0px 10px; padding-bottom: 5px">Here is the reason stated by the student for ending the subscription: {{refundReason}} </div>
    
    <div>
	<div style="padding: 15px 8% 40px;">V are here for you. Let us know if you need anything else. You can catch us on {{displayMobileNumber}} or email us at <a href="mailto:{{displayEmailId}}">{{displayEmailId}}</a> </div>
	<div style="padding: 5px 8% 0px">Academically Yours,</div>
	<div style="padding: 5px 8% 40px">Team V</div>
    </div>