    <b>Hi {{teacherName}},</b><br>
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">A student {{studentName}} ({{studentPhoneNo}}) requested for {{subscriptionName}} subscription with you as per the following details - </div>
	
	<div style="border: 1px solid #32c2bb; padding:23px 6% 13px; margin-bottom:25px;">
         <p style="margin:0 0 10px 0"><b>Student Name: </b> {{studentName}}</p>
         <p style="margin:0 0 10px 0"><b>Subscription Name: </b> {{subscriptionName}}</p>
         <p style="margin:0 0 10px 0; "><b>Purchased Hours: </b> {{totalHours}}</p>
         <p style="margin:0 0 10px 0; "><b>Total Cost: </b> INR {{amount}}</p>
    </div>
    
    <div style="margin: 10px 0px 10px; padding-bottom: 5px">
	However, you have declined the request as per following reason: <br/>
	 {{refundReason}}
	</div>
	
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">
	We have refunded the entire subscription amount (INR {{refundAmount}}) to Student's Vedantu wallet. 
	</div>
    
    <div style="margin: 10px 0px 10px; padding-bottom: 5px">
	We suggest you to get in touch with the student in case you change your mind.  
	</div>
    
	<div style="margin: 15px 0px 40px;">V are here for you. Let us know if you need anything else. You can catch us on {{displayMobileNumber}} or email us at <a href="mailto:{{displayEmailId}}">{{displayEmailId}}</a> </div>
	<div style="margin: 5px 0px 0px">Academically Yours,</div>
	<div style="margin: 5px 0px 40px">Team V</div>