    <b>Hi {{studentName}},</b><br>
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">You have just purchased a subscription for {{subscriptionName}} with the teacher, {{teacherName}}. We have received the payment made as per following details - </div>
    
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">
	Payment details - INR {{amount}}, paid on {{dateTime}}
	</div>
    
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">
	<b>Please note your subscription is awaiting the teacher's approval.</b> You can expect a revert from {{teacherName}} ({{teacherExtNo}}) within next 24 hours.
	</div>
	
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">
	Here are the details of the purchased subscription - 
	</div>
	
	<div style="border: 1px solid #32c2bb; padding:23px 6% 13px; margin-bottom:25px;">
         <p style="margin:0 0 10px 0"><b>Teacher Name:</b> {{teacherName}}</p>
         <p style="margin:0 0 10px 0"><b>Subscription Name:</b> {{subscriptionName}}</p>
         <p style="margin:0 0 10px 0; "><b>Purchased Hours:</b> {{totalHours}}</p>
<!--         <p style="margin:0 0 10px 0; "><b>Total Cost:</b> INR {{amount}}</p>-->
    </div>
    
    <div style="margin: 10px 0px 10px; padding-bottom: 5px">
We recommend students to discuss the convenient time slots with their teacher. You can schedule your sessions as soon as your teacher accepts the subscription.</div>

	<div style="margin: 15px 0px 40px;">V are here for you. Let us know if you need anything else. You can catch us on {{displayMobileNumber}} or email us at <a href="mailto:{{displayEmailId}}">{{displayEmailId}}</a> </div>
	<div style="margin: 5px 0px 0px">Academically Yours,</div>
	<div style="margin: 5px 0px 40px">Team V</div>
