    <b>Hi {{teacherName}},</b><br>
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">A student, {{studentName}} ({{studentPhoneNo}}) purchased the {{subscriptionName}} subscription with you as per the following details - </div>
	
	<div style="border: 1px solid #32c2bb; padding:23px 6% 13px; margin-bottom:25px;">
         <p style="margin:0 0 10px 0"><b>Student Name: </b> {{studentName}}</p>
         <p style="margin:0 0 10px 0"><b>Subscription Name: </b> {{subscriptionName}}</p>
         <p style="margin:0 0 10px 0; "><b>Purchased Hours: </b> {{totalHours}} hrs</p>
         <p style="margin:0 0 10px 0; "><b>Total Cost: </b> INR {{amount}}</p>
    </div>
    
    <div style="margin: 10px 0px 10px; padding-bottom: 5px">
	However, the student has changed {{his/her}} mind and has cancelled the subscription while the request was awaiting your approval. 
	</div>
	
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">
	The student has cited following reason for cancellation -  <br/>
	{{refundReason}}
	</div>
	
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">
	We suggest you to get in touch with the students and take immediate action on the subscription requests to avoid any such request cancellations.
	</div>
    
	<div style="margin: 15px 0px 40px;">V are here for you. Let us know if you need anything else. You can catch us on {{displayMobileNumber}} or email us at <a href="mailto:{{displayEmailId}}">{{displayEmailId}}</a> </div>
	<div style="margin: 5px 0px 0px">Academically Yours,</div>
	<div style="margin: 5px 0px 40px">Team V</div>