    <b>Hi {{teacherName}},</b><br>
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">You have a new student to teach now! Student, {{studentName}}, has purchased the {{subscriptionName}} 1-to-1 subscription with you. Please call the student to finalise your schedule. 
 </div>
    
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">Here are the details of your student's subscription for you -</div>
    
	<div style="border: 1px solid #32c2bb; padding:23px 6% 13px; margin-bottom:25px;">
    
         <p style="margin:0 0 10px 0"><b>Student Name:</b> {{studentName}}</p>
         <p style="margin:0 0 10px 0"><b>Subscription Name:</b> {{subscriptionName}}</p>
        <!--  <p style="margin:0 0 10px 0"><b>Starts from:</b>{{startDate}}</p>
         <p style="margin:0 0 10px 0"><b>Duration:</b>{{weeks}} week(s)</p>
         <p style="margin:0 0 10px 0"><b>Hours Per Week:</b>{{hoursPerWeek}} </p> -->
         
        <div style="border-top:1px solid #eee; margin-top:15px; padding-top:15px">
         <p style="margin:0 0 10px 0; "><b>Purchased Hours:</b>{{totalHours}} hrs</p>
         <p style="margin:0 0 10px 0; "><b>Price:</b>Rs.{{price}}</p>
        </div>

    </div>
    
	
	<!-- You can also see your entire schedule under {{mySubscriptionsLink}} section once you login to your account on Vedantu.  -->
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">
	We wish you fun-filled LIVE learning experience with Vedantu, your personal teacher online.	
	</div>
    
	<div style="margin: 15px 0px 40px;">V are here for you. Let us know if you need anything else. You can catch us on {{displayMobileNumber}} or email us at <a href="mailto:{{displayEmailId}}">{{displayEmailId}}</a> </div>
	<div style="margin: 5px 0px 0px">Academically Yours,</div>
	<div style="margin: 5px 0px 40px">V</div>
