    <b>Hi {{teacherName}},</b><br>
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">Student, {{studentName}}({{studentPhoneNo}}), has purchased {{subscriptionName}} 1-to-1 subscription with you and is waiting for your approval. 
In case, you fail to accept the request, it'll expire automatically after 24 hours and the amount paid will be refunded. </div>
    
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">
	Here are the details of your student's subscription & payment details for you -
	</div>
	
	<div style="border: 1px solid #32c2bb; padding:23px 6% 13px; margin-bottom:25px;">
         <p style="margin:0 0 10px 0"><b>Student Name:</b> {{studentName}}</p>
         <p style="margin:0 0 10px 0"><b>Subscription Name:</b> {{subscriptionName}}</p>
         <p style="margin:0 0 10px 0; "><b>Purchased Hours:</b> {{totalHours}} </p>
<!--         <p style="margin:0 0 10px 0; "><b>Total Cost:</b> INR {{amount}}</p>-->
    </div>
    
    <div style="margin: 10px 0px 10px; padding-bottom: 5px">
		We recommend you to call student and dsicuss the convenient time slots. This will help them to start learning immediately with you. Do take action on the request within stipulated time to avoid any inconvenience for your student.
    </div>

	<div style="margin: 15px 0px 40px;">V are here for you. Let us know if you need anything else. You can catch us on {{displayMobileNumber}} or email us at <a href="mailto:{{displayEmailId}}">{{displayEmailId}}</a> </div>
	<div style="margin: 5px 0px 0px">Academically Yours,</div>
	<div style="margin: 5px 0px 40px">Team V</div>
