    <b>Hi {{studentName}},</b><br>
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">You have just purchased a subscription for {{subscriptionName}} with the teacher, {{teacherName}}.</div>
    
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">Here are the details of your subscription - </div>
    
	<div style="border: 1px solid #32c2bb; padding:23px 6% 13px; margin-bottom:25px;">
    
         <p style="margin:0 0 10px 0"><b>Teacher Name:</b> {{teacherName}}</p>
         <p style="margin:0 0 10px 0"><b>Subscription Name:</b> {{subscriptionName}}</p>
         
        <div style="border-top:1px solid #eee; margin-top:15px; padding-top:15px">
         <p style="margin:0 0 10px 0; "><b>Purchased Hours:</b>{{totalHours}}</p>
         <p style="margin:0 0 10px 0; "><b>Total Cost:</b> INR {{price}} <span style="font-size:13px">(Excluding all offers if applicable)</span></p>
        </div>

    </div>
    
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">
	You can now go and schedule your sessions under [<a href ={{mySubscriptionsLink}}>my subscriptions</a>] section once you login to your account on Vedantu. 
	We wish you fun-filled LIVE learning experience with Vedantu, your personal teacher online.	
	</div>
    
	<div style="margin: 15px 0px 40px;">V are here for you. Let us know if you need anything else. You can catch us on {{displayMobileNumber}} or email us at <a href="mailto:{{displayEmailId}}">{{displayEmailId}}</a> </div>
	<div style="margin: 5px 0px 0px">Academically Yours,</div>
	<div style="margin: 5px 0px 40px">V</div>
