


<div style="margin: 20px 0px;">Dear Team,<br>

    Please help the user with the following query:</div>

<div >User Mobile: {{phoneNumber}}</div>
<div >User Email: {{emailId}}</div>
<div style="margin-top: 22px;">Query: {{{message}}}</div>

<div style="margin-top: 40px;">Have a good day!</div>
<div style="margin-bottom: 70px;">Team Vedantu</div>


