    <b>Hi {{teacherName}},</b><br>
    <div style="margin: 10px 0px 10px; padding-bottom: 5px">
    This is a reminder for you!
    </div>
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">A student {{studentName}} ({{studentPhoneNo}}) has purchased {{subscriptionName}} subscription with you on {{dateTime}}. Here are the details of student's subscription - </div>
	
	<div style="border: 1px solid #32c2bb; padding:23px 6% 13px; margin-bottom:25px;">
         <p style="margin:0 0 10px 0"><b>Student Name: </b> {{studentName}}</p>
         <p style="margin:0 0 10px 0"><b>Subscription Name: </b> {{subscriptionName}}</p>
         <p style="margin:0 0 10px 0; "><b>Purchased Hours: </b> {{totalHours}}</p>
         <p style="margin:0 0 10px 0"><b>Hours Per Week: </b> {{hoursPerWeek}} </p>
         <p style="margin:0 0 10px 0; "><b>Total Cost: </b> INR {{amount}}</p>
    </div>
    
    <div style="margin: 10px 0px 10px; padding-bottom: 5px">
	The request is still pending for your approval. In case you fail to take action in next 2 hours, Student's subscription will expire and the entire amount will be refunded to his/her Vedantu wallet. 
	</div>
	
    <div style="margin: 10px 0px 10px; padding-bottom: 5px">
	We request you to take immediate action on the request and make the situation clear for the student. 
	</div>
    
	<div style="margin: 15px 0px 40px;">V are here for you. Let us know if you need anything else. You can catch us on {{displayMobileNumber}} or email us at <a href="mailto:{{displayEmailId}}">{{displayEmailId}}</a> </div>
	<div style="margin: 5px 0px 0px">Academically Yours,</div>
	<div style="margin: 5px 0px 40px">Team V</div>