    <b>Hi {{teacherName}},</b><br>
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">There was a session scheduled under {{subscriptionName}} 1-to-1 subscription with student {{studentName}} for {{date}} at {{time}}. We want to inform you that {{studentName}} has canceled the session. 
 </div>
    
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">Student has cited following reason for the cancellation </div>
    <div style="margin: 10px 0px 10px; padding-bottom: 5px">{{reason}}</div>
    <div style="margin: 10px 0px 10px; padding-bottom: 5px">We suggest you get in touch with {{studentName}} over phone {{studentPhoneNo}} to schedule the session at an alternate time.</div>
    
	<div style="margin: 15px 0px 40px;">V are here for you. Let us know if you need anything else. You can catch us on {{displayMobileNumber}} or email us at <a href="mailto:{{displayEmailId}}">{{displayEmailId}}</a> </div>
	<div style="margin: 5px 0px 0px">Academically Yours,</div>
	<div style="margin: 5px 0px 40px">V</div>