    <b>Hi {{studentName}},</b><br>
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">Your teacher, {{teacherName}}, invited you to take up a session under {{subscriptionName}} 1-to-1 subscription, but changed his mind. The teacher has already canceled the request. Your teacher will get in touch with you for this session with a new schedule. Meanwhile you can also get in touch with the teacher to take this ahead.
 
 </div>
    
	<div style="margin: 15px 0px 40px;">V are here for you. Let us know if you need anything else. You can catch us on {{displayMobileNumber}} or email us at <a href="mailto:{{displayEmailId}}">{{displayEmailId}}</a> </div>
	<div style="margin: 5px 0px 0px">Academically Yours,</div>
	<div style="margin: 5px 0px 40px">Team V</div>