<b>Hi {{studentName}},</b><br>
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">Your teacher, {{teacherName}}, has ended the {{subscriptionName}} subscription with you. Please note all your scheduled session(s) under the subscription are canceled. </div>
    
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">You shall soon receive refund in your vedantu wallet. Please note that the refund will be made after deducting the value of your consumed hours on pro-rata basis. Here are more details on refund calculation and amount. </div>
    
	<div style="border: 1px solid #32c2bb; padding:23px 6% 13px; margin-bottom:25px;">
    
         <p style="margin:0 0 10px 0"><b>Subscription Name:</b>{{subscriptionName}}</p>
         <p style="margin:0 0 10px 0"><b>Purchased Hours:</b>{{totalHours}}</p>
         <p style="margin:0 0 10px 0"><b>Consumed Hours:</b>{{consumedHours}}</p>
        <!--  <p style="margin:0 0 10px 0"><b>Remaining Hours:</b>{{remainingHours}} </p>
         <p style="margin:0 0 10px 0; "><b>Per Hour Rate:</b>Rs. {{perHourPrice}}</p> -->
         <p style="margin:0 0 10px 0; "><b>Refund Amount:</b>Rs. {{refundAmount}}</p>
        </div>

         <div style="margin: 10px 0px 10px; padding-bottom: 5px">Here is the reason stated by the teacher for ending the subscription: {{refundReason}} </div>

    <div>
	<div style="padding: 15px 8% 40px;">V are here for you. Let us know if you need anything else. You can catch us on {{displayMobileNumber}} or email us at <a href="mailto:{{displayEmailId}}">{{displayEmailId}}</a> </div>
	<div style="padding: 5px 8% 0px">Academically Yours,</div>
	<div style="padding: 5px 8% 40px">Team V</div>
    </div>