<div style="padding: 35px 8% 25px; min-height: 300px">
	<b>Hey {{teacherName}},</b><br>
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">
           A student, {{studentName}}({{studentPhoneNo}}), has chosen you to take up our 
                three-session challenge. {{studentName}} has scheduled sessions under this challenge as per the following details -
        </div>
	<div style="margin: 10px 0px 5px; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding-left: 15px;">
            <table>
                <thead>
                    <tr>
                        <th style="border-right: 1px solid #CCC;">Title</th>
                        <th style="border-right: 1px solid #CCC;">Start Time</th>
                        <th>Duration</th>
                    </tr>
                </thead>
                <tbody>
                    {{#sessions}}
                    <tr>
                        <td style="padding-right: 6px;border-right: 1px solid #CCC;font-weight: bold;">Session {{index}}</td>
                        <!--<td>{{title}}</td>-->
                        <td style="padding:0 6px;border-right: 1px solid #CCC;font-size:13px;">{{startTime}}</td>
                        <td>1 Hour</td>
                    </tr>
                    {{/sessions}}
                </tbody>
            </table>
	</div>
        <p style="margin:0 0 10px 0"><b>Note from Student:</b>
            {{#note}}
                <span style="font-size: 13px;color:#333;">{{note}}</span>
            {{/note}}
            {{^note}}
                <span style="font-size: 12px;color:#666;font-style: italic;">Not provided</span>
            {{/note}}
         </p>
        <div style="margin: 10px 0px 10px; padding-bottom: 5px">
            We are sure, you'll make this experience nothing less than awesome for the student and make 
            him/her understand the difference of personalized attention for the academic progress.
        </div>
	<div style="margin: 15px 0px 40px;">
		V are here for you. Let us know if you need anything else. You can
		catch us on {{displayMobileNumber}} or email us at <a
			href="mailto:{{displayEmailId}}">{{displayEmailId}}</a>
	</div>

	<div style="margin: 20px 0px 0px">Happy Knowledge Sharing!</div>
	<div style="margin: 5px 0px 0px">Academically Yours,</div>
	<div style="margin: 5px 0px 40px">V</div>
</div>
