    <b>Hi {{teacherName}},</b><br>
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">You have one more student to teach now! Student, {{studentName}}'s {{subscriptionName}} 1-to-1 subscription with you is confirmed. </div>
    
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">
	Here are the details of student's subscription - 
	</div>
	
	<div style="border: 1px solid #32c2bb; padding:23px 6% 13px; margin-bottom:25px;">
         <p style="margin:0 0 10px 0"><b>Student Name:</b> {{studentName}}</p>
         <p style="margin:0 0 10px 0"><b>Subscription Name:</b> {{subscriptionName}}</p>
         <p style="margin:0 0 10px 0; "><b>Purchased Hours:</b> {{totalHours}}</p>
         <p style="margin:0 0 10px 0; "><b>Total Cost:</b> INR {{amount}}</p>
    </div>
    
    <div style="margin: 10px 0px 10px; padding-bottom: 5px">
    You can schedule your sessions under [<a href ={{mySubscriptionsLink}}>my subscriptions</a>] section once you login to your account on Vedantu. 
    </div>
    
    <div style="margin: 10px 0px 10px; padding-bottom: 5px">
    We wish you all the very best and we are sure you'll make the experience nothing less than awesome for the student! 
    </div>
    
	<div style="margin: 15px 0px 40px;">V are here for you. Let us know if you need anything else. You can catch us on {{displayMobileNumber}} or email us at <a href="mailto:{{displayEmailId}}">{{displayEmailId}}</a> </div>
	<div style="margin: 5px 0px 0px">Academically Yours,</div>
	<div style="margin: 5px 0px 40px">Team V</div>
