    <b>Hi {{studentName}},</b><br>
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">Your teacher, {{teacherName}}, has invited you to take up a session under {{subscriptionName}} 1-to-1 subscription as per the following schedule:
 </div>
    
	<div style="border: 1px solid #32c2bb; padding:23px 6% 13px; margin-bottom:25px;">
         <p style="margin:0 0 10px 0"><b>Time:</b>{{time}}</p>
         <p style="margin:0 0 10px 0"><b>Date:</b>{{date}}</p>
         <p style="margin:0 0 10px 0"><b>Duration:</b>{{duration}} mins</p>
    </div>
    
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">
	You can accept the suggested schedule by clicking here- {{mySubscriptionLink}}
	You've also received a note along with the invite by your teacher {{reason}}
	</div>
    
	<div style="margin: 15px 0px 40px;">V are here for you. Let us know if you need anything else. You can catch us on {{displayMobileNumber}} or email us at <a href="mailto:{{displayEmailId}}">{{displayEmailId}}</a> </div>
	<div style="margin: 5px 0px 0px">Academically Yours,</div>
	<div style="margin: 5px 0px 40px">Team V</div>