<b>Hi {{studentName}},</b><br>
<div style="margin:20px 0px 20px; ">Your subscription for {{subscriptionName}} with {{teacherName}} is approved by the teacher. Here are the details of your subscription -</div>
<p style="margin:0; padding:0; ">Teacher Name: <b>{{teacherName}}</b></p>
<p style="margin:5px 0 0 ; padding:0; ">Subscription Name: <b>{{subscriptionName}}</b></p>

<table style="border:1px solid #ccc; border-bottom:0; margin:25px 0 0 ; color:#555; font-size:13px" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td style="padding:10px 3%; border-bottom:1px solid #ddd; color:#333; background:#f2f2f2; " >Monthly Payment Due date</td>
            <td style="padding:10px 3%; border-bottom:1px solid #ddd; color:#333;background:#f2f2f2; " >Hours Scheduled</td>
            <td style="padding:10px 3%; border-bottom:1px solid #ddd; color:#333;  background:#f2f2f2;" >Amount</td>
        </tr>
        {{#instalments}}
        <tr>
            <td style="padding:10px 3%; border-bottom:1px solid #ccc; font-weight:bold;" >{{dueDate}}</td>
            <td style="padding:10px 3%; border-bottom:1px solid #ccc; font-weight:bold;" >{{hours}}</td>
            <td style="padding:10px 3%; border-bottom:1px solid #ccc; font-weight:bold;" >{{totalAmount}} <span style="font-weight:normal; color:#50AE10; font-size:12px">({{paymentStatusStr}})</span></td>
        </tr>
        {{/instalments}}
    </tbody>
</table>
<div style="background:#f7dbd0; padding:15px; font-size:13px ">Total Subscription Amount = <b>INR {{hoursCost}} + INR {{security}}</b> <span style="color:#888; font-size:12px">(Refundable Security Deposit)</span></div>


<div style="margin:20px 0px 10px;">You can also see your entire schedule under <a href="{{subscriptionLink}}" style="color:#0099cc; text-decoration:none">{{subscriptionName}}</a> section once you login to your account on Vedantu. We request you to check your schedule carefully, a few sessions might be rescheduled by your teacher in case of calendar conflicts. You will be able to manage your subscriptions and make the monthly payments from this page itself.</div>
<div style="margin:20px 0px 10px;">We wish you fun-filled LIVE learning experience with Vedantu, your personal teacher online.</div>
<div style="margin:20px 0px 10px;">V are here for you. Let us know if you need anything else. You can catch us on 1800-120-456-456 or email us at <a style="text-decoration:none; color:#0099cc;" href="mailto:vcare@vedantu.com">vcare@vedantu.com</a></div>

<div style="margin:20px 0px 0px">Academically Yours,</div>
<div style="margin:5px 0px 40px">Team V</div>



