<div style="padding: 35px 8% 25px; min-height: 300px;line-height:1.4em;">
    <b>Hi Admin,</b><br>
    <div style="margin: 10px 0px 10px; padding-bottom: 5px">
        This is to notify you that,
        Teacher <b>{{teacherName}}[{{teacherId}}]'s</b> profile has been updated
        by <b>{{callerUserRole}}: {{callerUserName}} [{{callerUserId}}]</b>.
    </div>
    
    
    <div style="margin:10px 0px 15px">
        <table border='1' cellspacing='0' cellpadding='5'>
            <thead>
                <tr>
                    <th>Field Type</th>
                    <th>Old Value</th>
                    <th>New Value</th>
                </tr>
            </thead>
            <tbody>
                {{#diffData}}
                <tr>
                    <td>{{key}}</td>
                    {{#value}}
                    <td>{{key}}</td>
                    <td>{{value}}</td>
                    {{/value}}
                </tr>
                {{/diffData}}
            </tbody>
        </table>
    </div>
    
    <div style="margin: 10px 0px 10px; padding-bottom: 5px">
        <div style="margin: 20px 0px 10px">Yours,</div>
        <div style="margin: 10px 0px 40px">Team RDX</div>
    </div>
</div>