<div style="padding: 35px 8% 25px; min-height: 300px;line-height:1.4em;">
    <b>Hi Admin,</b><br>
    <div style="margin: 10px 0px 10px; padding-bottom: 5px">
        This is to notify you that,
        Teacher <b>{{teacherName}}[{{teacherId}}]'s</b> subject mapping been updated ({{changeType}})
        by <b>{{callerUserRole}}: {{callerUserName}} [{{callerUserId}}]</b>.
    </div>
    
    
    <div style="margin:10px 0px 15px;">
        Board mapping: [Subject: <b>{{subjectName}}</b>, Grade: <b>{{grade}}</b>, Category: <b>{{category}}</b>]
        has been <b>{{changeType}}</b>
    </div>
    
    <div style="margin: 10px 0px 10px; padding-bottom: 5px">
        <div style="margin: 20px 0px 10px">Yours,</div>
        <div style="margin: 10px 0px 40px">Team RDX</div>
    </div>
</div>