
<b>Hi {{name}}</b>
<br>
<div style="margin: 10px 0px 10px; padding-bottom: 10px">
	You have attempted the test <b>{{title}}</b> on date <b>{{lastUpdated}}</b>.
	Here is a summary of the test attempt:
</div>


<div style="margin:10px 0px 25px;text-align:left;line-height:1.3em;font-size:13px">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
                <tr>
                    <td style="border:1px solid #ccc">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="text-align:left">
                            <tbody>
                                <tr>
                                    <th style="width:33%;padding:7px 10px;border-right:1px solid #ccc;height:45px" scope="row">Total Questions</th>
                                    <td style="padding:7px 10px;color:#666">{{totalQuestionsCount}}</td>
                                </tr>
                                <tr>
                                    <th style="width:33%;padding:7px 10px;border-top:1px solid #ccc;border-right:1px solid #ccc;height:45px" scope="row">Questions Attempted</th>
                                    <td style="padding:7px 10px;color:#666;border-top:1px solid #ccc">{{attemptedQuestionsCount}}</td>
                                </tr>
                                <tr>
                                    <th style="width:33%;padding:7px 10px;border-top:1px solid #ccc;border-right:1px solid #ccc;height:45px" scope="row">Correct Attempts</th>
                                    <td style="padding:7px 10px;color:#666;border-top:1px solid #ccc">{{correctAnswersCount}}</td>
                                </tr>
                                <tr>
                                    <th style="width:33%;padding:7px 10px;border-top:1px solid #ccc;border-right:1px solid #ccc;height:45px" scope="row">Wrong Attempts</th>
                                    <td style="padding:7px 10px;color:#666;border-top:1px solid #ccc">{{wrongAnswersCount}}</td>
                                </tr>
                                <tr>
                                    <th style="width:33%;padding:7px 10px;border-top:1px solid #ccc;border-right:1px solid #ccc;height:45px" scope="row">Total Marks</th>
                                    <td style="padding:7px 10px;color:#666;border-top:1px solid #ccc">{{totalMaxMarks}}</td>
                                </tr>
                                <tr>
                                    <th style="width:33%;padding:7px 10px;border-top:1px solid #ccc;border-right:1px solid #ccc;height:45px" scope="row">Marks Scored</th>
                                    <td style="padding:7px 10px;color:#666;border-top:1px solid #ccc">{{marksAchieved}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
        </tbody>
    </table>

</div>



<div style="margin: 15px 0px 50px; text-align: center; color: #e6632f;">
	You can view the detailed results <a
		style="text-decoration: underline; color: #0370CB" href="{{testLink}}">here</a>
</div>
<div style="margin: 20px 0px 0px">Academically Yours,</div>
<div style="margin: 5px 0px 40px">Team Vedantu.</div>
