<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Untitled Document</title>
</head>

<body>
<div>
    <div
            style="margin:0px auto; font-family:arial; font-size: 14px;  padding-bottom:30px; max-width:600px; background-color: #fff; color: #333; line-height: 24px;"
    >
        <a href="#" style="display: block; text-decoration: none; ">
            <img
                    style="width: 100%"
                    src="
                    https://vmkt.s3-ap-southeast-1.amazonaws.com/revise-jee/logo.jpg"
            />
        </a>
        <div
                style="margin: 32px auto 0; max-width: 85%; font-size: 16px; line-height: 24px; color: #333;"
        >
            <div style="margin-bottom: 16px;"><strong>Dear {{studentName}},</strong></div>
            <div style="margin-bottom: 16px;">Thank You for giving your JEE rank predictor test. Basis your score your predicted JEE rank range is <b>{{predictedRankRange}}</b></div>
            <div style="margin-bottom: 2px;">
                Your detailed test score is as below:
            </div>
            <div style="margin-bottom: 0px;">
                <b>Physics Score : {{physicsScore}}</b>
            </div>
            <div style="margin-bottom: 20px;">
                Correct : {{physicsC}} | Wrong : {{physicsW}} | Unattempted : {{physicsU}}
            </div>
            <div style="margin-bottom: 0px;">
                <b>Chemistry Score : {{chemistryScore}}</b>
            </div>
            <div style="margin-bottom: 20px;">
                Correct : {{chemistryC}} | Wrong : {{chemistryW}} | Unattempted : {{chemistryU}}
            </div>
            <div style="margin-bottom: 0px;">
                <b>Maths Score : {{mathsScore}}</b>
            </div>
            <div style="margin-bottom: 20px;">
                Correct : {{mathsC}} | Wrong : {{mathsW}} | Unattempted : {{mathsU}}
            </div>
            <div style="margin-bottom: 0px;">
                Did you know you can boost your JEE rank?
            </div>
            <div style="margin-bottom: 26px;">
                Revise your entire syllabus in 5 days by attending revision classes for JEE from 1 Apr - 5 Apr.
            </div>
            <div style="margin-bottom: 10px;">
                Team Vedantu
            </div>
            <div style="text-align: center; margin-top: 35px;">
                <a
                        href="https://www.vedantu.com/revise-india-jee"
                        style="display: inline-block; background-color: #ff6200; font-size: 16px; text-transform: uppercase; padding: 16px 40px; color: #fff; text-decoration: none; border-radius: 50px; font-weight: bold"
                >Attend Class</a
                >
            </div>
        </div>
    </div>
</div>
</body>
</html>
