    <b>Hi {{studentName}},</b><br>
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">You requested to take up a trial session for {{subject}} with teacher, {{teacherName}} on {{date}} at {{time}}. Unfortunately, the teacher can not take up the session at the scheduled time and thus has canceled the session.
 
 </div>
<div style="margin: 10px 0px 10px; padding-bottom: 5px">Here is the reason cited by your teacher for the cancellation </div>
    <div style="margin: 10px 0px 10px; padding-bottom: 5px">{{reason}}</div>

    <div style="margin: 10px 0px 10px; padding-bottom: 5px">We suggest you to get in touch with the teacher to schedule the session at an alternate time.</div>
    
	<div style="margin: 15px 0px 40px;">V are here for you. Let us know if you need anything else. You can catch us on {{displayMobileNumber}} or email us at <a href="mailto:{{displayEmailId}}">{{displayEmailId}}</a> </div>
	<div style="margin: 5px 0px 0px">Happy Learning,</div>
	<div style="margin: 5px 0px 0px">Academically Yours,</div>
	<div style="margin: 5px 0px 40px">Team V</div>