<b>Great
                        news!</b>

                    <div style="margin: 20px 0px;">Below are the teachers who did not mark the calendar for next 7 days</div>
                    <div>EmailIds: {{{emailIds}}}</div>
                    <div style="margin-top: 40px;">Academically Yours,</div>
                    <div style="margin-bottom: 70px;">Team Vedantu</div>