<b>Hey Admin,</b>
<br>
<div style="margin: 20px 0px;"><b>We have received a pricing change request from {{teacherName}}</b></div>
<div style="margin: 20px 0px;">
    Email: {{teacherEmail}} <br>
    UserId: {{teacherId}}
</div>
<div style="margin-bottom: 5px;">
    Here are the details of changes requested
</div>
<table style="width:100%;border-collapse: collapse;font-size: 13px;word-wrap: break-word;text-align: center;">
    <thead>
        <tr>
            <th style="border: 1px solid #ccc;padding: 5px 0;">Hours</th>
            <th style="border: 1px solid #ccc;padding: 5px 0;">Rate(Rs.)</th>
        </tr>
    </thead>
    <tbody>
        {{#reqPlans}}
        <tr> <!-- Loop Here -->                    
            <td style="border: 1px solid #ccc;padding: 5px 0;">
                {{hours}}
            </td>
            <td style="border: 1px solid #ccc;padding: 5px 0;">
                {{rate}}
            </td>
        </tr>
        {{/reqPlans}}
    </tbody>
</table>
<div style="margin: 20px 0px;">
    Please make the changes at the earliest and latest by {{expectedDate}} and send a notification to the teacher once the changes are visible on the profile.
</div>

<div style="margin-top: 40px;">Academically Yours,</div>
<div style="margin-bottom: 70px;">Team Vedantu</div>

