<b>Hey {{teacherName}},</b>
<br>
<div style="margin: 10px 0px 10px; padding-bottom: 10px">
    We have received your pricing change request on {{requestDate}}
</div>
<div style="margin: 10px 0px 10px; padding-bottom: 10px">
    Although we will try to make these changes as soon as we receive them, 
    however it might take a maximum of 48-hours from the date of request to reflect on your profile.
    <br>
    We'll notify you as soon as the changes are visible on your profile. You can shoot us an email at 
    <a target="_blank" style="text-decoration: underline; color: #0370CB"
        href="mailto:teacher.care@vedantu.com">teacher.care@vedantu.com</a>
</div>

<div style="margin: 20px 0px 0px">Happy Knowledge Sharing!</div>
<div style="margin: 20px 0px 0px">Academically Yours,</div>
<div style="margin: 5px 0px 40px">Team V</div>