<div style="padding: 35px 8% 25px; min-height: 300px;line-height:1.4em;">
	<b>Hi {{teacherName}}!</b><br>
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">
		Hi! It seems like {{teacherName}} (teacher) has not updated the curriculum status after their last class for course - {{courseName}}.
		It is been more than 4 hours. Please go ahead and update it. This is super important, as the assignments are shared with the students
		on the basis of that.
	</div>
	<div style="margin: 20px 0px 10px">
		You can update the curriculum from <a href="{{shortenedURL}}">here</a>
	</div>
	
	<div style="margin: 10px 0px 10px">Happy Teaching,</div>
	<div style="margin: 10px 0px 40px">Vedantu Academic Team</div>
</div>
