
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><META http-equiv="Content-Type" content="text/html; charset=utf-8"></head><body>




        <div>
            <div>
                <div style="background-color:#ffffff">
                    <div style="margin:0px auto;font-family:arial;padding-bottom:30px;padding-top:45px;background-color:#f5f5f5">
                        <div style="margin:0px auto;font-family:arial;max-width:600px;background-color:#ffffff">
                            <div style="text-align:center;color:#ffffff;font-size:40px"><img width="100%" alt="International School League" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/feb/ISL_17_letter_header.jpg"></div>
                            <div style="font-size:14px;line-height:22px;background-color:#ffffff;color:#444444">
                                <div style="padding:35px 7% 25px;min-height:300px"><b>Hey,</b>
                                    <div style="margin-top:10px">Your child {{studentName}} has been <b>successfully Registered</b> for the Biggest Online Global Aptitude Challenge for students - <b>The International Student League 2017-18 (ISL)</b>.</div>
                                    <div style="margin-top:15px">ISL Test Date: <b>Wednesday, 15th Nov, 2017</b>.</div>
                                    <div style="margin: 15px 0;">
                                        <strong>ISL Test Time:</strong> <span style="color: #e6632f;"> India Time: 7pm </span>; Dubai Time: 5:30pm ; Saudi Arabia Time: 4:30pm  
                                    </div>
                                    <div style="height:1px;background-color:#999999;margin:20px 0"></div>
                                    <div style="margin-top:15px">
                                        Use your Vedantu login ID &amp; Password to login to ISL website <a style="text-decoration:none;color:#009999" href="https://isl.vedantu.com/?utm_source=vedantu_website_isl_link&amp;utm_term=direct" target="_blank">(www.vedantu.com/isl)</a> <br>
                                        <b>Your Login ID :</b> {{studentEmail}}<br>

                                    </div>
                                    <div style="color:#e6632f;padding-top:15px;font-style:italic">
                                        Note: This login ID &amp; password is required to attempt the main ISL test on 15th Nov, 2017
                                    </div>
                                    <div style="height:1px;background-color:#999999;margin:20px 0"></div>

                                    <div style="margin-top:15px">
                                        ISL Test is not just about the final test on 15th Nov, 2017. You can now login to ISL Website - <a style="text-decoration:none;color:#009999" href="https://isl.vedantu.com/?utm_source=vedantu_website_isl_link&amp;utm_term=direct" target="_blank">(www.vedantu.com/isl)</a> for the following:
                                    </div>

                                    <ul>
                                        <li><b>Daily Challenges </b>- attempt challenge, earn points, compete with students from across the world, see your position live on the leaderboard - <b>win an Amazon Kindle every week</b>.</li>
                                        <li style="padding-top:10px"><b>ISL Mock Tests</b> - prepare yourself for the final ISL test.</li>
                                        <li style="padding-top:10px"><b>ISL Webinars by expert IITians</b> - Get an edge over other participants by learning special concepts and tips &amp; tricks to crack ISL</li>
                                        <li style="padding-top:10px">Regular updates and notifications around the ISL test.</li>
                                        <li style="padding-top:10px">Sample questions and videos to prepare for the final ISL test.</li>
                                    </ul>


                                    <div>For any queries related to ISL, don’t hesitate to reach us at <a style="text-decoration:none" href="mailto:isl@vedantu.com" target="_blank">isl@vedantu.com</a>. </div>
                                    <div style="margin-top:30px">
                                        It is going to be the biggest battle of the brains. Stay tuned in and stay sharp!
                                    </div>

                                    <div style="margin:5px 0px 30px"><b>Team ISL</b></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body></html>