<b>Great news!</b>

<div style="margin: 20px 0px;">We got a message from a user. Have
	a look:</div>
<div style="margin-top: 20px;">Name : {{name}}</div>
<div style="margin-top: 20px;">Mobile Number : {{mobileNumber}}</div>
<div style="margin-top: 20px;">Email-Id : {{emailId}}</div>
<div style="margin-top: 20px;font-weight:bold;">Message Type : {{messageType}}</div>
<div style="margin-top: 22px;">Message : {{{message}}}</div>
<div style="margin-top: 20px;font-weight:bold;">{{sessionTimeText}}</div>

<div style="margin-top: 20px;">{{{extraInfoHtml}}}</div>
<div></div>
<div>{{{attachmentHtml}}}</div>
<div></div>

<div style="margin-top: 40px;">Academically Yours,</div>
<div style="margin-bottom: 70px;">Team Vedantu</div>