<div style="background:#eee">
    <div style="max-width:640px;margin:0 auto;background:#fff;font-family:Arial,sans-serif;line-height:1.4em">
        <a href="#"><img style="width:100%;display:inline-block" src="https://vmkt.s3-ap-southeast-1.amazonaws.com/Faheem/vsatMailer/Resultv4_min.jpg" alt=""></a>

        <div style="max-width:530px;margin:0 auto;text-align:left;color:#333;padding:0 8%;font-size:16px">

            <div style="margin:40px 0 0">


                <div style="font-weight:bold;margin-bottom:16px">Hi {{name}},</div>

                <div style="margin-bottom:32px">Congratulations on the successful completion of the Vedantu Scholarship Admission Test (VSAT), we would like to thank you and 20000+ students like you who participated in VSAT'20. You surely have made us proud, here's a copy of your FREE detailed analysis report based on your performance in the test.

                </div>

                <br><br>

                <table style="text-align:center" width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                        <td style="height:4px;border:1px solid #eee;border-left:0;border-right:0;vertical-align:middle;display:inline-block;width:127px"></td>
                        <td style="width:260px;display:inline-block;vertical-align:middle">
                            <img style="display:inline-block;width:56px;vertical-align:middle" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/vsat19_trophy.jpg" alt="">
                            <div style="display:inline-block;text-transform:uppercase;text-align:left;vertical-align:middle;padding:3px 0 0"><strong>Your Performance</strong><br>In Vsat 2020</div>
                        </td>
                        <td style="height:4px;border:1px solid #eee;border-left:0;border-right:0;vertical-align:middle;display:inline-block;width:127px"></td>
                    </tr>
                    </tbody>
                </table>


                <table style="max-width:520px;margin:0 auto;padding:24px 8% 40px;text-align:center" width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                        <td style="font-family:Arial,sans-serif;border:1px solid;border-color:#4b4261;display:inline-block;border-radius:60px;width:110px;height:110px;padding:3px;margin:10px">
                            <div style="background-image:linear-gradient(#f3effb,#fff1e8);border-radius:60px;height:110px;text-align:center;line-height:1.8em">
                                <div style="color:#69636b;font-size:11px;padding:24px 0 0"> SCORE</div>
                                <div style="color:#222;font-size:32px;font-weight:bold">{{score}}</div>
                            </div>
                        </td>

                        <td style="font-family:Arial,sans-serif;border:1px solid;border-color:#4b4261;display:inline-block;border-radius:80px;width:130px;height:130px;padding:3px;margin:10px">
                            <div style="background-image:linear-gradient(#f3effb,#fff1e8);border-radius:80px;height:130px;text-align:center;line-height:2em">
                                <div style="color:#69636b;font-size:13px;padding:28px 0 0">VSAT RANK</div>
                                <div style="color:#222;font-size:42px;font-weight:bold">{{rank}}</div>
                            </div>
                        </td>

                        <td style="font-family:Arial,sans-serif;border:1px solid;border-color:#4b4261;display:inline-block;border-radius:60px;width:110px;height:110px;padding:3px;margin:10px">
                            <div style="background-image:linear-gradient(#f3effb,#fff1e8);border-radius:60px;height:110px;text-align:center;line-height:1.8em">
                                <div style="color:#69636b;font-size:11px;padding:20px 0 2px">TIME TAKEN</div>
                                <div style="color:#222;font-size:32px;font-weight:bold;line-height:16px">{{duration}}<br>
                                    <span style="color:#333;font-size:12px;line-height:0">MINS</span>
                                </div>
                            </div>


                        </td>
                    </tr>
                    </tbody>
                </table>
                <div style="font-size:10px;padding:0px 4%;text-align:left;border-radius:0px 0px 4px 4px;margin-bottom:0px">*Score: Normalized Score</div>
            </div>

        </div>





        <div style="margin:0 auto;text-align:left;color:#333;padding:48px 8% 100px;font-size:16px">

            As promised, you get <b>{{discount}}</b> Scholarship on Full Year Vedantu Course
            <br><br>
            Here's a specially curated course for VSAT Rankers like you

            <div style="background-color:#f5f5f5;font-size:14px;padding:32px 0 32px 32px;border-radius:4px 4px 0 0;margin:32px 0 0;line-height:2.5em">
                <div>Course Name: <strong>Full Year Long-Term Course</strong></div>
                <div>For Grade: <strong>{{grade}}</strong></div>
                <div>For Details Visit: <strong>https://www.vedantu.com</strong></div>
            </div>
            <br>



            For other personalized Vedantu courses <a href="https://www.vedantu.com/courses?utm_source=vsat_rank_email" style="color:#0099cc;text-decoration:none" target="_blank">click here.</a><br><br>
            Things don’t end here! You can also attend our Free Master Classes from India’s Best Teachers by clicking <a href="https://www.vedantu.com/masterclass/?otpRequired=true&utm_source=vsat_rank_email&utm_campaign=vsat_result_mail_29_April" style="color:#0099cc;text-decoration:none" target="_blank">here.</a><br><br>
            We wish you all the very best for your coming academic year & we will see you in our next course!<br><br>
            Wishing you all the very best & see you in our next course!
            <br><br>
            Vedantu Academic Team


        </div>
    </div>

    <div style="font-family:Arial,'sans-serif';font-size:12px;text-align:center">
        <p style="color:#999;text-decoration:none;margin:30px 0">Have questions? Feel free to write us at <a style="color:#666;text-decoration:none" href="mailto:bondwithus@vedantu.com" target="_blank">bondwithus@vedantu.com</a></p>
        <div style="max-width:252px;margin:0 auto;border-top:1px solid #ddd;padding:30px 0">
            <div style="text-transform:uppercase;letter-spacing:1px;color:#999;padding-bottom:5px">Stay Connected</div>

            <a href="http://www.facebook.com/VedantuInnovations" target="_blank"><img style="width:34px;margin:0 2px" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/facebook-icon.png" alt=""></a>

            <a href="https://twitter.com/vedantu_learn" target="_blank"><img style="width:34px;margin:0 2px" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/twitter-icon.png" alt=""></a>

            <a href="https://www.instagram.com/vedantu_learns/" target="_blank"><img style="width:34px;margin:0 2px" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/btho-ub/insta-icon.png" alt=""></a>

        </div>
    </div>




</div>