<b style="font-size: 16px;">Dear {{name}}!</b>
<div class="contentHolder">
	<div style="margin: 20px 0px;">
		You have been registered for the Webinar on <b>'{{title}}'</b>.
	</div>

	<div style="margin: 20px 0px;">
		Expert {{academicianText}}, <b>{{expertName}}</b> will run the session.
	</div>

	<div style="margin: 20px 0px;">
		<div>
			Time: <b>{{time}}</b>
		</div>
		<div>
			Date: <b>{{date}}</b>
		</div>
		<div>
			Duration: <b>{{duration}}</b>
		</div>
	</div>

	<div style="margin: 20px 0px;">We look forward to seeing you at
		the webinar. Also, Share it. Spread the word among your friends.</div>
	<div style="margin: 5px 0px; display: inline-block"></div>


	<div style="margin: 10px 0px 10px">Academically Yours,</div>
	<div style="margin: 5px 0px 40px">Team Vedantu.</div>
</div>