<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Webinar_Invi</title>
</head>

<body style="padding: 0; margin: 0">
<div style="background-color: #f5f5f5; margin: 0 auto;">
  <div style="max-width: 600px; font-size: 14px; text-align: center; color: #666666; margin: 0 auto; font-family: Arial; padding-bottom: 10px">
    <div style="background-image: url(https://storage.googleapis.com/vedantu-fos-qa-public-media/feb/M_Wbnr_BG.png); height: 70px; ">
      <div style="background: linear-gradient(to right, rgba(254, 117, 69,.9), rgba(250, 87, 137,.9)); height: 90px"><img style="padding-top: 24px; width: 254px" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/feb/M_Wbnr_Logo_MasterClass.png" alt=""> </div>
    </div>
    <div style="padding: 20px 8%; background-color: #ffffff; ">
        <div>Hey {{Name}},</div>
      <div style="margin-top: 8px">Your Seat for LIVE MasterClass is Confirmed!</div>
      <div style="background-color: #f5f5f5; padding: 10px 20px; border-radius: 4px; margin-top: 10px">
          <div style="color: #333333; font-size: 16px; font-weight: bold; margin: 5px auto 0">{{Title}}</div>
        <div style="color: #999999; text-transform: uppercase; margin-top: 5px; font-size: 12px">{{Time}}</div>
        
      </div>
      <div style="margin: 15px auto 0; max-width: 480px;"> Join your Classroom by clicking on the button below. We will also send you a reminder 30 Mins before your Class!
 </div>
      <a style="background: linear-gradient(to right, rgba(254, 117, 69,1), rgba(250, 87, 137,1)); display: block; width: 250px; margin: 10px auto 0px; padding: 14px 0; color: #ffffff; text-decoration: none; font-size: 16px; border-radius: 4px" href="{{Link}}">Join the Class</a>
      <div style="margin-top: 10px; font-size: 12px; color: #999999">Also, we have added some new Master Classes to help you learn better. Click on the link below and explore more such amazing MasterClasses Now! <a href="https://vdnt.in/34BhH">Explore More Classes</a>  </div>
      
      <div style="height: 1px; background-color: #f5f5f5; margin-top: 20px"></div>
      <div style="margin-top: 20px">RECOMMENDED BROWSER</div>
      <div style="font-size: 12px; margin-top: 10px; color: #999999 ">For an optimal experience please use one of our recommended browsers:</div>
      <img style="width: 80px; margin-top: 20px" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/feb/M_Wbnr_Chrome.png" alt=""> </div>
    
  </div>
</div>
</body>
</html>