<div style="padding: 35px 8% 25px; min-height: 300px">
	<b>Dear {{studentName}},</b><br>
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">
		You are registered for <b>{{courseName}}</b> successfully. A payment
		link will be shared with you within next 24 hours. However, the link
		would direct you at all the steps to successfully make the payment,
		still if you face any concerns our student care team will get in touch
		with you to help you with the payment.
	</div>
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">After the
		successful payment you will receive the invoice for the payment made
		along with course schedule email having the link to schedule page.</div>

	<div style="margin: 15px 0px 40px;">
		V are here for you. Let us know if you need anything else. You can
		catch us on <b>{{displayMobileNumber}}</b> or email us at <a
			href="mailto:{{displayEmailId}}">{{displayEmailId}}</a>
	</div>
	<div style="margin: 5px 0px 0px">Happy Learning!</div>
	<div style="margin: 15px 0px 0px">Academically Yours,</div>
	<div style="margin: 5px 0px 40px">Team Vedantu</div>
</div>