<div style="padding: 35px 8% 25px; min-height: 300px">
	<b>Dear {{studentName}},</b><br>
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">
		You are enrolled for <b>{{courseName}}</b> successfully. Please click
		<a href="{{landingPageLink}}">here</a> to view the details of topic,
		schedule, session duration and key takeaways.
	</div>
	<div style="margin: 10px 0px 10px; padding-bottom: 5px">Once you
		are on the above page, you can join the session at the scheduled date
		and time by clicking on 'Join Now' button and entering the email ID
		used for making the payment.</div>
	<div style="margin: 15px 0px 40px;">
		V are here for you. Let us know if you need anything else. You can
		catch us on <b>{{displayMobileNumber}}</b> or email us at <a
			href="mailto:{{displayEmailId}}">{{displayEmailId}}</a>
	</div>

	<div style="margin: 5px 0px 0px">Happy Learning!</div>
	<div style="margin: 15px 0px 0px">Academically Yours,</div>
	<div style="margin: 5px 0px 40px">Team Vedantu</div>
</div>