<div>
    <b>Hey {{name}},</b> <br>
    <div style="margin: 10px 0px 15px; line-height: 22px;">You are
        all set to begin your journey with Vedantu! Your email is verified,
        profile up and ready for students and parents and your first session
        is round the corner.</div>
    <div style="margin: 10px 0px 15px; line-height: 22px;">
        We are sure you would like to understand the system a level deeper
        before you start engaging students for <b>Tuitions, Topics or
            Doubt Sessions.</b> We have created some extremely important videos which
        will help you understand the system better and ensure you are
        onboarded well. Please consider these videos as a compulsory watch, it
        will only ensure that your sessions are excellent and your ratings,
        reviews are taken care off.
    </div>
    <div style="padding: 12px 0px;">
        <div
            style="float: left; width: 20px; border-radius: 35px; background-color: rgb(230, 99, 47); color: rgb(255, 255, 255); font-size: 9px; text-align: center; padding-top: 2px; height: 18px; line-height: 12px;">
            <span
                style="display: inline-block; border-left: 5px solid #fff; border-top: 5px solid transparent; border-bottom: 5px solid transparent; margin: 3px 8px;"></span>
        </div>
        <div style="margin-left: 25px;">
            <a href="https://www.youtube.com/watch?v=wo3bKWJxyA0" target="_blank"
               style="text-decoration: none; color: #e6632f; font-size: 16px">Types
                of Engagement on Vedantu </span>
            </a>
        </div>
    </div>
    <div style="padding: 5px 0px 12px;">
        <div
            style="float: left; width: 20px; border-radius: 35px; background-color: rgb(230, 99, 47); color: rgb(255, 255, 255); font-size: 9px; text-align: center; padding-top: 2px; height: 18px; line-height: 12px;">
            <span
                style="display: inline-block; border-left: 5px solid #fff; border-top: 5px solid transparent; border-bottom: 5px solid transparent; margin: 3px 8px;"></span>
        </div>
        <div style="margin-left: 25px;">
            <a href="https://www.youtube.com/watch?v=bnE5V4dGtb8" target="_blank"
               style="text-decoration: none; color: #e6632f; font-size: 16px">How
                to take a session (Basics)</span>
            </a>
        </div>
    </div>
    <div style="padding: 5px 0px 12px;">
        <div
            style="float: left; width: 20px; border-radius: 35px; background-color: rgb(230, 99, 47); color: rgb(255, 255, 255); font-size: 9px; text-align: center; padding-top: 2px; height: 18px; line-height: 12px;">
            <span
                style="display: inline-block; border-left: 5px solid #fff; border-top: 5px solid transparent; border-bottom: 5px solid transparent; margin: 3px 8px;"></span>
        </div>
        <div style="margin-left: 25px;">
            <a href="https://www.youtube.com/watch?v=AcCEO64F_CA" target="_blank"
               style="text-decoration: none; color: #e6632f; font-size: 16px">How
                to prepare for the first session </span>
            </a>
        </div>
    </div>
    <div style="padding: 5px 0px 12px;">
        <div
            style="float: left; width: 20px; border-radius: 35px; background-color: rgb(230, 99, 47); color: rgb(255, 255, 255); font-size: 9px; text-align: center; padding-top: 2px; height: 18px; line-height: 12px;">
            <span
                style="display: inline-block; border-left: 5px solid #fff; border-top: 5px solid transparent; border-bottom: 5px solid transparent; margin: 3px 8px;"></span>
        </div>
        <div style="margin-left: 25px;">
            <a href="https://www.youtube.com/watch?v=KXO73TPvpeI" target="_blank"
               style="text-decoration: none; color: #e6632f; font-size: 16px">Using
                the reference content & your own content </span>
            </a>
        </div>
    </div>
    <div style="padding: 5px 0px 12px;">
        <div
            style="float: left; width: 20px; border-radius: 35px; background-color: rgb(230, 99, 47); color: rgb(255, 255, 255); font-size: 9px; text-align: center; padding-top: 2px; height: 18px; line-height: 12px;">
            <span
                style="display: inline-block; border-left: 5px solid #fff; border-top: 5px solid transparent; border-bottom: 5px solid transparent; margin: 3px 8px;"></span>
        </div>
        <div style="margin-left: 25px;">
            <a href="https://www.youtube.com/watch?v=vo_sCHsg9LY" target="_blank"
               style="text-decoration: none; color: #e6632f; font-size: 16px">Mastering
                the whiteboard </span>
            </a>
        </div>
    </div>
    <div style="padding: 5px 0px 12px;">
        <div
            style="float: left; width: 20px; border-radius: 35px; background-color: rgb(230, 99, 47); color: rgb(255, 255, 255); font-size: 9px; text-align: center; padding-top: 2px; height: 18px; line-height: 12px;">
            <span
                style="display: inline-block; border-left: 5px solid #fff; border-top: 5px solid transparent; border-bottom: 5px solid transparent; margin: 3px 8px;"></span>
        </div>
        <div style="margin-left: 25px;">
            <a href="https://www.youtube.com/watch?v=vo_sCHsg9LY" target="_blank"
               style="text-decoration: none; color: #e6632f; font-size: 16px">How
                to Schedule a session on Vedantu?</span>
            </a>
        </div>
    </div>
    <div style="padding: 5px 0px 12px;">
        <div
            style="float: left; width: 20px; border-radius: 35px; background-color: rgb(230, 99, 47); color: rgb(255, 255, 255); font-size: 9px; text-align: center; padding-top: 2px; height: 18px; line-height: 12px;">
            <span
                style="display: inline-block; border-left: 5px solid #fff; border-top: 5px solid transparent; border-bottom: 5px solid transparent; margin: 3px 8px;"></span>
        </div>
        <div style="margin-left: 25px;">
            <a href="https://www.youtube.com/watch?v=AydI3zw84Ec" target="_blank"
               style="text-decoration: none; color: #e6632f; font-size: 16px">How
                to Use Calendar and Mark Your Availability?</span>
            </a>
        </div>
    </div>
    <div style="margin: 15px 0px 15px; line-height: 22px;">We
        recommend you try the system entirely, right from logging in, to
        exploring all the offerings, trying the whiteboard well, ensure your
        internet connection is working well. You will soon start receiving
        session requests, post which you can speak with the student or parent,
        understand their requirements and then plan the first session. Post
        the first session, the user will decide on engaging with you over a
        longer term.</div>
    <div style="margin: 10px 0px 15px;">
        If you have any queries, you can write to us at: <a
            style="text-decoration: underline; color: #0370CB"
            href="mailto:teacher.care@vedantu.com">teacher.care@vedantu.com</a>
    </div>
    <div style="text-align: center; margin-bottom: 50px; margin-top: 37px;">
        <a href="{{loginUrl}}"
           style="color: rgb(255, 255, 255); background-color: rgb(230, 99, 47); padding: 12px 25px; border-radius: 5px; font-size: 16px; font-weight: bold; display: inline-block; /* width: 190px; */ cursor: pointer; text-decoration: none;">
            Login and Start Teaching</a>
    </div>