    <b style="">Hey {{name}}!</b>

                     <div style="margin-top: 20px; border-bottom: 1px solid rgb(221, 221, 221); padding-bottom: 12px;">
                        Welcome to the <b>world of knowledge democracy</b>, welcome to Vedantu! We congratulate 
                        you on taking this step which will bring immense satisfaction, bliss in your Life. 
                        Vedantu, is not just a learning platform, its much more, its an environment where 
                        <b>we shape lives </b>by helping learners fine tune not just their academic concepts but 
                        their <b>thought process</b>. 
                    </div>
                    <div style="margin: 18px 0px;"> 
                    You can now start counseling the Users and Sessions in Vedantu.  
                    </div>
                    
                   
                    <div style="text-align: center; margin-bottom: 55px; margin-top: 37px;">
                    <a href="{{loginUrl}}" 
                            style="color: rgb(255, 255, 255); background-color: rgb(230, 99, 47); padding: 12px 20px; 
                            border-radius: 5px; font-size: 16px; font-weight: bold;
                            display: inline-block;width: 190px;cursor:pointer;text-decoration:none;">
                            Login and Start Counseling</a>
                    </div>
                    
                    <div style="margin-bottom: 18px;">Lets join hands, lets do our bit in spreading the joy of Learning!
                    </div>
                    
                     <div style="margin: 20px 0px;">Happy Knowledge Sharing</div>
                    <div style="margin-top: 40px;">Academically Yours,</div>
                    <div style="margin-bottom: 70px;">V</div>
                     <div style="margin-bottom: 70px;">(V stands for Vedantu, but more importantly
                      V denotes 'We' which signifies whole team of Vedantu who are always there to help 
                      you and walk with you to make your academic journey interesting and you 
                      successful)</div>