<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="shortcut icon" href="https://alpha.vedantu.com/static/images/favicon.ico" type="image/x-icon"></link>
<title>Welcome</title>
</head>

<body style="margin: 0">
<div style="background-color:rgb(238,238,238);margin:0px auto;">
  <div style="margin:0px auto;font-family:arial;padding-bottom:30px; max-width:580px; padding-top: 10px">
    
    <div style="display: block; text-align: left; height: 20px"><img style="width: 90px" src="https://storage.googleapis.com/vedantu-fos-qa-public-media/feb/VedantuLogo_Orange.png" alt="" /></div>
    <div style="font-size:12px; background-color:rgb(255,255,255); border-top: 6px solid #e6632f; margin: 20px 2px; ">
      <div style="padding:10px 7% 25px;min-height:300px; line-height: 1.6em; color: #666666">
        <div style="text-align: right; margin-top: 10px">
          <div style="font-size: 13px;line-height: 26px; font-style: italic; font-weight: 600; color: #332e2b; background-color: #FFF5A0 ; padding:6px 4px; display: initial">I don't love studying. I hate studying. I like learning. Learning is beautiful.</div>
          <div style="font-size: 12px; line-height: 26px; font-style: italic;  color: #332e2b; display: block">- Natalie Portman</div>
        </div>
        <div style="margin-top: 5px; font-weight: bold; color: #333333">Hey {{name}},</div>
        <div style="margin-top: 15px;; color: #666666"><span style="font-weight: bold; color: #e6632f">Welcome to Vedantu </span>- The new age teaching & learning platform.</div>
        <div style="margin-top: 15px;; color: #666666">V are India’s biggest LIVE online teaching platform with over 450+ best teachers from across the country, delivering superior teaching to over 50,000+ students from 500+ cities and 20+ countries. <a style="font-size: 11px; color: #e6632f; text-decoration: underline;" href="https://www.youtube.com/watch?v=wC0ZxwEmpPQ&t=4s&utm_source=welcome_email">Watch how it works</a></div>
        <div style="margin-top: 10px;; color: #666666">V have courses for students from 5th to 12th grade which cover school needs, co-curricular needs and competitive exam preparation. V deliver courses in two formats:</div>
        <ul>
          <li style="; color: #666666">LIVE Interactive group classes with peer learning - <a style="font-size: 11px; color: #e6632f; text-decoration: underline;" href="https://www.vedantu.com/webinar/?utm_source=welcome_email&otpRequired=true">Try a FREE Class Now!</a></li>
          <li style="; color: #666666">Premium One-to-One LIVE classes - <a style="font-size: 11px; color: #e6632f; text-decoration: underline;" href="https://www.vedantu.com/v/find-me-a-teacher/introduction?utm_source=welcome_email">Find the Best Teacher</a></li>
        </ul>
        <div style="margin-top: 10px;; color: #666666">You can explore more courses on Vedantu <a style="font-size: 11px; color: #e6632f; text-decoration: underline;" href="https://www.vedantu.com/courses?utm_source=welcome_email">here</a></div>
        <div style="margin-top: 10px;; color: #666666">V wish you the best in all your academic endeavours. Do awesome!</div>
        <div style="margin:20px 0px 0; color: #666666">Vamsi Krishna,</div>
        <div style="margin-bottom: 26px; font-size: 11px; color: #666666">CEO & Co-Founder, Vedantu</div>
        <div style="height: 1px; background-color: #eeeeee; margin: 15px 0"></div>
        <div style="; color: #666666">Some of our best teachers sharing their experiences <a style="font-size: 11px; color: #e6632f; text-decoration: underline;" href="https://www.youtube.com/watch?v=HVzleXYti3I&name=teachers&utm_source=welcome_email">watch here</a></div>
        <div style="; color: #666666">Students & their parents sharing their Vedantu experience <a style="font-size: 11px; color: #e6632f; text-decoration: underline;" href="https://www.youtube.com/watch?v=-O1cemncQuY&utm_source=welcome_email">watch here</a></div>
        <div style="text-align:center; border-top:1px solid #eeeeee; padding: 30px 0px 15px; font-size:11px; color:#999999; margin-top: 15px"> This is a system
          generated email. Please do not reply. </div>
      </div>
    </div>
    <div style="text-align:center;font-size:12px">
      <div style="margin-top:25px;color:rgb(102,102,102)">For queries, drop us a mail at <a href="mailto:vcare@vedantu.com" style="color:rgb(230,99,47);text-decoration:none" target="_blank">vcare@vedantu.com</a></div>
      <div style="margin-top:9px"> <a href="http://blog.vedantu.com/" style="text-decoration:none;color:rgb(230,99,47)" target="_blank">Blog</a><span style="color:rgb(230,99,47);margin:0px 2px 0px 7px">|</span> <a href="https://twitter.com/vedantu_learn" style="text-decoration:none;color:rgb(230,99,47)" target="_blank">Twitter</a><span style="color:rgb(230,99,47);margin:0px 2px 0px 7px">|</span> <a style="text-decoration:none;color:rgb(230,99,47)" href="http://www.facebook.com/VedantuInnovations" target="_blank">Facebook</a> <span style="color:rgb(230,99,47);margin:0px 2px 0px 7px">|</span> <a style="text-decoration:none;color:rgb(230,99,47)" href="https://www.youtube.com/user/VedantuInnovations" target="_blank">Youtube</a> </div>
    </div>
  </div>
</div>
</body>
</html>